<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.delivery.DjDeliveryReturnSlipMapper">


    <select id="querySupplyDeliverTaskList" resultType="com.dangjia.acg.dto.delivery.DjDeliveryReturnSlipDTO">
        SELECT
        dsd.id as splitId,
        dsd.storefront_id as shopId,
        dsd.number as number,
        dsd.create_date as createDate,
        dsd.ship_address as shipAddress,
        dsd.ship_name as shipName,
        dsd.ship_mobile as shipMobile,
        dsd.shipping_state as shippingState,
        dsd.total_amount as totalAmount,
        1 as invoiceType,
        c.status,
        dsd.house_id as houseId,
        dsd.supplier_id as supId
        FROM
        dj_deliver_split_deliver dsd
        LEFT JOIN dj_complain c on c.business_id=dsd.id
        WHERE dsd.supplier_id =#{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            dsd.number LIKE CONCAT('%',#{searchKey},'%') or
            dsd.ship_address LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="null!=invoiceStatus and ''!=invoiceStatus">
            AND dsd.shipping_state=#{invoiceStatus}
        </if>
        and dsd.city_id=#{cityId}
        and dsd.shipping_state!=3
        ORDER BY dsd.create_date desc
    </select>

    <select id="querySupplyRepairTaskList" resultType="com.dangjia.acg.dto.delivery.DjDeliveryReturnSlipDTO">
        SELECT
        rmd.id as splitId,
        rmd.storefront_id as shopId,
        rmd.number as number,
        rmd.create_date as createDate,
        rmd.ship_address as shipAddress,
        rmd.ship_mobile as shipMobile,
        rmd.ship_name as shipName,
        rmd.shipping_state as shippingState,
        rmd.total_amount as totalAmount,
        2 as invoiceType,
        rmd.house_id as houseId,
        rmd.supplier_id as supId
        FROM
        dj_repair_mend_deliver rmd
        WHERE rmd.supplier_id =#{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            rmd.number LIKE CONCAT('%',#{searchKey},'%') or
            rmd.ship_address LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test='null!=invoiceStatus and ""!=invoiceStatus and invoiceStatus!="0"'>
            AND rmd.shipping_state=#{invoiceStatus}
        </if>
        <if test='invoiceStatus=="0"'>
            AND (
            rmd.shipping_state=0 or
            rmd.shipping_state=1
            )
        </if>
        and rmd.city_id=#{cityId}
        ORDER BY rmd.create_date desc
    </select>

    <select id="querySupplyTaskList" resultType="com.dangjia.acg.dto.delivery.DjDeliveryReturnSlipDTO">
        SELECT
        splitId,
        shopId,
        number,
        createDate,
        shipAddress,
        shipName,
        shipMobile,
        shippingState,
        totalAmount,
        invoiceType,
        STATUS,
        houseId,
        supId
        FROM (
        SELECT
        dsd.id as splitId,
        dsd.storefront_id as shopId,
        dsd.number as number,
        dsd.create_date as createDate,
        dsd.ship_address as shipAddress,
        dsd.ship_name as shipName,
        dsd.ship_mobile as shipMobile,
        dsd.shipping_state as shippingState,
        dsd.total_amount as totalAmount,
        1 as invoiceType,
        c.status,
        dsd.house_id as houseId,
        dsd.supplier_id as supId
        FROM
        dj_deliver_split_deliver dsd
        LEFT JOIN dj_complain c on c.business_id=dsd.id
        WHERE dsd.supplier_id =#{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            dsd.number
            LIKE CONCAT('%',#{searchKey},'%') or
            dsd.ship_address LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and dsd.city_id=#{cityId}
        and dsd.shipping_state!=3
        UNION ALL
        SELECT
        rmd.id as splitId,
        rmd.storefront_id as shopId,
        rmd.number as number,
        rmd.create_date as createDate,
        rmd.ship_address as shipAddress,
        rmd.ship_mobile as shipMobile,
        rmd.ship_name as shipName,
        rmd.shipping_state as shippingState,
        rmd.total_amount as totalAmount,
        2 as invoiceType,
        null as status,
        rmd.house_id as houseId,
        rmd.supplier_id as supId
        FROM
        dj_repair_mend_deliver rmd
        WHERE rmd.supplier_id =#{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            rmd.number LIKE CONCAT('%',#{searchKey},'%') or
            rmd.ship_address LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and rmd.city_id=#{cityId}
        )a ORDER BY createDate desc
    </select>

    <!--<update id="setDeliveryTask">-->
    <!--UPDATE dj_delivery_return_slip drs-->
    <!--INNER JOIN dj_delivery_return_slip_details drsd ON drs.id = drsd.delivery_return_slip_id-->
    <!--SET drs.invoice_status = #{invoiceStatus},-->
    <!--drsd.invoice_status = #{invoiceStatus}-->
    <!--WHERE-->
    <!--drs.id = #{id}-->
    <!--</update>-->

    <update id="setDeliveryTask">
        UPDATE
        <if test="invoiceType==1">
            dj_deliver_split_deliver
            set shipping_state=1
        </if>
        <if test="invoiceType==2">
            dj_repair_mend_deliver
            set shipping_state=#{shippingState}
        </if>
        where id=#{id}
    </update>

    <select id="querySupplierSettlementManagement"
            resultType="com.dangjia.acg.dto.delivery.SupplierSettlementManagementDTO">
        SELECT
        storefront_id as shopId,
        sum(count) as count,
        supplier_id as supId
        FROM
        (
        SELECT
        supplier_id,
        count(0) AS count,
        storefront_id
        FROM
        dj_deliver_split_deliver
        WHERE
        supplier_id = #{supId}
        <if test="applyState==1">
            and apply_state = 0
        </if>
        <if test="applyState==2">
            and (
            apply_state =1 or
            apply_state=2
            )
        </if>
        and city_id=#{cityId}
        <if test="null!=storefronts and storefronts.size>0">
            and storefront_id in
            <foreach collection="storefronts" index="index" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
        GROUP BY storefront_id
        UNION ALL
        SELECT
        supplier_id,
        count(0) AS count,
        storefront_id
        FROM
        dj_repair_mend_deliver
        WHERE
        supplier_id = #{supId}
        <if test="applyState==1">
            and apply_state = 0
        </if>
        <if test="applyState==2">
            and (
            apply_state =1 or
            apply_state=2
            )
        </if>
        and city_id=#{cityId}
        <if test="null!=storefronts and storefronts.size>0">
            and storefront_id in
            <foreach collection="storefronts" index="index" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
        GROUP BY storefront_id
        ) a
        GROUP BY storefront_id
    </select>

    <!--<select id="querySupplierSettlementList" resultType="com.dangjia.acg.modle.delivery.DjDeliveryReturnSlip">-->
    <!--SELECT-->
    <!--drs.id,-->
    <!--drs.create_date as createDate,-->
    <!--drs.ship_address as shipAddress,-->
    <!--drs.ship_name as shipName,-->
    <!--drs.apply_state as applyState,-->
    <!--drs.apply_money as applyMoney-->
    <!--FROM-->
    <!--dj_delivery_return_slip drs-->
    <!--WHERE 1=1-->
    <!--<if test="applyState==1">-->
    <!--and apply_state = 0-->
    <!--</if>-->
    <!--<if test="applyState==2">-->
    <!--and apply_state in(1,2)-->
    <!--</if>-->
    <!--and drs.sup_id=#{supId}-->
    <!--and drs.shop_id=#{shopId}-->
    <!--</select>-->
    <select id="querySupplierSettlementList" resultType="com.dangjia.acg.dto.delivery.DjDeliveryReturnSlipDTO">
        SELECT
        number,
        supplier_id as supId,
        storefront_id as shopId,
        create_date as createDate,
        ship_address as shipAddress,
        ship_name as shipName,
        apply_state as applyState,
        invoiceType,
        sum(applyMoney) as applyMoney,
        splitId,
        houseId
        FROM
        (
        SELECT
        dsd.number,
        dsd.supplier_id,
        dsd.storefront_id,
        dos.create_date,
        dsd.ship_address,
        dsd.ship_name,
        dsd.apply_state,
        dsd.id as splitId,
        1 as invoiceType,
        dsd.apply_money as applyMoney,
        dsd.house_id as houseId
        FROM
        dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split dos ON dsd.order_split_id = dos.id
        UNION ALL
        SELECT
        rmd.number,
        rmd.supplier_id,
        rmd.storefront_id,
        rmo.create_date,
        rmd.ship_address,
        rmd.ship_name,
        rmd.apply_state,
        rmd.id as splitId,
        2 as invoiceType,
        rmd.apply_money as applyMoney,
        rmd.house_id as houseId
        FROM
        dj_repair_mend_deliver rmd
        INNER JOIN dj_repair_mend_order rmo ON rmd.mend_order_id = rmo.id
        ) a
        WHERE supplier_id =#{supId}
        AND storefront_id =#{shopId}
        <if test="applyState==1">
            and apply_state = 0
        </if>
        <if test="applyState==2">
            and (
            apply_state =1 or
            apply_state=2
            )
        </if>
    </select>

    <!--<select id="queryBuyersDimensionList" resultType="com.dangjia.acg.dto.delivery.BuyersDimensionDTO">-->
    <!--SELECT-->
    <!--drs.sup_id AS supId,-->
    <!--ha.address,-->
    <!--m. NAME,-->
    <!--m.mobile,-->
    <!--sum(drsd.quantity) AS supplyQuantity,-->
    <!--sum(drsd.total_prices) AS income,-->
    <!--h.id as houseId-->
    <!--FROM-->
    <!--dj_delivery_return_slip drs-->
    <!--INNER JOIN dj_house h ON drs.house_id = h.id-->
    <!--INNER JOIN dj_house_address ha ON h.id = ha.house_id-->
    <!--INNER JOIN dj_member m ON h.member_id = m.id-->
    <!--INNER JOIN dj_delivery_return_slip_details drsd ON drsd.delivery_return_slip_id = drs.id-->
    <!--WHERE drs.sup_id =#{supId}-->
    <!--<if test="null!=searchKey and ''!=searchKey">-->
    <!--AND (-->
    <!--ha.address LIKE CONCAT('%',#{searchKey},'%') or-->
    <!--m. NAME LIKE CONCAT('%',#{searchKey},'%') or-->
    <!--m.mobile LIKE CONCAT('%',#{searchKey},'%')-->
    <!--)-->
    <!--</if>-->
    <!--GROUP BY h.id-->
    <!--</select>-->

    <select id="queryBuyersDimensionList" resultType="com.dangjia.acg.dto.delivery.BuyersDimensionDTO">
        SELECT
        dsd.supplier_id AS supId,
        dsd.ship_address AS shipAddress,
        m. NAME,
        m.mobile,
        sum(dosi.shop_count) AS supplyQuantity,
        sum(dsd.total_amount) AS income,
        h.id AS houseId
        FROM
        dj_deliver_split_deliver dsd
        INNER JOIN dj_house h ON dsd.house_id = h.id
        INNER JOIN dj_member m ON m.id = h.member_id
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE dsd.supplier_id = #{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            dsd.ship_address LIKE CONCAT('%',#{searchKey},'%') or
            m. NAME LIKE CONCAT('%',#{searchKey},'%') or
            m.mobile LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and dsd.city_id=#{cityId}
        GROUP BY h.id
    </select>


    <select id="queryBuyersDimensionDetailList" resultType="com.dangjia.acg.dto.delivery.BuyersDimensionDetailsDTO">
        SELECT
            dsd.id AS orderSplitId,
            dsd.number,
            dsd.send_time as createDate,
            sum(dosi.shop_count) as shopCount,
            dsd.total_amount as totalAmount
        FROM
            dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
            dsd.house_id = #{houseId}
        AND dsd.supplier_id = #{supId}
        and dsd.city_id=#{cityId}
        GROUP BY
            dsd.number
    </select>

    <select id="querySupplyDimensionList" resultType="com.dangjia.acg.dto.delivery.BuyersDimensionDTO">
        SELECT
            dsd.house_id as houseId,
            dsd.ship_address as shipAddress,
            dsd.supplier_id as supId,
            sum(dosi.num) as supplyQuantity,
	        sum(sup_cost) as income
        FROM
            dj_deliver_order_split_item dosi
        INNER JOIN dj_deliver_split_deliver dsd ON dsd.id = dosi.split_deliver_id
        INNER JOIN dj_basics_storefront_product bsp ON dosi.product_id=bsp.id
        WHERE
            bsp.prod_template_id = #{productId}
        AND dsd.supplier_id = #{supId}
        AND dosi.city_id=#{cityId}
        GROUP BY dsd.house_id
    </select>


    <select id="querySupplierStoreDimensionList" resultType="com.dangjia.acg.dto.delivery.SupplierStoreDimensionDTO">
        SELECT
            dsd.storefront_id AS shopId,
            sum(dosi.num) as totalNumberSupply,
            sum(total_price) as income,
            dsd.supplier_id as supId
        FROM
            dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
            dsd.supplier_id =#{supId}
        and dsd.storefront_id =#{shopId}
        and dsd.city_id=#{cityId}
        GROUP BY
            dsd.storefront_id
    </select>


    <select id="querySupplierStoreDimensionDetailList"
            resultType="com.dangjia.acg.dto.delivery.BuyersDimensionDetailsDTO">
        SELECT
        dsd.id AS orderSplitId,
        dsd.number,
        dsd.send_time as createDate,
        sum(dosi.shop_count) as shopCount,
        dsd.total_amount as totalAmount
        FROM
        dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
        dsd.storefront_id = #{shopId}
        AND dsd.supplier_id = #{supId}
        and dsd.city_id=#{cityId}
        <if test="null!=searchKey and ''!=searchKey">
            AND dsd.number LIKE CONCAT('%',#{searchKey},'%')
        </if>
        GROUP BY
        dsd.number
    </select>

    <select id="storefrontProductDimensionDetail" resultType="com.dangjia.acg.dto.delivery.StoreSupplyDimensionDetailDTO">
            SELECT
                dsd.number,
                -- 发货单号
                dsd.house_id AS houseId,
                -- 房子id
                dsd.ship_address AS shipAddress,
                -- 房子地址
                dsd.submit_time as submitTime,
                -- 下单时间
                dsd.supplier_id AS supId,
                -- 供应商id
                IFNULL(dosi.num,'') AS supplyQuantity,
                -- 本次供货数
                IFNULL(dsd.total_amount,'') AS totalAmount,
                -- 销售价(发货单总额)
                IFNULL(dsd.apply_money,'') AS applyMoney,
                -- 成本价（供应商结算价格）
             	sum(dosi.sup_cost) as profit-- 利润
            FROM
                dj_deliver_order_split_item dosi -- 要货单明细
            INNER JOIN dj_deliver_split_deliver dsd ON dsd.id = dosi.split_deliver_id -- 发货单详情
            INNER JOIN dj_basics_storefront_product bsp ON dosi.product_id = bsp.prod_template_id -- 店铺商品
            WHERE
                1 = 1
            AND bsp.prod_template_id = #{productId}
            AND dsd.storefront_id = #{storefrontId}
            AND dosi.city_id = #{cityId}
            GROUP BY
            dsd.house_id
    </select>


    <!--店铺利润-商品维度-->
    <select id="storefrontProductDimension" resultType="com.dangjia.acg.dto.delivery.StoreSupplyDimensionDTO">
        SELECT
        bsp.image,
        -- 图片
        bsp.product_name AS productName,
        -- 商品名称
        bpt.product_sn AS productSn,
        -- 商品编号
        bsp.prod_template_id AS prodTemplateId,
        -- 商品id
        doi.shop_count AS shopCount,
        -- 总购买数
        bsp.supplied_num AS suppliedNum,
        -- 供货数
        IFNULL(sum(doi.cost),'') AS cost,
        -- 成本总价
        IFNULL(sum(doi.price),'') AS price,
        -- 销售总价
        IFNULL(
        sum(doi.price) - sum(doi.cost),
        ''
        ) AS profit,
        -- 利润
        doi.product_id AS productId -- 商品id
        FROM
        dj_basics_storefront_product bsp -- 店铺商品
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id -- 商品模板
        INNER JOIN dj_deliver_order_item doi ON doi.product_id = bpt.id -- 订单详情
        WHERE
        1 = 1
        AND bsp.data_status = 0
        AND bsp.is_shelf_status = 1
        AND bsp.storefront_id = #{storefrontId}
        <if test = "null!=searchKey and ''!=searchKey" >
            AND (
            bsp.product_name LIKE CONCAT('%',#{searchKey},'%') or
            bpt.product_sn LIKE CONCAT('%', #{searchKey},'%')
            )
        </if>
        GROUP BY
        bsp.prod_template_id
    </select>

    <!--店铺利润-供应商维度-->
    <select id="supplierDimension" resultType="com.dangjia.acg.dto.delivery.StoreSupplierDimensionDTO">
        SELECT
            dsd.storefront_id AS storefrontId,-- 店铺id
            IFNULL(sum(dsd.total_amount),'') AS income, -- 收入
            IFNULL(sum(dsd.apply_money),'') AS expenditure,-- 支出
            IFNULL(sum(dsd.total_amount)-sum(dsd.apply_money),'') AS profit, -- 利润
            dsd.supplier_id AS supId -- 供应商id
        FROM
            dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
            dsd.supplier_id = #{supId} AND dsd.storefront_id = #{storefrontId} AND dsd.city_id = #{cityId}
        GROUP BY
            dsd.supplier_id
    </select>

    <!--店铺利润-买家维度    -->
    <select id="sellerDimension" resultType="com.dangjia.acg.dto.delivery.StoreBuyersDimensionDTO">
        SELECT
        IFNULL(dsd.storefront_id ,'') as storefrontId, -- 店铺id
        IFNULL(dsd.ship_address ,'')AS shipAddress, -- 房子地址
        m. NAME, -- 业主姓名
        IFNULL(sum(dsd.total_amount),'') AS income, -- 收入
        IFNULL(sum(dsd.apply_money),'') AS expenditure,-- 支出
        sum(dsd.total_amount)- IFNULL(dsd.apply_money,'')AS profit, -- 利润
        h.id AS houseId -- 房子id
        FROM
        dj_deliver_split_deliver dsd  -- 后台生成发货单
        INNER JOIN dj_house h ON dsd.house_id = h.id -- 房子
        INNER JOIN dj_member m ON m.id = h.member_id -- 工人
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id -- 要货单明细
        WHERE dsd.storefront_id = #{storefrontId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            dsd.ship_address LIKE CONCAT('%',#{searchKey},'%') or
            m.NAME LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and dsd.city_id=#{cityId}
        GROUP BY h.id
    </select>

    <select id="sellerDimensionById" resultType="com.dangjia.acg.dto.delivery.StoreBuyersDimensionDTO">
        SELECT
        IFNULL(dsd.storefront_id ,'') as storefrontId, -- 店铺id
        IFNULL(dsd.ship_address ,'')AS shipAddress, -- 房子地址
        m. NAME, -- 业主姓名
        IFNULL(sum(dsd.total_amount),'') AS income, -- 收入
        IFNULL(sum(dsd.apply_money),'') AS expenditure,-- 支出
        sum(dsd.total_amount)- IFNULL(dsd.apply_money,'')AS profit, -- 利润
        h.id AS houseId -- 房子id
        FROM
        dj_deliver_split_deliver dsd  -- 后台生成发货单
        INNER JOIN dj_house h ON dsd.house_id = h.id -- 房子
        INNER JOIN dj_member m ON m.id = h.member_id -- 工人
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id -- 要货单明细
        WHERE  1=1 and dsd.id=#{orderSplitId}
    </select>

    <select id="sellerDimensionDetail" resultType="com.dangjia.acg.dto.delivery.StoreBuyersDimensionDetailDTO">
       SELECT
            dsd.id AS orderSplitId,
            dsd.number,
            dsd.send_time AS createDate,
            IFNULL(dosi.price, '') AS price,
            IFNULL(dosi.cost, '') AS cost,
            IFNULL(total_amount, '') - IFNULL(apply_money, '') AS profit
        FROM
            dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
            dsd.house_id = #{houseId}
        AND dsd.storefront_id = #{storefrontId}
        AND dsd.city_id = #{cityId}
        GROUP BY
	dsd.number
    </select>

    <select id="shippingDetails" resultType="com.dangjia.acg.dto.delivery.StoreBuyersDimensionOrderDetailDTO">
          SELECT
                IFNULL(bsp.product_name,'') as productName, -- 商品名称
                IFNULL(bsp.image,'') as image,-- 商品图片
                IFNULL(bpt.product_sn,'') as productSn,-- 商品编号
                IFNULL(dosi.num,'') as num ,-- 发货数量
                IFNULL(dosi.receive,'') as receive,-- 收货数量
                IFNULL(dosi.cost,'') as cost,-- 成本单价
                IFNULL(dosi.total_price,'') * IFNULL(dosi.num,'') as costTotalPrice,-- 成本总价
                IFNULL(bsp.sell_price,'') as sellPrice,-- 销售价
                IFNULL(bsp.sell_price,'') * IFNULL( dosi.num,'') as sellTotalPrice-- 销售总价
            FROM
                dj_deliver_order_split_item dosi -- 要货单明细
            INNER JOIN dj_deliver_split_deliver dsd ON dsd.id = dosi.split_deliver_id -- 发货单详情
            INNER JOIN dj_basics_storefront_product bsp ON dosi.product_id = bsp.prod_template_id -- 店铺商品
            INNER JOIN dj_basics_product_template bpt on bpt.id=dosi.product_id
            WHERE
                1 = 1 and
            dosi.order_split_id=#{orderSplitId}
            GROUP BY
            dsd.house_id
    </select>

    <select id="supplierDimensionSupplyDetails" resultType="com.dangjia.acg.dto.delivery.SupplierDimensionSupplyDTO" >
        SELECT
        IFNULL(dsd.storefront_id ,'') as storefrontId, -- 店铺id
        IFNULL(dsd.ship_address ,'')AS shipAddress, -- 房子地址
        m.NAME, -- 业主姓名
        m.mobile,-- 电话号码
        IFNULL(sum(dsd.total_amount),'') AS income, -- 收入
        IFNULL(sum(dsd.apply_money),'') AS expenditure,-- 支出
        IFNULL(sum(dsd.total_amount)-sum(dsd.apply_money),'')AS profit, -- 利润
        h.id AS houseId -- 房子id
        FROM
        dj_deliver_split_deliver dsd  -- 后台生成发货单
        INNER JOIN dj_house h ON dsd.house_id = h.id -- 房子
        INNER JOIN dj_member m ON m.id = h.member_id -- 工人
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id -- 要货单明细
        WHERE dsd.storefront_id = #{storefrontId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            dsd.ship_address LIKE CONCAT('%',#{searchKey},'%') or
            m.NAME LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and dsd.city_id=#{cityId}
        GROUP BY h.id
    </select>

<!--店铺利润统计-供应商货单详情-->
    <select id="supplierDimensionOrderDetails" resultType="com.dangjia.acg.dto.delivery.SupplierDimensionOrderDetailDTO">
           SELECT
            dsd.id AS orderSplitId,
            IFNULL(dsd.number,'') as number,
            IFNULL(dsd.send_time,'') AS createDate,
            IFNULL(dosi.price*dosi.num, '') AS income,
            IFNULL(dosi.cost*dosi.num, '') AS expenditure,
            IFNULL(dosi.price*dosi.num, '') - IFNULL(dosi.cost*dosi.num, '') AS profit
        FROM
            dj_deliver_split_deliver dsd
        INNER JOIN dj_deliver_order_split_item dosi ON dsd.id = dosi.split_deliver_id
        WHERE
             dsd.house_id = #{houseId}
        AND dsd.storefront_id = #{storefrontId}
        AND dsd.city_id = #{cityId}
        GROUP BY
	    dsd.number
    </select>
    <!--店铺利润统计-供应商商品详情-->
    <select id="supplierDimensionGoodsDetails" resultType="com.dangjia.acg.dto.delivery.SupplierDimensionGoodsDetailDTO">
        SELECT
        IFNULL(bsp.image,'') as image,-- 商品图片
        IFNULL(bsp.product_name,'') AS productName,-- 商品名称
        IFNULL(bpt.product_sn,'') AS productSn,-- 商品编号
        IFNULL(dosi.num,'') as num,-- 发货数量
        IFNULL(dosi.receive,'') as receiveCount,-- 收货数量
        IFNULL(dosi.cost,'') as cost,-- 成本单价
        IFNULL(dosi.cost*dosi.num,'') as totalCost,-- 成本总价
        IFNULL(dosi.price,'') as price,-- 销售价
        IFNULL(dosi.num*dosi.price,'') as totalPrice,-- 销售总价
        IFNULL(dosi.product_id,'') AS productId -- 商品id
        FROM
        dj_deliver_order_split_item dosi  -- 店铺商品
        INNER JOIN dj_basics_product_template bpt ON dosi.product_id = bpt.id -- 商品模板
        INNER JOIN dj_basics_storefront_product bsp ON dosi.product_id = bsp.prod_template_id -- 订单详情
        WHERE
        1 = 1
        AND bsp.data_status = 0
        AND bsp.is_shelf_status = 1
        AND dosi.storefront_id = #{storefrontId}
        AND dosi.order_split_id=#{orderSplitId}
        GROUP BY
        dosi.product_id
    </select>
</mapper>