<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.delivery.DjDeliveryReturnSlipMapper">



    <select id="querySupplyTaskList" resultType="com.dangjia.acg.dto.delivery.DjDeliveryReturnSlipDTO">
        SELECT
            drs.shop_id,
            drs.id,
            drs.create_date,
            hd.address,
            drs.ship_name,
            drs.ship_mobile,
            drs.invoice_status,
            drs.total
        FROM
            dj_delivery_return_slip drs
        INNER JOIN dj_house h ON h.id = drs.house_id
        INNER JOIN dj_house_address hd ON hd.house_id = h.id
        where drs.sup_id=#{supId}
        <if test="null!=searchKey and ''!=searchKey">
          AND (
            drs.id LIKE CONCAT('%',#{searchKey},'%') or
            hd.address LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="null!=invoiceStatus and ''!=invoiceStatus">
          AND drs.invoice_status=#{invoiceStatus}
        </if>
    </select>

    <update id="setDeliveryTask">
        UPDATE dj_delivery_return_slip drs
        INNER JOIN dj_delivery_return_slip_details drsd ON drs.id = drsd.delivery_return_slip_id
        SET drs.invoice_status = #{invoiceStatus},
         drsd.invoice_status = #{invoiceStatus}
        WHERE
            drs.id = #{id}
    </update>

    <select id="querySupplierSettlementManagement"
            resultType="com.dangjia.acg.dto.delivery.SupplierSettlementManagementDTO">
        SELECT
            count(0) as count,
            shop_id as shopId,
            sup_id as supId
        FROM
            dj_delivery_return_slip
        WHERE
        sup_id=#{supId}
        <if test="applyState==1">
            and apply_state = 0
        </if>
        <if test="applyState==2">
            and apply_state in(1,2)
        </if>
        GROUP BY
            shop_id
    </select>

    <select id="querySupplierSettlementList" resultType="com.dangjia.acg.modle.delivery.DjDeliveryReturnSlip">
        SELECT
            drs.id,
            drs.create_date,
            drs.ship_address,
            drs.ship_name,
            drs.apply_state,
            drs.apply_money
        FROM
            dj_delivery_return_slip drs
        WHERE
            <if test="applyState==1">
                and apply_state = 0
            </if>
            <if test="applyState==2">
                and apply_state in(1,2)
            </if>
            and drs.sup_id=#{supId}
	        and drs.shop_id=#{shopId}
    </select>

</mapper>