<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.design.IHouseDesignImageMapper">
    <sql id="all_columns">
		id,
		house_id as houseId,
		business_order_number as businessOrderNumber,
		design_image_type_id as designImageTypeId,
		imageurl,
		sell,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>


    <!-- 查询平面图 -->
    <select id="planeGraph" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.design.HouseDesignImage">
        SELECT
            <include refid="all_columns"/>
        FROM dj_design_house_design_image
        where
            design_image_type_id = '1'
        and house_id = #{houseId}
    </select>

    <!-- 根据orderId查询 -->
    <select id="byNumber" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.design.HouseDesignImage">
        SELECT
            <include refid="all_columns"/>
        FROM dj_design_house_design_image
        where
            sell = 1
        and business_order_number = #{businessOrderNumber}
        and house_id = #{houseId}
    </select>


    <select id="queryHouseDesignImage" resultType="com.dangjia.acg.dto.design.HouseDesignImageDTO">
        SELECT
            h.house_id as houseId,
            h.design_image_type_id as designImageTypeId,
            h.imageurl,
            h.sell,
            t.name,
            h.imageurl image ,
            t.price
        FROM
           dj_design_house_design_image h
           INNER JOIN	 dj_design_design_image_type t on h.design_image_type_id=t.id
        WHERE
        h.house_id= #{houseId}
        ORDER BY
        t.sort,
        t.create_date;
    </select>
</mapper>

