<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.worker.IWorkIntegralMapper">
    <sql id="new_columns">
        hi.id,
        hi.create_date as createDate,
        hi.modify_date as modifyDate,
        hi.butler_id as butlerId,
        hi.house_id as houseId,
        hi.integral,
        hi.member_id as memberId,
        hi.star,
        hi.status,
        hi.worker_id as workerId,
        hi.data_status as dataStatus,
        hi.briefed
    </sql>
    <!--积分流水 -->
    <select id="queryWorkIntegral" resultType="com.dangjia.acg.dto.worker.WorkIntegralDTO">
        SELECT <include refid="new_columns" />,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        IFNULL(CONCAT(h.unit, '单元'),'' ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName
        FROM
        `dj_worker_work_integral` hi
        LEFT JOIN dj_house h ON hi.house_id = h.id
        WHERE
        hi.worker_id = #{workerId}
        ORDER BY hi.create_date DESC
    </select>


    <!--飙升榜 -->
    <select id="querySoaringWorker" resultType="com.dangjia.acg.dto.worker.WorkerRunkDTO">
        SELECT
            a.workerId,
            a.workerHead,
            a.workerName,
            a.integral ,@rank :=@rank + 1 AS rankNo
        FROM
            (
                SELECT
                    m.id workerId,
                    m.head workerHead,
                    m.`name` workerName,
                    SUM(IFNULL(hi.integral, 0)) integral
                FROM
                    dj_member m
                LEFT JOIN `dj_worker_work_integral` hi ON m.id = hi.worker_id
                WHERE
                    (
                        hi.create_date BETWEEN  #{startTime}
                        AND   #{endTime}
                    )
                <if test="workerType!=null and workerType > 3 ">
                    m.worker_type > 3
                </if>
                <if test="workerType!=null and workerType = 3 ">
                    m.worker_type = 3
                </if>
                GROUP BY
                    m.id
                ORDER BY
                    integral DESC,
                    m.create_date
            ) a,
            (SELECT @rank := 0) b
    </select>

    <!--排行榜 -->
    <select id="queryRankingWorker" resultType="com.dangjia.acg.dto.worker.WorkerRunkDTO">
        SELECT
            a.workerId,
            a.workerHead,
            a.workerName,
            a.integral ,@rank :=@rank + 1 AS rankNo
        FROM
            (
                SELECT
                    m.id workerId,
                    m.head workerHead,
                    m.`name` workerName,
                    SUM(
                        IFNULL(m.evaluation_score, 0)
                    ) integral
                FROM
                    dj_member m
                WHERE
                    <if test="workerType!=null and workerType > 3 ">
                        m.worker_type > 3
                    </if>
                    <if test="workerType!=null and workerType = 3 ">
                        m.worker_type = 3
                    </if>
                GROUP BY
                    m.id
                ORDER BY
                    integral DESC,
                    m.create_date
                LIMIT 20
            ) a,
            (SELECT @rank := 0) b
    </select>
</mapper>

