<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.worker.IWorkerDetailMapper">

<sql id="new_columns">
    id,
    name,
    worker_id as workerId,
    worker_name as workerName,
    house_id as houseId,
    money,
    state,
    defined_worker_id as definedWorkerId,
    defined_name as definedName,
    have_money as haveMoney,
    house_worker_order_id as houseWorkerOrderId,
    apply_money as applyMoney,
    wallet_money as walletMoney,
    create_date as createDate,
    modify_date as modifyDate
</sql>

    <!--统计总收入钱 -->
    <select id="incomeMoney" resultType="java.lang.Double">
        select sum(money)
        from dj_worker_worker_detail
        where worker_id=#{workerId}
        and (state=0 or state=2)
    </select>

    <!--收入 -->
    <select id="incomeDetail" resultType="com.dangjia.acg.modle.worker.WorkerDetail">
        select
            <include refid="new_columns" />
        from dj_worker_worker_detail
        where worker_id=#{workerId}
        and (state=0 or state=2)
        ORDER BY create_date DESC
    </select>

    <!--所有订单流水 -->
    <select id="getAllWallet" resultType="com.dangjia.acg.modle.worker.WorkerDetail">
        select
        <include refid="new_columns" />
        from dj_worker_worker_detail
        where 1=1
        <if test="workerId!=null and workerId!=''">
            and worker_id=#{workerId}
        </if>
        <if test="houseId!=null and houseId!=''">
            and house_id=#{houseId}
        </if>
        ORDER BY create_date DESC
    </select>

    <!--统计总支出钱 -->
    <select id="outMoney" resultType="java.lang.Double">
        select sum(money)
        from dj_worker_worker_detail
        where worker_id=#{workerId}
        and (state=1 or state=3)
    </select>
    <!--支出 -->
    <select id="outDetail" resultType="com.dangjia.acg.modle.worker.WorkerDetail">
        select
            <include refid="new_columns" />
        from dj_worker_worker_detail
        where worker_id=#{workerId}
        and (state=1 or state=3)
        ORDER BY create_date DESC
    </select>


    <!--统计工人所有流水 -->
    <select id="getCountWorkerDetailByWid" resultType="java.lang.Double">
        select sum(wd.money)
        from dj_worker_worker_detail as wd
        where wd.state=0
        and wd.worker_id=#{workerId}
    </select>
    <!--查询有记录的历史月 -->
    <select id="getHistoryMonth" resultType="java.lang.String">
        select
            DATE_FORMAT(d.create_date, '%Y-%m') month
        from
			dj_worker_worker_detail as d
		where
		    d.worker_id=#{workerId}
		and
			DATE_FORMAT(d.create_date, '%Y-%m') &gt; DATE_FORMAT( date_sub(curdate(), INTERVAL 12 month),'%Y-%m')
		GROUP BY month
		ORDER BY d.create_date DESC
    </select>
    <!--根据年月查询对应历史月流水 -->
    <select id="getHistoryMonthByWorkerId" resultType="com.dangjia.acg.modle.worker.WorkerDetail">
        select
            <include refid="new_columns" />
        from dj_worker_worker_detail
        where worker_id=#{workerId}
		and date_format(create_date, '%Y-%m') = #{createDate}
		ORDER BY create_date DESC
    </select>
</mapper>

