<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.worker.IWorkIntegralMapper">
    <sql id="new_columns">
        hi.id,
        hi.create_date as createDate,
        hi.modify_date as modifyDate,
        hi.butler_id as butlerId,
        hi.house_id as houseId,
        hi.integral,
        hi.member_id as memberId,
        hi.star,
        hi.status,
        hi.worker_id as workerId,
        hi.data_status as dataStatus,
        hi.briefed
    </sql>
    <!--积分流水 -->
    <select id="queryWorkIntegral" resultType="com.dangjia.acg.dto.worker.WorkIntegralDTO">
        SELECT <include refid="new_columns" />,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName
        FROM
        `dj_worker_work_integral` hi
        INNER JOIN dj_house h ON hi.house_id = h.id
        WHERE
        hi.worker_id = #{workerId}
        ORDER BY hi.create_date DESC
    </select>
</mapper>

