<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.sale.residential.ResidentialRangeMapper">

    <select id="selectSingleResidentialRange" resultType="com.dangjia.acg.modle.sale.residential.ResidentialRange">
        select
          id,create_date,modify_date,data_status,building_id,user_id
        FROM dj_sale_residential_range
        where building_id LIKE CONCAT('%',#{buildingId},'%')
    </select>

</mapper>