<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.sale.residential.ResidentialRangeMapper">

    <select id="selectSingleResidentialRange" resultType="com.dangjia.acg.modle.sale.residential.ResidentialRange">
        select
          id,
          create_date as createDate,
          modify_date as modifyDate,
          data_status as dataStatus,
          building_id as buildingId,
          user_id as userId
        FROM dj_sale_residential_range
        where building_id LIKE CONCAT('%',#{buildingId},'%')
    </select>

</mapper>