<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.matter.IRenovationManualMapper">
    <sql id="basic_columns">
        id,
        name,
        url,
        test,
        url_name,
        worker_type_id,
        order_number,
        state,
        types,
        data_status,
        create_date,
        modify_date
    </sql>
    <sql id="new_columns">
        id,
        name,
        test,
        url,
        url_name as urlName,
        worker_type_id as workerTypeId,
        order_number as orderNumber,
        state,
        types,
        image,
        data_status as dataStatus,
        create_date as createDate,
        modify_date as modifyDate
    </sql>
    <select id="getRenovationManualByWorkertyId" resultType="com.dangjia.acg.modle.matter.RenovationManual">
        select
        <include refid="new_columns"/>
        from dj_matter_renovation_manual
        where state=0
        and worker_type_id = #{workerTypeId}
        and data_status = 0
        order by order_number asc,create_date DESC
    </select>

    <select id="getStrategyList" resultType="com.dangjia.acg.modle.matter.RenovationManual">
        select
        <include refid="new_columns"/>
        FROM dj_matter_renovation_manual c
        LEFT JOIN ( SELECT a.route, COUNT( a.route ) num FROM dj_website_visit a GROUP BY a.route ) b ON b.route = c.id
        WHERE
        state = 0
        AND data_status = 0
        <if test="workerTypeIds!=null">
            ORDER BY
            <foreach collection="workerTypeIds" item="item" index="index">
                FIELD(c.worker_type_id, #{item}) DESC,
            </foreach>
            num desc
        </if>
        <if test="workerTypeIds ==null or workerTypeIds ==''">
            ORDER BY num DESC
        </if>
    </select>

</mapper>

