<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.matter.ITechnologyRecordMapper">
    <sql id="all_columns">
		id,
		house_id as houseId,
		technology_id as technologyId,
		name,
		material_or_worker as materialOrWorker,
		worker_type_id as workerTypeId,
		image,
		state,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>


    <!-- 根据workerTypeId查询所有已验收节点 -->
	<select id="allChecked" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.matter.TechnologyRecord">
		SELECT
		<include refid="all_columns"/>
		FROM dj_matter_technology_record
		where
		    house_id = #{houseId}
		and
		    worker_type_id = #{workerTypeId}
		ORDER BY modify_date desc
	</select>

	<!-- 查节点 -->
	<select id="checkByTechnologyId" resultType="com.dangjia.acg.modle.matter.TechnologyRecord">
		SELECT
		<include refid="all_columns"/>
		FROM dj_matter_technology_record
		where
		house_id = #{houseId}
		and
		technology_id = #{technologyId}
		and
		worker_type_id = #{workerTypeId}
		ORDER BY create_date desc
	</select>

	<!--节点验收通过-->
	<update id="passTecRecord" parameterType="java.lang.String">
		update dj_matter_technology_record
		set state = 1
		where
		house_id = #{houseId}
		and
		worker_type_id = #{workerTypeId}
		and
		state = 0
	</update>

	<!--节点验收不通过-->
	<update id="passNoTecRecord" parameterType="java.lang.String">
		update dj_matter_technology_record
		set state = 2
		where
		house_id = #{houseId}
		and
		worker_type_id = #{workerTypeId}
		and
		state = 0
	</update>


</mapper>

