<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.matter.ITechnologyRecordMapper">
    <sql id="all_columns">
		id,
		house_id as houseId,
		technology_id as technologyId,
		house_flow_apply_id as houseFlowApplyId,
		steward_house_flow_apply_id as stewardHouseFlowApplyId,
		steward_check_time as stewardCheckTime,
		name,
		material_or_worker as materialOrWorker,
		worker_type_id as workerTypeId,
		image,
		state,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>


    <!-- 根据workerTypeId查询所有已验收节点 -->
	<select id="allChecked" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.matter.TechnologyRecord">
		SELECT
		<include refid="all_columns"/>
		FROM dj_matter_technology_record
		where
		    house_id = #{houseId}
		and
		    worker_type_id = #{workerTypeId}
		ORDER BY modify_date desc
	</select>

	<!-- 查节点 -->
	<select id="checkByTechnologyId" resultType="com.dangjia.acg.modle.matter.TechnologyRecord">
		SELECT
		<include refid="all_columns"/>
		FROM dj_matter_technology_record
		where
		house_id = #{houseId}
		and
		technology_id = #{technologyId}
		and
		worker_type_id = #{workerTypeId}
		ORDER BY create_date desc
	</select>

	<!--节点验收通过-->
	<update id="passTecRecord" parameterType="java.lang.String">
		update dj_matter_technology_record
		set state = 1
		where
		house_id = #{houseId}
		and
		worker_type_id = #{workerTypeId}
		and
		state = 0
	</update>

	<!--节点验收不通过-->
	<update id="passNoTecRecord" parameterType="java.lang.String">
		update dj_matter_technology_record
		set state = 2
		where
		house_id = #{houseId}
		and
		worker_type_id = #{workerTypeId}
		and
		state = 0
	</update>


	<select id="selectWorkerProductInfo" resultType="com.dangjia.acg.dto.matter.TechnologyRecordDTO">
		SELECT
			t4.id,
			t4. NAME,
			'0' state,
			t4.image,
			t1.product_id productId,
			t4.worker_type_id workerTypeId,
			t5.id technologyId
		FROM
			dj_house_warehouse t1
		INNER JOIN dj_basics_storefront_product t2 ON t1.product_id = t2.id
		INNER JOIN dj_basics_product_template t3 ON t2.prod_template_id = t3.id
		INNER JOIN dj_basics_technology t4 ON FIND_IN_SET(t4.id, t3.technology_ids)
		LEFT JOIN dj_matter_technology_record t5 ON t4.id = t5.technology_Id and t5.house_id=t1.house_id
		AND t4.worker_type_id = t5.worker_type_id
		AND t5.state != 3
		WHERE
			t1.product_type = 2
		AND t1.house_id = #{houseId}
		AND t4.worker_type_id =#{workerTypeId}
		<if test="isAll==null or isAll==''">
			AND t5.id IS NULL
		</if>

	</select>
</mapper>

