<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.matter.IWorkerEverydayMapper">
<sql id="basic_columns">
    id,
    name,
    state,
    type,
    create_date,
    modify_date
</sql>
    <sql id="new_columns">
    id,
    name,
    state,
    type,
    create_date as createDate,
    modify_date as modifyDate
</sql>
    <!--根据工人id查询已支付未完工并默认的施工任务 -->
<select id="getWorkerEverydayList"  resultType="com.dangjia.acg.modle.matter.WorkerEveryday">
    select <include refid="new_columns" />
    from dj_matter_worker_everyday
    where type=#{type}
    and state=1
    order by create_date desc
</select>
</mapper>

