<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.complain.IComplainMapper">

    <select id="getComplainList" resultType="com.dangjia.acg.dto.complain.ComplainDTO">
        SELECT c.id as id,
        c.member_id as memberId,
        c.user_name as memberName,
        c.user_nick_name as memberNickName,
        c.user_mobile as memberMobile,
        c.complain_type as complainType,
        c.operate_id as operateId,
        c.operate_name as operateName,
        c.user_id as userId,
        c.status as status,
        c.description as description,
        c.business_id as businessId,
        c.house_id as houseId,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
        IFNULL(h.number, '*'),
        '号'
        ) as houseName,
        c.files as files,
        c.create_date as createDate,
        c.modify_date as modifyDate
        FROM dj_complain c
        LEFT JOIN dj_house h ON c.house_id = h.id
        WHERE c.data_status = 0
        <if test="complainType!=null">
            and c.complain_type = #{complainType}
        </if>
        <if test="state!=null">
            and c.status = #{state}
        </if>
        <if test="searchKey!=null and searchKey!=''">
           and CONCAT(c.user_mobile,c.user_name,c.user_nick_name)  like CONCAT('%',#{searchKey},'%')
        </if>
        ORDER by c.modify_date desc
    </select>
    <select id="getComplain" resultType="com.dangjia.acg.dto.complain.ComplainDTO">
        SELECT c.id as id,
        c.member_id as memberId,
        c.user_name as memberName,
        c.user_nick_name as memberNickName,
        c.user_mobile as memberMobile,
        c.complain_type as complainType,
        c.operate_name as operateName,
        c.status as status,
        c.description as description,
        c.business_id as businessId,
        c.house_id as houseId,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
        IFNULL(h.number, '*'),
        '号'
        ) as houseName,
        c.files as files,
        c.create_date as createDate,
        c.modify_date as modifyDate,
        c.content as content
        FROM dj_complain c
        LEFT JOIN dj_house h ON c.house_id = h.id
        WHERE c.data_status = 0
        <if test="complainId!=null and complainId!=''">
            and c.id = #{complainId}
        </if>
    </select>
</mapper>








