<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.product.DjBasicsMaintainMapper">
    <sql id="all_columns">
        `id`,
        `keyword_name`as keywordName,
        `search_item` as searchItem,
        `label_ids` as labelIds,
        `create_date` as createDate,
        `modify_date` as modifyDate,
        `data_status` as dataStatus
    </sql>


    <select id="duplicateRemoval" resultType="com.dangjia.acg.modle.product.DjBasicsMaintain">
        SELECT
        <include refid="all_columns"/>
        FROM dj_basics_maintain
        WHERE
        <foreach collection="str" index="index" item="item" separator="or">
            FIND_IN_SET(#{item},search_item)
        </foreach>
        and city_id = #{cityId}
        <if test="null!=id and ''!=id">
            and id!=#{id}
        </if>
    </select>

</mapper>