<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.product.DjBasicsGoodsCategoryMapper">

    <sql id="all_columns">
        id,
        name,
        parent_id as parentId,
        parent_top as parentTop,
        image,
        create_date as createDate,
        modify_date as modifyDate,
        data_status as dataStatus,
        sort,
        is_last_category as isLastCategory,
        purchase_restrictions as purchaseRestrictions,
        cover_image as coverImage,
        category_label_id as categoryLabelId,
        brand_id as brandId
	</sql>

    <!-- 根据父id查询下属商品类别 -->
    <select id="queryCategoryByParentId" resultType="com.dangjia.acg.modle.product.DjBasicsGoodsCategory">
        SELECT
        <include refid="all_columns"/>
        FROM dj_basics_goods_category where parent_id =#{parentId}
        ORDER BY create_date desc
    </select>

</mapper>