<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.product.DjBasicsProductMapper">

    <sql id="new_columns">
               id as id,
        name as name,
        goods_id as goodsId,
        category_id as categoryId,
        product_sn as productSn,
        image as image,
        unit_id as unitId,
        label_id as labelId,
        unit_name as unitName,
        type as type,
        istop,
        price as price,
        other_name as otherName
       create_date      as createDate,
       modify_date      as modifyDate
    </sql>

    <!-- 查询当前添加商品的属性值是否已被用(存在相关属性值的商品) -->
    <select id="getPListByValueIdArr" resultType="com.dangjia.acg.modle.product.DjBasicsProduct">
        select
        p.id as id,
        p.name as name,
        p.goods_id as goodsId,
        p.category_id as categoryId,
        p.product_sn as productSn,
        p.image as image,
        p.unit_id as unitId,
        p.label_id as labelId,
        p.unit_name as unitName,
        p.type as type,
        p.istop,
        p.price as price,
        p.other_name as otherName
        from dj_basics_product p,dj_basics_product_material p1
        where
        p.id = p1.product_id
        and type=1 and maket=1
        <if test="valueIdArr!=null and valueIdArr!=''">
            and p1.value_id_arr=#{valueIdArr}
        </if>
    </select>

    <!-- 根据名称查询 -->
    <select id="queryByName" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.product.DjBasicsProduct">
        SELECT
        <include refid="new_columns"/>
        FROM dj_basics_product
        where data_status = 0
        <if test="name!=null and name!=''">
            and
            name=#{name}
        </if>
        ORDER BY istop DESC,create_date desc
    </select>

    <!-- 根据货号查询 -->
    <select id="queryByProductSn" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.product.DjBasicsProduct">
        SELECT
        <include refid="new_columns"/>
        FROM dj_basics_product
        where data_status = 0
        <if test="productSn!=null and productSn!=''">
            and
            product_sn=#{productSn}
        </if>
        ORDER BY istop DESC,create_date desc
    </select>

</mapper>