<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.product.DjBasicsAttributeMapper">

    <resultMap id="getAttributeValues" type="com.dangjia.acg.dto.actuary.AttributeDTO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection property="valueDTOList" ofType="com.dangjia.acg.dto.actuary.AttributeValueDTO">
            <result column="attributeValueId" property="attributeValueId"/>
            <result column="valName" property="name"/>
        </collection>

    </resultMap>

    <sql id="all_columns">
        id,
        category_id,
        name,
        type,
        create_date as createDate,
        modify_date as modifyDate,
        data_status as dataStatus,
        is_screen_conditions as isScreenConditions
	</sql>

    <!-- 根据商品类别Id 查询关联的属性 -->
    <select id="queryAttributeByCategoryId" parameterType="java.lang.String"
            resultType="com.dangjia.acg.modle.product.DjBasicsAttribute">
        select
        <include refid="all_columns"/>
        from
        dj_basics_attribute
        where 1=1
        <if test="categoryId!=null and categoryId!=''">
            and  category_id =#{categoryId}
        </if>

        <if test="likeAttrName!=null and likeAttrName!=''">
            and  name like CONCAT('%',#{likeAttrName},'%')
        </if>
        ORDER BY create_date desc
    </select>

    <!-- 根据商品类别Id 查询关联的属性 -->
    <select id="queryAttributeByCategoryIdAndAttrName" parameterType="java.lang.String"
            resultType="com.dangjia.acg.modle.product.DjBasicsAttribute">
        select
        <include refid="all_columns"/>
        from dj_basics_attribute
        where 1=1
        <if test="categoryId!=null and categoryId!=''">
            and  category_id =#{categoryId}
        </if>

        <if test="attrName!=null and attrName!=''">
            and  name =#{attrName}
        </if>
        ORDER BY create_date desc
    </select>

    <select id="queryAttributeDatas" resultMap="getAttributeValues">
		SELECT
            a.id,a.name,vl.id attributeValueId,vl.`name` valName
        FROM
            dj_basics_attribute a
        INNER JOIN dj_basics_attribute_value vl on a.id=vl.attribute_id
        INNER JOIN dj_basics_product p ON FIND_IN_SET(vl.id, p.value_id_arr)
        WHERE
            a.type = 1
        <if test="wordKey!=null and wordKey!=''">
            AND  p.`name` LIKE  CONCAT('%',#{wordKey},'%')
        </if>
        <if test="categoryId!=null and categoryId!=''">
            AND category_id = #{categoryId}
        </if>
        GROUP BY
          vl.id
        ORDER BY
            a.create_date DESC
	</select>
</mapper>