<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.product.DjBasicsProductWorkerMapper">
    <!-- 根据商品ID查询商品材料表信息 -->
    <select id="queryProductWorkerByProductId" resultType="com.dangjia.acg.modle.product.DjBasicsProductWorker">

        SELECT
            id,
            create_date AS createDate,
            modify_date as modifyDate,
            product_id as productId,
            work_explain as workExplain,
            worker_dec as workerDec,
            worker_standard as workerStandard,
            worker_type_id as workerTypeId,
            last_price as lastPrice,
            last_time as lastTime,
            technology_ids as technologyIds,
            considerations,
            calculate_content calculateContent,
            build_content buildContent,
            is_agency_purchase isAgencyPurchase
        FROM
            dj_basics_product_worker
        where data_status = 0
        and product_id = #{productId}
    </select>

    <select id="queryWorkerGoodsDTO" resultType="com.dangjia.acg.dto.basics.WorkerGoodsDTO">
        SELECT
            p.id,
            p. NAME as name,
            p.product_sn as workerGoodsSn,
            p.image,
            w.worker_dec as workerDec,
            p.unit_id as unitId,
            p.unit_name as unitName,
            p.other_name as otherName,
            w.worker_type_id as workerTypeId,
            p.price,
            p.istop,
            g.sales,
            w.work_explain as workExplain,
            w.worker_standard as workerStandard,
            p.maket,
            w.last_price as lastPrice,
            w.last_time as lastTime,
            w.technology_ids as technologyIds,
            w.considerations as considerations,
            w.calculate_content as calculateContent,
            w.build_content as buildContent,
            p.create_date as createDate,
	        p.modify_date as modifyDate
        FROM
            dj_basics_product p
        INNER JOIN dj_basics_product_worker w ON p.id = w.product_id
        INNER JOIN dj_basics_goods g ON p.goods_id = g.id
        where p.data_status=0
        and p.maket=1
        and p.product_sn=#{productSn}
        and w.worker_type_id=#{workerTypeId}
    </select>
</mapper>