<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.product.IProductTemplateRatioMapper">

    <select id="selectProductTemplateRatioList" resultType="com.dangjia.acg.dto.product.BasicsProductTemplateRatioDTO">

        SELECT
            t.id,
            t.product_ratio productRatio,
            t.product_responsible_id productResponsibleId,
            t.product_responsible_type productResponsibleType,
            IFNULL(wt.`name`, gc.`name`) productResponsibleName,
            t.product_template_id productTemplateId
        FROM
            dj_basics_product_template_ratio t
        LEFT JOIN dj_core_worker_type wt ON t.product_responsible_id = wt.id
        LEFT JOIN dj_basics_goods_category gc ON t.product_responsible_id = gc.id
        WHERE
            t.product_template_id = #{productTemplateId}

    </select>


</mapper>