<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.engineer.DjMaintenanceRecordMapper">

    <sql id="basic_columns">
            id,
            steward_processing_time AS stewardProcessingTime,
            steward_order_time AS stewardOrderTime,
            member_id AS memberId,
            house_id AS houseId,
            owner_name AS ownerName,
            owner_mobile AS ownerMobile,
            supervisor_id AS supervisorId,
            steward_subsidy AS stewardSubsidy,
            service_remark AS serviceRemark,
            steward_id AS stewardId,
            steward_state AS stewardState,
            since_purchase_amount AS sincePurchaseAmount,
            remark,
            owner_state AS ownerState,
            state,
            complain_type AS complainType,
            handle_type AS handleType,
            user_id AS userId,
            worker_member_id AS workerMemberId,
            worker_create_date AS workerCreateDate,
           worker_type_safe_order_id workerTypeSafeOrderId
    </sql>
    <select id="queryDjMaintenanceRecordList" resultType="com.dangjia.acg.dto.engineer.DjMaintenanceRecordDTO">
        SELECT
        mr.id,
        CONCAT(IFNULL(h.residential,'*'),IFNULL(CONCAT(h.building,'栋'),'*栋'),
        IFNULL(CONCAT(h.unit,'单元'),'*单元'),
        IFNULL(CONCAT(h.number,'号'),'*号')) as houseAddress,
        mr.owner_name ownerName,
        mr.owner_mobile ownerMobile,
        mr.state,
        h.id houseId
        FROM
        dj_maintenance_record mr,
        dj_house h
        WHERE
        mr.house_id = h.id
        AND mr.handle_type=3
        <if test="null!=searchKey and ''!=searchKey">
            AND CONCAT(CONCAT_WS(IFNULL(h.residential, '*'),IFNULL(CONCAT(h.building, '栋'),'*栋'),IFNULL(CONCAT(h.unit,
            '单元'),'*单元'),IFNULL(CONCAT(h.number, '号'),'*号')),mr.owner_name,mr.owner_mobile) LIKE CONCAT('%',#{searchKey},'%')
        </if>
        <if test="null!=state and ''!=state">
            AND mr.state=#{state}
        </if>
    </select>


    <select id="queryDjMaintenanceRecordDetail"
            resultType="com.dangjia.acg.dto.engineer.DjMaintenanceRecordDTO">
        SELECT
            mr.id,
            mr.house_id houseId,
            mr.owner_name ownerName,
            mr.owner_mobile ownerMobile,
            mr.state,
            mr.create_date createDate,
            mr.steward_state stewardState,
            (
                SELECT
                    mrc.image
                FROM
                    dj_maintenance_record_content mrc
                WHERE
                    mr.id = mrc.maintenance_record_id
                AND mrc.type = 3
            ) ownerImage,
            (
                SELECT
                    mrc.remark
                FROM
                    dj_maintenance_record_content mrc
                WHERE
                    mr.id = mrc.maintenance_record_id
                AND mrc.type = 3
            ) ownerRemark,
            (
                SELECT

                IF (
                    m. NAME IS NULL
                    OR m. NAME = '',
                    m.nick_name,
                    m. NAME
                )
                FROM
                    dj_member m
                WHERE
                    m.id = mr.supervisor_id
            ) supervisorName,
            mr.service_remark serviceRemark,
            mr.steward_id stewardId,
            (
                SELECT

                IF (
                    m. NAME IS NULL
                    OR m. NAME = '',
                    m.nick_name,
                    m. NAME
                )
                FROM
                    dj_member m
                WHERE
                    m.id = mr.steward_id
            ) stewardName,
            (
                SELECT
                    m.mobile
                FROM
                    dj_member m
                WHERE
                    m.id = mr.steward_id
            ) stewardMobile,
            mr.since_purchase_amount sincePurchaseAmount,
            mr.owner_state ownerState,
            (
                SELECT
                    mrc.image
                FROM
                    dj_maintenance_record_content mrc
                WHERE
                    mr.id = mrc.maintenance_record_id
                AND mrc.type = 2
            ) stewardImage,
            (
                SELECT
                    mrc.remark
                FROM
                    dj_maintenance_record_content mrc
                WHERE
                    mr.id = mrc.maintenance_record_id
                AND mrc.type = 2
            ) stewardRemark,
            mr.remark,
            mr.steward_order_time stewardOrderTime,
            mr.complain_type AS complainType,
            mr.handle_type AS handleType,
            (
                SELECT

                IF (
                    m. NAME IS NULL
                    OR m. NAME = '',
                    m.nick_name,
                    m. NAME
                )
                FROM
                    dj_member m
                WHERE
                    m.id = mr.worker_member_id
            ) workerMemberName,
            (
                SELECT
                    m.mobile
                FROM
                    dj_member m
                WHERE
                    m.id = mr.worker_member_id
            ) workerMobile,
            mr.user_id AS userId,
            mr.worker_member_id AS workerMemberId,
            mr.worker_create_date AS workerCreateDate,
            (
                SELECT
                    mrc.image
                FROM
                    dj_maintenance_record_content mrc
                WHERE
                    mr.id = mrc.maintenance_record_id
                AND mrc.type = 1
            ) AS workerImage
        FROM
            dj_maintenance_record mr
        WHERE
            mr.id = #{id}
    </select>

    <select id="queryApplicationInfo" resultType="com.dangjia.acg.dto.supervisor.MaintenanceRecordDTO">
           select
				dmr.owner_name as ownerName,
				dmr.create_date as createDate,
				mrc.image as ownerImage,
				mrc.remark as ownerRemark
				From  dj_maintenance_record  dmr inner join
				dj_maintenance_record_content mrc on mrc.maintenance_record_id=dmr.id
            where dmr.house_id=#{houseId}
    </select>

    <select id="queryAcceptanceTrend" resultType="com.dangjia.acg.dto.supervisor.AcceptanceTrendDTO">
        select
        dmr.id as id,
        CASE state
                WHEN 2 THEN
                    '质保验收-通过'
                WHEN 3 THEN
                    '质保验收-不通过'
                ELSE
                    '无'
            END state
         ,
        IFNULL(create_date,'') as createDate
        from dj_maintenance_record dmr where dmr.state in (2,3)
        and dmr.house_id=#{houseId}
    </select>

    <select id="queryAcceptanceTrendDetail" resultType="com.dangjia.acg.dto.supervisor.AcceptanceTrendDetailDTO">
       select
        IFNULL(dm.worker_type,'') as workerType,
        IFNULL(dm.name,'') as name,
        IFNULL(dmr.steward_image,'') as stewardImage,
        IFNULL(dmr.steward_remark ,'')as stewardRemark,
        IFNULL(dwe.star,'') as star,
        IFNULL(dwe.content,'') as content
        From  dj_maintenance_record_responsible_party rrp
        inner join dj_maintenance_record dmr on dmr.id=rrp.maintenance_record_id inner join
        dj_worker_evaluate dwe on rrp.responsible_party_type=3 and dmr.house_id=dwe.house_id  and dwe.state=1
        inner join dj_member dm on dm.id=rrp.responsible_party_id
        where 1=1 and rrp.maintenance_record_id=#{id}
    </select>

    <select id="queryDvResponsibility" resultType="com.dangjia.acg.dto.supervisor.DjResponsiblePartyDTO">
        select
        rrp.responsible_party_id as responsiblePartyId,
        rrp.responsible_party_type as responsiblePartyType,
        CASE rrp.responsible_party_type
                WHEN 1 THEN
                    '店铺'
                WHEN 3 THEN
                    '工匠'
                ELSE
                    '供应商'
            END responsiblePartyTypeName
        from dj_maintenance_record_responsible_party rrp
        inner join dj_maintenance_record dmr on dmr.id=rrp.maintenance_record_id and dmr.house_id=#{houseId}
    </select>


    <select id="queryStoreMaintenance" resultType="com.dangjia.acg.dto.supervisor.StoreMaintenanceDTO">
        select
        IFNULL(dm.head,'') as head,
        IFNULL(dm.name,'') as name,
        IFNULL(dm.worker_type_id,'') as workerTypeId,
        CONCAT(IFNULL(rrp.proportion,''),'%') as proportion
        from dj_maintenance_record_responsible_party rrp
        inner join dj_member dm  on dm.id=rrp.responsible_party_id
        where 1=1 and rrp.responsible_party_type=#{responsiblePartyType} and rrp.responsible_party_id=#{responsiblePartyId}
    </select>

    <select id="queryMemberMaintenance" resultType="com.dangjia.acg.dto.supervisor.MemberMaintenanceDTO">
        select
        IFNULL(dbs.system_logo,'') as systemLogo,
        IFNULL(dbs.storefront_name,'') as storefrontName,
        IFNULL(dbs.storefront_desc,'') as storefrontDesc,
        CONCAT(IFNULL(rrp.proportion,''),'%') as proportion
        from dj_maintenance_record_responsible_party rrp
        inner join dj_basics_storefront dbs  on dbs.id=rrp.responsible_party_id
        where 1=1 and rrp.responsible_party_type=#{responsiblePartyType} and rrp.responsible_party_id=#{responsiblePartyId}
    </select>


    <select id="queryMaintenanceHostList" resultType="com.dangjia.acg.dto.supervisor.RepairHouseListDTO" >
        select
        IFNULL(CONCAT(IFNULL(dh.residential,'*'),IFNULL(CONCAT(dh.building,'栋'),'*栋'),IFNULL(CONCAT(dh.unit,'单元'),'*单元'),IFNULL(CONCAT(dh.number,'号'),'*号')) ,'') as address,
        dmr.since_purchase_amount as sincePurchaseAmount, -- 维保金额
        -- 参与人员
        substring(dha.address,7,3)as area,-- 地区
        dmr.house_id as houseId
        from dj_maintenance_record dmr
        inner join dj_house dh  on dmr.house_id=dh.id
        inner join dj_house_address dha
    </select>

    <select id="queryMtHostListDetail" resultType="com.dangjia.acg.dto.supervisor.MtHostListDetailDTO">
      select
        dh.id as houseId,
        IFNULL(CONCAT(IFNULL(dh.residential,'*'),IFNULL(CONCAT(dh.building,'栋'),'*栋'),IFNULL(CONCAT(dh.unit,'单元'),'*单元'),IFNULL(CONCAT(dh.number,'号'),'*号')) ,'') as address,
        dha.latitude,
        dha.longitude,
        dmr.since_purchase_amount as sincePurchaseAmount,
        dmr.remark
        from dj_house  dh
        inner join  dj_house_address dha on dh.id=dha.house_id
        inner join dj_member dm on dm.id=dh.member_id
        inner join dj_maintenance_record dmr on dh.id=dmr.house_id
        where dh.id=#{houseId}
        and dmr.owner_state=2
		and dmr.state=2
    </select>

    <select id="queryMaintenanceRecord" resultType="com.dangjia.acg.modle.engineer.DjMaintenanceRecord">
        select
            steward_processing_time as stewardProcessingTime,
            steward_order_time as stewardOrderTime,
            member_id as memberId,
            house_id as houseId ,
            owner_name as ownerName,
            owner_mobile as ownerMobile ,
            owner_image as  ownerImage ,
            owner_remark as ownerRemark,
            supervisor_id as supervisorId ,
            steward_subsidy as stewardSubsidy,
            service_remark as serviceRemark,
            steward_id as stewardId,
            steward_state as stewardState,
            since_purchase_amount as sincePurchaseAmount,
            remark,
            owner_state as ownerState,
            steward_image as stewardImage ,
            steward_remark as stewardRemark ,
            state,
            complain_type as complainType,
            handle_type as handleType,
            user_id as userId,
            worker_member_id as workerMemberId,
            worker_create_date as workerCreateDate ,
            worker_image as workerImage
        From dj_maintenance_record where house_id=#{houseId} and member_id=#{memberId}
    </select>

    <select id="selectMaintenanceRecoredByHouseId" resultType="com.dangjia.acg.modle.engineer.DjMaintenanceRecord">
        SELECT
           <include refid="basic_columns"/>
        FROM
            dj_maintenance_record
        WHERE
            house_id = #{houseId}
        AND state NOT IN (2, 3)
    </select>

</mapper>