<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.engineer.DjMaintenanceRecordResponsiblePartyMapper">

    <select id="queryDjMaintenanceRecordResponsibleParty"
            resultType="com.dangjia.acg.dto.engineer.DjMaintenanceRecordResponsiblePartyDTO">
        SELECT
            mrrp.responsible_party_id responsiblePartyId,
            mrrp.maintenance_record_id maintenanceRecordId,
            mrrp.proportion,
            mrrp.responsible_party_type responsiblePartyType,
            <if test="responsiblePartyType==1">
                bs.storefront_name responsiblePartyName,
                bs.storefront_logo image
            </if>
            <if test="responsiblePartyType==3">
                IF(m.name IS NULL OR m.name="",m.nick_name,m.name) responsiblePartyName,
                m.head image
            </if>
        FROM
            dj_maintenance_record_responsible_party mrrp
            <if test="responsiblePartyType==1">
                ,dj_basics_storefront bs
            </if>
            <if test="responsiblePartyType==3">
                ,dj_member m
            </if>
        WHERE
            1=1
            <if test="responsiblePartyType==1">
                AND mrrp.responsible_party_id = bs.id
            </if>
            <if test="responsiblePartyType==3">
                AND mrrp.responsible_party_id = m.id
            </if>
            AND mrrp.id=#{id}
    </select>



    <select id="queryDimensionRecord" resultType="com.dangjia.acg.dto.engineer.DimensionRecordDTO">
        select
        mr.payment_date as paymentDate,
        mr.since_purchase_amount as sincePurchaseAmount,
        mr.id as mrId,
        mrrp.proportion AS proportion,
        mrrp.id as mrrpId,
        (mr.since_purchase_amount * mrrp.proportion) as paymentAmount,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        IFNULL(CONCAT(h.unit, '单元'),'' ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName
        from dj_maintenance_record_responsible_party mrrp
        INNER JOIN dj_maintenance_record mr on mrrp.maintenance_record_id = mr.id
        INNER JOIN dj_house h on mr.house_id = h.id
        where mrrp.responsible_party_type=3 and mrrp.responsible_party_id = #{responsiblePartyId}
    </select>
</mapper>