<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.engineer.DjMaintenanceRecordResponsiblePartyMapper">

    <select id="queryDjMaintenanceRecordResponsibleParty"
            resultType="com.dangjia.acg.dto.engineer.DjMaintenanceRecordResponsiblePartyDTO">
        SELECT
            mrrp.responsible_party_id responsiblePartyId,
            mrrp.maintenance_record_id maintenanceRecordId,
            mrrp.proportion,
            mrrp.responsible_party_type responsiblePartyType,
            <if test="responsiblePartyType==1">
                bs.storefront_name responsiblePartyName,
                bs.storefront_logo image
            </if>
            <if test="responsiblePartyType==3">
                IF(m.name IS NULL OR m.name="",m.nick_name,m.name) responsiblePartyName,
                m.head image
            </if>
        FROM
            dj_maintenance_record_responsible_party mrrp
            <if test="responsiblePartyType==1">
                ,dj_basics_storefront bs
            </if>
            <if test="responsiblePartyType==3">
                ,dj_member m
            </if>
        WHERE
            1=1
            <if test="responsiblePartyType==1">
                AND mrrp.responsible_party_id = bs.id
            </if>
            <if test="responsiblePartyType==3">
                AND mrrp.responsible_party_id = m.id
            </if>
            AND mrrp.id=#{id}
    </select>



    <select id="queryDimensionRecord" resultType="com.dangjia.acg.dto.engineer.DimensionRecordDTO">
        select
        mr.payment_date as paymentDate,
        mr.since_purchase_amount as sincePurchaseAmount,
        mr.id as mrId,
        mrrp.proportion AS proportion,
        mrrp.id as mrrpId,
        mr.enough_amount as enoughAmount,
        (((mr.since_purchase_amount + IFNULL(mr.enough_amount,0)) * mrrp.proportion) / 100) as paymentAmount,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        IFNULL(CONCAT(h.unit, '单元'),'' ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName
        from dj_maintenance_record_responsible_party mrrp
        INNER JOIN dj_maintenance_record mr on mrrp.maintenance_record_id = mr.id
        INNER JOIN dj_house h on mr.house_id = h.id
        where mrrp.responsible_party_type=3 and
        mrrp.responsible_party_id = #{memberId}
    </select>

    <select id="queryDimensionRecordInFo" resultType="com.dangjia.acg.dto.engineer.DimensionRecordDTO">
        select
        mr.payment_date as paymentDate,
        mr.house_id as houseId,
        mr.since_purchase_amount as sincePurchaseAmount,
        mr.id as mrId,
        mr.owner_name as ownerName,
        mr.worker_type_id as workerTypeId,
        mr.service_remark as serviceRemark,
        mrrp.proportion AS proportion,
        mrrp.id as mrrpId,
        mr.remark as stewardRemark,
        mrrp.responsible_party_id AS responsiblePartyId,
        mr.enough_amount as enoughAmount,
       (((mr.since_purchase_amount + IFNULL(mr.enough_amount,0)) * mrrp.proportion) / 100) as paymentAmount,
       h.square as square,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        IFNULL(CONCAT(h.unit, '单元'),'' ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName
        from dj_maintenance_record mr
        INNER JOIN  dj_maintenance_record_responsible_party mrrp on mrrp.maintenance_record_id = mr.id
        INNER JOIN dj_house h on mr.house_id = h.id
        where  1=1
        <if test="mrId != null and mrId == ''">
            and mr.id = #{mrId}
        </if>
        <if test="type == 3">
            and mrrp.responsible_party_type = #{type}
        </if>
    </select>

    <select id="queryResponsibleParty" resultType="com.dangjia.acg.dto.engineer.ComplainDataDTO">
        SELECT
            c. status,
            c.create_date AS createDate,
            c.description,
            c.image,
            c.handle_date AS handleDate,
            m. NAME AS name,
            m.mobile AS mobile,
            m.head AS head
        FROM
            dj_complain c
        INNER JOIN dj_member m ON c.member_id = m.id
        WHERE
            c.complain_type = 10
        AND c.data_status = 0
        AND c.member_id = #{responsiblePartyId}
        AND c.house_id = #{houseId}
    </select>

    <select id="toQualityMoney" resultType="com.dangjia.acg.dto.engineer.ToQualityMoneyDTO">
       SELECT
            mr.payment_date AS paymentDate,
            mr.house_id AS houseId,
            mr.since_purchase_amount AS sincePurchaseAmount,
            mr.id AS mrId,
            mr.create_date as createDate,
            mrrp.proportion AS proportion,
            mrrp.id AS mrrpId,
            (((mr.since_purchase_amount + IFNULL(mr.enough_amount,0)) * mrrp.proportion) / 100) as paymentAmount,
            mrrp.responsible_party_id AS responsiblePartyId,
            mr.enough_amount AS enoughAmount,
            m.retention_money AS retentionMoney,
            m.worker_type_id as workerTypeId,
            CONCAT(
            h.residential,
            IFNULL(h.building, '*'),
            '栋',
            IFNULL(CONCAT(h.unit, '单元'),'' ),
            IFNULL(h.number, '*'),
            '号'
            ) houseName
        FROM
            dj_maintenance_record_responsible_party mrrp
        INNER JOIN dj_maintenance_record mr ON mrrp.maintenance_record_id = mr.id
        INNER JOIN dj_member m ON mrrp.responsible_party_id = m.id
        INNER JOIN dj_house h on mr.house_id = h.id
        WHERE
            mrrp.id = #{data}
    </select>

    <select id="queryGuaranteeMoneyList" resultType="com.dangjia.acg.dto.engineer.ResponsiblePartyDTO">
        select
        rrp.id,
        IFNULL(CONCAT(IFNULL(dh.residential,'*'),IFNULL(CONCAT(dh.building,'栋'),'*栋'),IFNULL(CONCAT(dh.unit,'单元'),'*单元'),IFNULL(CONCAT(dh.number,'号'),'*号')) ,'') as address,-- 房子地址
        IFNULL(dmr.create_date,'') as createDate -- 时间
        from dj_maintenance_record dmr
        inner join dj_maintenance_record_responsible_party rrp on
        rrp.maintenance_record_id=dmr.id
        inner join dj_house dh on dmr.house_id=dh.id
        inner join dj_member dm on dm.id=dmr.worker_member_id
        where rrp.responsible_party_id=#{storefrontId} and dmr.state=2
    </select>

    <select id="queryGuaranteeMoneyDetail" resultType="com.dangjia.acg.dto.engineer.ResponsiblePartyDetailDTO">
        select
        dmr.house_id as houseId,
        IFNULL(dmr.create_date,'') as createDate, -- 时间
        IFNULL(CONCAT(IFNULL(dh.residential,'*'),IFNULL(CONCAT(dh.building,'栋'),'*栋'),IFNULL(CONCAT(dh.unit,'单元'),'*单元'),IFNULL(CONCAT(dh.number,'号'),'*号')) ,'') as address,
        dmr.since_purchase_amount+dmr.enough_amount as totalAmount,-- 维保总金额
        rrp.proportion as proportion,-- 维保责任方占比
        dm.worker_type_id as workerTypeId -- 工匠类型
        from dj_maintenance_record dmr
        inner join dj_maintenance_record_responsible_party rrp on
        rrp.maintenance_record_id=dmr.id
        inner join dj_house dh on dmr.house_id=dh.id
        inner join dj_member dm on dm.id=dmr.worker_member_id
        where rrp.responsible_party_id='0001' and dmr.state=2 and rrp.id=#{id}

    </select>

</mapper>