<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.shell.IHomeShellProductMapper">

    <!--查询商品列表信息-->
     <select id="queryHomeShellProductList" resultType="com.dangjia.acg.dto.shell.HomeShellProductDTO">
        SELECT
            t.id shellProductId,
            t.create_date createDate,
            t.NAME,
            t.product_sn productSn,
            t.product_type productType,
            IFNULL(t.converted_number,0) convertedNumber,
            t.shelf_status shelfStatus
        FROM
            dj_home_shell_product t
        where t.data_status=0
         <if test="null!=productType and ''!=productType">
             and t.product_type=#{productType}
         </if>
         <if test="null!=searchKey and ''!=searchKey">
             AND (t.name LIKE CONCAT('%',#{searchKey},'%')
             or t.product_sn LIKE CONCAT('%',#{searchKey},'%'))
         </if>
        order by t.sort
     </select>

    <select id="serachShellProductList" resultType="com.dangjia.acg.dto.shell.HomeShellProductDTO">

        SELECT
            t.id shellProductId,
            t.create_date createDate,
            t. NAME,
            t.product_sn productSn,
            t.product_type productType,
            t.pay_type payType,
            IFNULL(t.converted_number,0) convertedNumber,
            t.shelf_status shelfStatus,
            t.opening_time_limit openingTimeLimit,
            t.image
        FROM
            dj_home_shell_product t
        WHERE
            t.data_status = 0
        and t.shelf_status=1
        AND t.product_type = #{productType}
        and (t.opening_time_limit=0
        or(t.opening_time_limit=1 and t.create_date>=DATE_ADD(NOW(),INTERVAL -T.limit_hours HOUR)))
    </select>

    <select id="serachShellProductInfo" resultType="com.dangjia.acg.dto.shell.HomeShellProductDTO">

        SELECT
            t.id shellProductId,
            t.create_date createDate,
            t. NAME,
            t.product_sn productSn,
            t.pay_type payType,
            t.product_type productType,
            IFNULL(t.converted_number,0) convertedNumber,
            t.shelf_status shelfStatus,
            t.opening_time_limit openingTimeLimit,
            t.image
        FROM
            dj_home_shell_product t
        WHERE
            t.data_status = 0
        and t.shelf_status=1
        and (t.opening_time_limit=0
        or(t.opening_time_limit=1 and t.create_date>=DATE_ADD(NOW(),INTERVAL -T.limit_hours HOUR)))
        order by t.create_date desc
        limit 1
    </select>
</mapper>