<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.core.IHouseWorkerOrderMapper">
    <sql id="new_columns">
        id,
        house_id as houseId,
        work_price as workPrice,
        pay_state as payState,
        worker_id as workerId,
        worker_type as workerType,
        worker_type_id as workerTypeId,
        have_money as haveMoney,
        every_money as everyMoney,
        total_price as totalPrice,
        material_price as materialPrice,
        retention_money as retentionMoney,
        deduct_price as deductPrice,
        safe_price as safePrice,
        after_change as afterChange,
        check_money as checkMoney,
        business_order_number as businessOrderNumber,
        repair_price as repairPrice,
        repair_total_price  as repairTotalPrice,
        create_date as createDate,
        modify_date as modifyDate
    </sql>

    <!--查询精算订单 -->
    <select id="getByHouseIdAndWorkerTypeId" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseWorkerOrder">
        select
        <include refid="new_columns" />
        from dj_core_house_worker_order
        where house_id = #{houseId}
        and worker_type_id = #{workerTypeId}
    </select>

    <!--根据工人id查询已支付未完工并默认的施工任务 -->
    <select id="getHouseWorkerOrder" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseWorkerOrder">
        select
        <include refid="new_columns" />
        from dj_core_house_worker_order
        where house_id = #{houseId}
        and worker_id= #{workerId}
        and worker_type_id = #{workerTypeId}
    </select>
</mapper>

