<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.core.IHouseWorkerMapper">

    <sql id="all_columns">
        id,
        house_id as houseId,
        worker_id as workerId,
        worker_type_id as workerTypeId,
        worker_type as workerType,
        work_type as workType,
        is_select as isSelect,
        data_status as dataStatus,
        create_date as createDate,
        modify_date as modifyDate
    </sql>

    <!-- 根据工人id查询所有房子任务-->
    <select id="queryWorkerHouse" resultType="com.dangjia.acg.dto.core.HouseWorkerDTO">
        SELECT
        hw.id,
        hw.house_id as houseId,
        hw.worker_id as workerId,
        hw.worker_type_id as workerTypeId,
        hw.worker_type as workerType,
        hw.work_type as workType,
        hw.is_select as isSelect,
        hw.create_date as createDate,
        hw.modify_date as modifyDate,
        CONCAT(
		h.residential,
		IFNULL(h.building, '*'),
		'栋',
		 IFNULL(CONCAT(h.unit, '单元'),'' ),
		IFNULL(h.number, '*'),
		'号'
	) houseName
        from `dj_core_house_worker` hw
        INNER JOIN dj_house h ON hw.house_id=h.id
        WHERE
        hw.worker_id =  #{workerId}
        and hw.work_type not in(7,2,3)
        GROUP BY hw.house_id
    </select>

    <!-- 查询所有施工中的工匠订单-->
    <select id="getWorkerHouse" resultType="com.dangjia.acg.modle.core.HouseWorker">
        SELECT
        hw.id,
        hw.house_id as houseId,
        hw.worker_id as workerId,
        hw.worker_type_id as workerTypeId,
        hw.worker_type as workerType,
        hw.work_type as workType,
        hw.is_select as isSelect,
        hw.data_status as dataStatus,
        hw.create_date as createDate,
        hw.modify_date as modifyDate
        from `dj_core_house_worker` hw
        INNER JOIN dj_core_house_flow h ON hw.house_id = h.house_id
        WHERE
        h.work_steta NOT IN (0, 2) AND hw.work_type =6 AND hw.worker_type >2
        GROUP BY hw.worker_id
    </select>
    <!--根据workerTypeId和workType-->
    <select id="getByWorkerTypeId" resultType="com.dangjia.acg.modle.core.HouseWorker">
        SELECT
        <include refid="all_columns"/>
        from
        dj_core_house_worker
        where
        work_type = #{workType}
        and
        worker_type_id = #{workerTypeId}
        and
        house_id = #{houseId}
        GROUP BY is_select desc limit 1
    </select>

    <!-- 根据工人id查询未完工任务-->
    <select id="grabControl" resultType="java.lang.Long">
        SELECT
            count(*)
        from
            dj_core_house_flow
        where
            worker_id = #{workerId}
        and
            state = 0
        and
            worker_type > 2
        and
            work_steta not in(1,2)
    </select>

    <!-- 查询当天是否抢单-->
    <select id="grabOneDayOneTime" resultType="com.dangjia.acg.modle.core.HouseWorker">
        SELECT
        <include refid="all_columns"/>
        from
        dj_core_house_worker
        where
        worker_type in(1,6,7)
        and worker_id = #{workerId}
        and TO_DAYS(NOW( )) - TO_DAYS(create_date) &lt;1
    </select>

    <!--根据工匠id将所有houseWorker选中状态改为0未选中 -->
    <update id="doModifyAllByWorkerId" parameterType="java.lang.String">
		update dj_core_house_worker
		set
		   is_select = 0,
		   modify_date=SYSDATE()
		where
		   worker_id =#{workerId}
	</update>

    <!--查询已支付或待支付选中的施工任务 -->
    <select id="getDetailHouseWorker" parameterType="java.lang.String"
            resultType="com.dangjia.acg.modle.core.HouseWorker">
        SELECT
        <include refid="all_columns"/>
        from dj_core_house_worker
        where worker_id = #{workerId}
        and work_type in(1,6)
        and is_select = 1
        order by modify_date desc
    </select>

    <!--&lt;!&ndash;查出所有 &ndash;&gt;-->
    <!--<select id="getAllHouseWorker" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseWorker">-->
    <!--SELECT-->
    <!--<include refid="all_columns" />-->
    <!--from dj_core_house_worker-->
    <!--where worker_id = #{workerId}-->
    <!--and work_type in(1,6)-->
    <!--order by modify_date desc-->
    <!--</select>-->

    <!--根据房子id和工匠type查询houseWorker -->
    <select id="getHwByHidAndWtype" resultType="com.dangjia.acg.modle.core.HouseWorker">
        select
        <include refid="all_columns"/>
        from dj_core_house_worker
        where house_id = #{houseId}
        and worker_type = #{workerType}
        and work_type=6
        ORDER BY create_date DESC LIMIT 1
    </select>

    <!--根据工人id查询统计已完成的任务单数-->
    <select id="getCountOrderByWorkerId" resultType="java.lang.Long">
        select count(*)
        from dj_core_house_flow
        where worker_id = #{workerId}
        and work_steta = 2
        and work_type = 4
		order by modify_date desc
    </select>

    <!--house已支付已采纳的普通工匠-->
    <select id="paidListByHouseId" resultType="com.dangjia.acg.modle.core.HouseWorker">
        select
        <include refid="all_columns"/>
        from dj_core_house_worker
        where house_id = #{houseId}
        and worker_type not in(1,2,3)
        and work_type= 6
    </select>
    <select id="getMyHouseFlowList" resultType="com.dangjia.acg.dto.house.MyHouseFlowDTO">
        SELECT
        hf.id AS houseFlowId,
        hw.id AS houseWorkerId,
        h.id AS houseId,
        h.member_id AS memberId,
        hw.worker_type_id AS workerTypeId,
        CONCAT(
        h.residential,
        IFNULL( h.building, '*' ),
        '栋',
        IFNULL( CONCAT( h.unit, '单元' ), '' ),
        IFNULL( h.number, '*' ),
        '号'
        ) houseName,
        hf.release_time AS releaseTime,
        CONCAT( IFNULL( h.square, '0' ), 'm²' ) square,
        ( CASE WHEN hf.pause = 0 THEN '正常施工' ELSE '暂停施工' END ) AS isItNormal
        FROM
        dj_core_house_worker hw
        INNER JOIN dj_core_house_flow hf ON hw.house_id = hf.house_id
        AND hw.worker_type_id = hf.worker_type_id
        INNER JOIN dj_house h ON hw.house_id = h.id
        WHERE
        hw.worker_id = #{workerId}
        <if test="workerType!=null and workerType!=3">
            AND hw.work_type !=2
        </if>
        AND hw.work_type IN ( 1, 6 )
        AND hf.work_steta !=2
        AND hf.work_steta !=6
        AND h.visit_state != 3
        AND h.visit_state != 4
        ORDER BY
        hw.modify_date DESC
    </select>
    <update id="changeWorkerByHouseIdWorkerId" parameterType="java.lang.String">
        UPDATE dj_core_house_worker
        set data_status=1
        WHERE house_id = #{houseId}
          AND worker_id = #{workerId}
    </update>

</mapper>

