<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.core.IHouseFlowApplyImageMapper">
    <sql id="new_columns">
        img.id,
        img.create_date createDate,
        img.modify_date modifyDate,
        img.house_flow_apply_id houseFlowApplyId,
        img.image_url imageUrl,
        img.image_type imageType,
        img.data_status dataStatus,
        img.image_type_name imageTypeName
    </sql>

    <!--根据workerTypeId,workerType,houseId,houseFlowId,imageSign查询管理图片 -->
    <select id="getHouseFlowApplyImageList" resultType="com.dangjia.acg.modle.core.HouseFlowApplyImage">
        select <include refid="new_columns" />
        from `dj_core_house_flow_apply_image` img
        INNER JOIN `dj_core_house_flow_apply` ap ON ap.id=img.house_flow_apply_id
        WHERE ap.worker_type_id= #{workerTypeId}
        and ap.worker_type=#{workerType}
        and ap.house_id=#{houseId}
        and ap.house_flow_id=#{houseFlowId}
        and img.image_sign=#{imageSign}
    </select>

    <!--施工现场图片-->
    <select id="getHouseFlowApplyImage" resultType="java.lang.String">
        SELECT
          b.image_url AS imageUrl
        FROM
        dj_core_house_flow_apply a
        INNER JOIN dj_core_house_flow_apply_image b ON a.id = b.house_flow_apply_id
        WHERE
        a.house_id = #{houseId}
        AND b.image_type = 2
        AND b.data_status = 0
        AND b.image_url IS NOT NULL
        AND a.apply_type = 5
        ORDER BY
        b.create_date DESC
        LIMIT 1
    </select>
</mapper>

