<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.core.IHouseFlowMapper">
    <sql id="new_columns">
            id,
            city_id as cityId,
            house_id as houseId,
            sort,
            state,
            worker_type_id as workerTypeId,
            worker_type as workerType,
            work_type as workType,
            material_price as materialPrice,
            total_price as totalPrice,
            work_steta as workSteta,
            grab_number as grabNumber,
            refuse_number as refuseNumber,
            grab_lock as grabLock,
            nominator,
            work_price as workPrice,
            worker_id as workerId,
            pause,
            self_price as selfPrice,
            release_time as releaseTime,
            check_money as checkMoney,
            patrol,
            patrol_money as patrolMoney,
            scan_code as scanCode,
            supervisor_start as supervisorStart,
            past,
            latitude,
            longitude,
            data_status as dataStatus,
            create_date as createDate,
            modify_date as modifyDate
    </sql>

    <!--根据houseId和工种类型id-->
    <select id="getByWorkerTypeId" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where  house_id=#{houseId}
        and worker_type_id =#{workerTypeId}
    </select>

    <!--根据houseId查询已进场未完工工序-->
    <select id="unfinishedFlow" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
            <include refid="new_columns" />
        from dj_core_house_flow
        where state = 0
        and work_type = 4
        and work_steta != 2
        <if test="houseId!=null">
            AND house_id=#{houseId}
        </if>
        order by sort asc
    </select>

    <!--根据工种id,houseId查询houseFlowId -->
    <select id="selectHouseFlowId" parameterType="java.lang.String" resultType="java.lang.String">
        select
            id
        from dj_core_house_flow
        where house_id = #{houseId}
        and worker_type_id = #{workerTypeId}
    </select>

    <!--查询某个房子的某个 顺序的工序的 HouseFlow 是否生成 -->
    <select id="getHouseFlowBySort" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where house_id=#{houseId}
        and sort=#{sort}
    </select>

    <!--根据houseId查询所有用工序 -->
    <select id="getAllFlowByHouseId" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlow">
       select
        <include refid="new_columns" />
       from dj_core_house_flow
       where house_id=#{houseId}
	   and state=0
	   order by sort asc
    </select>

    <!--其它工人整体完工申请 检测还有没有其它整体完工的申请 -->
    <select id="checkAllFinish" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where house_id=#{houseId}
        and state=0
        and work_steta !=2
        and worker_type &gt; 3
        and id != #{houseFlowId}
    </select>

    <!--根据houseId查询是否此房子是否开工 -->
    <select id="getHouseIsStart" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where house_id=#{houseId}
        and worker_type not in(1,2,3)
        and work_type in(2,4)
    </select>
    <!--根据houseId和工种类型查询HouseFlow -->
    <select id="getHouseFlowByHidAndWty" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where  house_id=#{houseId}
        and worker_type =#{workerType}
    </select>
    <!--找出启用工种 给大管家算审核钱 -->
    <select id="getForCheckMoney" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where house_id=#{houseId}
        and state = 0
        and worker_type &gt; 3
        order by sort asc
    </select>

    <!--根据当前工序查下一工序-->
    <select id="getNextHouseFlow" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
        <include refid="new_columns" />
        from dj_core_house_flow
        where sort &gt; #{sort}
        and house_id=#{houseId}
        and state= 0 order by sort asc
    </select>

    <!--设计精算管家外可用工序-->
    <select id="getWorkerFlow" resultType="com.dangjia.acg.modle.core.HouseFlow">
        select
            <include refid="new_columns" />
        from dj_core_house_flow
        where house_id = #{houseId}
        and state=0
        and worker_type not in (1,2,3)
        order by sort asc
    </select>
</mapper>

