<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.core.IHouseFlowApplyMapper">

    <sql id="all_columns">
        id,
        house_flow_id as houseFlowId,
        worker_id as workerId,
        worker_type_id as workerTypeId,
        worker_type as workerType,
        house_id as houseId,
        apply_type as applyType,
        suspend_day as suspendDay,
        end_date as endDate,
        start_date as startDate,
        apply_dec as applyDec,
        member_check as memberCheck,
        supervisor_check as supervisorCheck,
        apply_money as applyMoney,
        pay_state as payState,
        other_money as otherMoney,
        supervisor_money as supervisorMoney,
        create_date as createDate,
        modify_date as modifyDate
    </sql>


    <!--管家已审核业主未审核超过时间申请 -->
    <select id="couponApply" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            member_check = 0
        and ( ((apply_type=1 or apply_type=2) and (supervisor_check = 1)) or apply_type=0 )
        and NOW() > end_date
    </select>

    <!--删除未审核申请-->
    <delete id="deleteNotMemberCheck" parameterType="java.lang.String">
        delete from dj_core_house_flow_apply
        where
            house_id = #{houseId}
		and member_check = 0
		and worker_id = #{workerId}
    </delete>


    <!--查询审核不通过的申请-->
    <select id="noPassList" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            house_flow_id = #{houseFlowId}
        and (supervisor_check = 2 or member_check = 2)
        and apply_type in (1,2)
    </select>

    <!--查询待处理完工申请-->
    <select id="unCheckByWorkerTypeId" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            house_id = #{houseId}
        and (supervisor_check = 0 or (supervisor_check = 1 and member_check = 0))
        and worker_type_id = #{workerTypeId}
        and apply_type in (1,2)
    </select>

    <!--管家已审核业主未审核申请 -->
    <select id="getMemberCheckList" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where member_check = 0
        and house_id = #{houseId}

        and ( ((apply_type=1 or apply_type=2) and (supervisor_check = 1))
              or apply_type=0 )
    </select>

    <!--查询待审核的申请-->
    <select id="checkPendingApply" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            apply_type &lt; 4
        and house_flow_id = #{houseFlowId}
        and worker_id = #{workerId}

        and ((supervisor_check=0 and apply_type!=0) or (supervisor_check=1 and member_check=0))
    </select>

    <!--根据工人和房子id查询自己已经被巡查多少次 -->
    <select id="countPatrol" parameterType="java.lang.String" resultType="java.lang.Long">
       select
       count(*)
       from
         dj_core_house_flow_apply
       where
	       house_id = #{houseId}
	   and apply_type = 5
        <if test="workerTypeId != null">
            AND worker_type_id=#{workerTypeId}
        </if>
    </select>

    <!--根据工人id和houseId查询今日是否开工 -->
    <select id="getTodayStart" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select
        <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and house_id = #{houseId}
        and worker_id = #{workerId}
        and apply_type = 4
        and to_days(create_date) = to_days(#{time})
    </select>

    <!--查询待审核的申请(不算每日完工) -->
    <select id="checkHouseFlowApply" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
		and house_flow_id = #{houseFlowId}
		and (supervisor_check = 0 or (supervisor_check = 1 and member_check = 0))
		and apply_type !=0
		and worker_id = #{workerId}
    </select>

    <!--根据houseid查询待大管家审核 -->
    <select id="getSupervisorCheckList" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where (apply_type=1 or apply_type=2 or apply_type=3)
        and house_id = #{houseId}
        and supervisor_check = 0
    </select>

    <!--大管家查询自己今天是否已上传过巡查 -->
    <select id="getTodayHouseFlowApplyBy56"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            to_days(create_date) = to_days(#{time})
        and house_id = #{houseId}
        and apply_type in(5,6)
        order by create_date desc
    </select>

    <!--根据houseflowid和工匠id查询待业主审核-->
    <select id="checkSupervisorApply" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and house_flow_id = #{houseFlowId}
        and member_check = 0
        and worker_id = #{workerId}
        LIMIT 1
    </select>

    <!--查询最早的每日开工申请-->
    <select id="getEarliestTimeHouseApply"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and house_id = #{houseId}
        and apply_type =4
        and worker_id = #{workerId}
        order by create_date asc
    </select>

    <!--查询所有审核通过的暂停天数-->
    <select id="getSuspendApply"  resultType="java.lang.Long">
        select sum(suspend_day)
        from dj_core_house_flow_apply
        where 1=1
        and house_id = #{houseId}
        and apply_type =3
        and supervisor_check =1
        and worker_id = #{workerId}
    </select>
    <!--查询每日完工天数-->
    <select id="getEveryDayApply"  resultType="java.lang.Long">
        select count(*)
        from dj_core_house_flow_apply
        where 1=1
		and house_id = #{houseId}
		and apply_type =0
		and worker_id = #{workerId}
    </select>

    <!--根据申请类别查询自己今天是否发过此申请-->
    <select id="getTodayHouseFlowApply"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where
            to_days(create_date) = to_days(#{time})
        and house_flow_id = #{houseFlowId}
        and apply_type =#{applyType}
        and worker_id = #{workerId}
        and supervisor_check !=2
        order by create_date desc
    </select>

    <!--根据houseId查询今日是否开工-->
    <select id="getTodayStartByHouseId"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and house_id = #{houseId}
        and apply_type = 4
        and to_days(create_date) = to_days(#{time})
    </select>

    <!--根据houseflowid和工匠id查询待管家审核-->
    <select id="getSupervisorCheck"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and (apply_type=1 or apply_type=2 or apply_type=3)
        and house_flow_id = #{houseFlowId}
        and supervisor_check = 0
        and worker_id = #{workerId}
    </select>

    <!--根据houseId查询所有施工记录-->
    <select id="queryAllHfaByHouseId"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where 1=1
        and  house_id = #{houseId}
        <if test="workerTypeId!=null and workerTypeId!=''">
            and worker_type_id=#{workerTypeId}
        </if>
        order by create_date DESC
    </select>

    <!--根据houseId查询所有工序记录-->
    <select id="queryFlowRecord"  resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        select <include refid="all_columns" />
        from dj_core_house_flow_apply
        where house_flow_id = #{houseFlowId}
        order by create_date DESC
    </select>
    <select id="queryHfaByHouseId" resultType="com.dangjia.acg.modle.core.HouseFlowApply">
        SELECT <include refid="all_columns" />
        FROM
             dj_core_house_flow_apply
        WHERE 1 = 1
          AND house_id = #{houseId}
          AND (apply_type=0 OR supervisor_check=1)
        <if test="workerTypeId!=null and workerTypeId!=''">
            and worker_type_id=#{workerTypeId}
        </if>
        ORDER BY create_date DESC
    </select>

</mapper>

