<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.user.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.dangjia.acg.modle.user.RolePermission" >
    <id column="permit_id" property="permitId" jdbcType="INTEGER" />
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>

  <!--=Start findByRole 根据角色查询中间表数据-->
  <select id="findByRole" resultType="com.dangjia.acg.modle.user.RolePermission">
    SELECT role_id roleId,permit_id permitId
    from dj_user_role_permission
    WHERE role_id=#{roleId}
  </select>
  <!--=End findByRole 根据角色查询中间表数据-->
</mapper>