<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.store.IStoreSubscribeMapper">

    <sql id="all_columns">
	      sb.id,
          sb.create_date AS createDate,
          sb.modify_date AS modifyDate,
          sb.data_status AS dataStatus,
          sb.store_id AS storeId,
          sb.store_name AS storeName,
          sb.customer_name AS customerName,
          sb.customer_phone AS customerPhone,
          sb.state,
          sb.info
	</sql>

    <!--门店预约查询-->
    <select id="queryStoreSubscribe" resultType="com.dangjia.acg.modle.store.StoreSubscribe">
        SELECT
          <include refid="all_columns"/>
        FROM dj_store_subscribe sb
        INNER JOIN dj_store s on sb.store_id=s.id
        WHERE 1=1
        <if test="cityId!=null and cityId!=''">
            and s.city_id=#{cityId}
        </if>
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            sb.customer_name LIKE CONCAT('%',#{searchKey},'%')
              OR
            sb.customer_phone LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="null!=state and ''!=state">
            AND  sb.state = #{state}
        </if>
        ORDER BY sb.modify_date DESC
    </select>



</mapper>