<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.recommend.ILatticeContentTypeMapper">

    <!-- 查询类型值 根据主键 -->
    <select id="queryTypeValue" resultType="java.lang.Integer">
        SELECT type_value FROM dj_lattice_content_type WHERE id = #{id}
    </select>

</mapper>