<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.recommend.IRecommendItemSubMapper">

    <select id="queryList" resultType="com.dangjia.acg.modle.recommend.RecommendItemSub">

        SELECT
            id
            , item_id 'itemId'
            , item_sub_name 'itemSubName'
        FROM
            dj_recommend_item_sub
        WHERE
            item_id = #{itemId}
        <if test="null != itemSubName and ''!=itemSubName">
            AND item_sub_name LIKE CONCAT('%',#{itemSubName},'%')
        </if>
            AND data_status = 0

    </select>

    <!-- 查询推荐参考子项ID列表 -->
    <select id="queryItemSubIdByItemIdAndUnique" resultType="java.lang.String">
        SELECT id
        FROM dj_recommend_item_sub
        WHERE item_id = #{itemId}
          AND source_unique IN
        <foreach collection="uniqueList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>