<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.recommend.StorefrontProductMapper">

    <!-- 通过货品或者商品名称查询 -->
    <select id="queryProductGroundByKeyWord" resultType="com.dangjia.acg.dto.product.StorefrontProductDTO">

        SELECT
        bsp.id
        , IFNULL(bsp.product_name,'')  AS productName
        , image
        FROM
        dj_basics_storefront_product bsp
        INNER JOIN dj_basics_goods bg ON bsp.goods_id = bg.id
        where bsp.data_status=0
        and
        (
        bsp.detail_image is null  or
        bsp.image is null   or
        bsp.product_name is null or
        bsp.sell_price is null or
        bsp.supplied_num is  null
        )
        <if test="null!=keyWord and ''!=keyWord">
            and (
            bg.NAME LIKE CONCAT('%',#{keyWord},'%') or
            bsp.product_name LIKE CONCAT('%',#{keyWord},'%')
            )
        </if>
    </select>

</mapper>