<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.product.IMasterProductTemplateMapper">

    <select id="querySkillsCertificationWaitingList"
            resultType="com.dangjia.acg.modle.product.DjBasicsProductTemplate">
        SELECT
            a.product_sn productSn,
            a.name,
            a.id,
            c.type
        FROM
            dj_basics_product_template a,
            dj_basics_goods c
        WHERE a.goods_id=c.id
        AND c.type IN(2,3,5)
        <if test="null!=workerTypeId and ''!=workerTypeId">
            AND a.worker_type_id=#{workerTypeId}
        </if>
        <if test="null!=searchKey and ''!=searchKey">
            AND (
                a.name LIKE CONCAT('%',#{searchKey},'%') or
                a.product_sn LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        AND NOT EXISTS (
            SELECT
                1
            FROM
                dj_skill_certification b
            WHERE
                a.id = b.prod_template_id
            AND b.skill_certification_id=#{skillCertificationId}
        )
    </select>
</mapper>