<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.product.IShoppingCartMapper">

    <sql id="all_columns">
		id,
		city_id as cityId,
		member_id as memberId,
		product_id as productId,
		product_sn as productSn,
		product_name as productName,
		image,
		price ,
		shopCount,
		unit_name as unitName,
		category_id as categoryId,
		product_type as productType,
		storefront_id as storefrontId ,
		create_date AS createDate,
        modify_date AS modifyDate,
        data_status AS dataStatus
	</sql>

  	<select id="queryCartList" resultType="com.dangjia.acg.modle.product.ShoppingCart">
		SELECT
			<include refid="all_columns"/>
		FROM
			dj_repair_shopping_cart
		WHERE
			member_id =#{memberId}
		AND city_id =#{cityId}
		and storefront_id=#{storefrontId}
	</select>

	<select id="queryStorefrontIds" resultType="java.lang.String">
		SELECT
		  	storefront_id
		FROM
			dj_repair_shopping_cart
		WHERE
			member_id =#{memberId}
			AND city_id =#{cityId}
		group by storefront_id
	</select>
</mapper>

