<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.member.IMemberLabelMapper">

    <sql id="all_columns">
		id,
        name,
        parent_id AS parentId,
        parent_name AS parentName,
        create_date AS createDate,
        modify_date AS modifyDate
	</sql>

    <select id="getLabel" resultType="com.dangjia.acg.modle.member.MemberLabel">
        SELECT
        <include refid="all_columns" />
        from dj_member_label
        ORDER by create_date
    </select>


    <select id="getAllParentLabel" resultType="com.dangjia.acg.modle.member.MemberLabel">
        SELECT
        <include refid="all_columns" />
        from dj_member_label
        group by parent_id
        ORDER by modify_date desc ,create_date desc
    </select>

    <!-- 指定父标签id，查找所有的子标签 -->
    <select id="getChildLabelByParentId" parameterType="String" resultType="com.dangjia.acg.modle.member.MemberLabel">
        SELECT
        <include refid="all_columns" />
        FROM dj_member_label
        WHERE parent_id=#{parentId}
        ORDER by create_date
    </select>

    <!-- 指定父标签name，查找所有的子标签 -->
    <select id="getLabelByParentName" parameterType="String" resultType="com.dangjia.acg.modle.member.MemberLabel">
        SELECT
        <include refid="all_columns" />
        FROM dj_member_label
        WHERE parent_name=#{parentName}
        ORDER by create_date
    </select>


    <!-- 根据标签名称查询 -->
    <select id="getLabelByName" parameterType="String" resultType="com.dangjia.acg.modle.member.MemberLabel">
		SELECT
        <include refid="all_columns" />
		FROM dj_member_label WHERE name=#{name}
        ORDER by create_date
	</select>
    
    <select id="getLabelByIds" resultType="com.dangjia.acg.dto.member.SaleMemberLabelDTO">
        SELECT
          id,
          CONCAT_WS("-",parent_name,name) name
        FROM dj_member_label
        WHERE id in
        <foreach collection="labelIds" index="index" item="item" open="(" separator="," close=")">
             #{item}
        </foreach>
    </select>


    <select id="queryDescribes" resultType="com.dangjia.acg.dto.member.CustomerRecordInFoDTO">
        select m.head as head,
        m.nick_name as nickName,
        m.name as name,
        mcr.remind_time as remindTime,
        mcr.describes as describes,
        mcr.create_date as createDate
        from
        dj_member_customer_record mcr
        INNER JOIN dj_member m on m.id = mcr.member_id
        where  mcr.member_id = #{memberId} ORDER BY mcr.create_date DESC
    </select>


    <select id="queryTalkContent" resultType="com.dangjia.acg.dto.member.CustomerRecordInFoDTO">
        select
            m.name as name,
            m.head as head,
            ct.talk_content as describes,
            ct.create_date as createDate,
            ct.remind_time as remindTime
        from dj_user u
        INNER JOIN dj_member m on u.member_id=m.id
        INNER JOIN dj_clue_talk ct on ct.user_id=u.id
        where ct.clue_id= #{clueId} ORDER BY ct.create_date DESC
    </select>



    <select id="queryWorkerType" resultType="com.dangjia.acg.dto.member.WorkerTypeDTO">
        select m.name as name,
        m.mobile as mobile,
        m.head as head,
        cwt.type as type
        from
        dj_core_house_flow chf INNER JOIN dj_member m on chf.worker_id = m.id
        INNER JOIN dj_core_worker_type cwt on chf.worker_type_id = cwt.id
        where m.worker_type = 3
        and chf.house_id = #{houseId}
        ORDER BY cwt.create_date DESC
    </select>

    <select id="queryAddressName" resultType="java.lang.String" parameterType="java.lang.String">
        select name from dj_house_address where house_id = #{houseId}  limit 1
    </select>

</mapper>

