<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.member.IMemberMapper">

    <sql id="all_columns">
		id,
        user_name AS userName ,
        password,
        nick_name AS nickName ,
        name,
        mobile,
        qrcode,
        superiorId,
        invite_num AS inviteNum,
        gift,
        invitation_code AS invitationCode,
        others_invitation_code AS othersInvitationCode,
        user_role AS userRole,
        head,
        idcaoda,
        idcaodb,
        idcaodall,
        worker_type AS workerType,
        worker_type_id AS workerTypeId,
        idnumber,
        worker_price AS workerPrice,
        have_money AS haveMoney,
        surplus_money AS surplusMoney,
        retention_money AS retentionMoney,
        deposit,
        check_type AS checkType,
        praise_rate AS praiseRate,
        volume,
        evaluation_score AS evaluationScore,
        is_crowned AS isCrowned,
        smscode,
        paycode,
        referrals,
        workyears,
        nativeplace,
        address,
        self_assessment as selfAssessment,
        specialty,
        create_date AS createDate,
        modify_date AS modifyDate

	</sql>

    <select id="getUser" parameterType="com.dangjia.acg.modle.member.Member" resultType="com.dangjia.acg.modle.member.Member">
        SELECT
        <include refid="all_columns" />
        FROM dj_member
        where 1=1
        <if test="password!=null">
            AND password=#{password}
        </if>
        <if test="mobile!=null">
            AND mobile=#{mobile}
        </if>

        <if test="smscode>0">
            AND smscode=#{smscode}
        </if>
        LIMIT 1
    </select>

    <select id="getMemberList" resultType="map" >
        SELECT
            id,
            user_name AS userName,
            name,
            mobile,
            visit_state AS visitState,
            create_date AS createDate
        FROM dj_member
        ORDER by
            create_date
    </select>
</mapper>

