<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.member.IMemberCollectMapper">
    <sql id="basic_h_columns">
        h.id,
        h.building,
        h.city_name as cityName,
        h.residential,
        h.type,
        h.unit,
        h.member_id as memberId,
        h.task_number as taskNumber,
        h.square,
        h.number,
        h.style,
        h.designer_ok as designerOk,
        h.budget_ok as budgetOk,
        h.image,
        h.decoration_type as decorationType,
        h.city_id as cityId,
        h.modeling_layout_id as modelingLayoutId,
        h.money,
        h.pause,
        h.show_house as showHouse,
        h.village_id as villageId,
        h.refer_house_id as referHouseId,
        h.have_complete as haveComplete,
        h.record_type as recordType,
        h.build_square as buildSquare,
        h.again,
        h.house_type as houseType,
        h.drawings,
        h.work_deposit_id as workDepositId,
        h.custom_sort as customSort,
        h.is_select as isSelect,
        h.visit_state as visitState,
        h.data_status as dataStatus,
        h.create_date as createDate,
        h.construction_date as constructionDate,
        h.modify_date as modifyDate,
        h.optional_label as optionalLabel
    </sql>

    <!--商品表实体-->
    <sql id="basic_goods_columns">
        p.name  as name ,
        p.goods_id as goodsId  ,
        p.product_sn as  productSn ,
        p.image as  image ,
        p.unit_name as  unitName ,
        p.unit_id as unitId  ,
        p.category_id as categoryId   ,
        p.label_id as   labelId ,
        p.type as type   ,
        p.maket as maket   ,
        p.price as price   ,
        p.other_name as other_name ,
        p.istop as istop ,
        p.remark as remark
    </sql>


    <!--房子收藏列表-->
    <select id="queryCollectHouse" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        <include refid="basic_h_columns"/>
        FROM
            `dj_member_collect` c
        INNER JOIN dj_house h ON h.id = c.house_id
        where 	c.data_status = 0 and c.condition_type = 0
        <if test="memberId!=null and memberId!=''">
            AND c.member_id = #{memberId}
        </if>
        ORDER BY c.create_date DESC
    </select>

    <!--产品收藏列表-->
    <select id="queryCollectGood" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        <include refid="basic_goods_columns"/>
        FROM
        `dj_member_collect` c
        INNER JOIN dj_changsha.dj_basics_product p ON p.id = c.house_id
        where 	c.data_status = 0 and c.condition_type = 1
        <if test="memberId!=null and memberId!=''">
            AND c.member_id = #{memberId}
        </if>
        ORDER BY c.create_date DESC
    </select>

</mapper>

