<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.member.IMemberMapper">

    <sql id="all_columns">
		w.id,
        w.user_name AS userName ,
        w.password,
        w.nick_name AS nickName ,
        w.name,
        w.mobile,
        w.qrcode,
        w.superiorId,
        w.invite_num AS inviteNum,
        w.gift,
        w.invitation_code AS invitationCode,
        w.others_invitation_code AS othersInvitationCode,
        w.head,
        w.idcaoda,
        w.idcaodb,
        w.idcaodall,
        w.worker_type AS workerType,
        w.worker_type_id AS workerTypeId,
        w.idnumber,
        w.worker_price AS workerPrice,
        w.have_money AS haveMoney,
        w.surplus_money AS surplusMoney,
        w.retention_money AS retentionMoney,
        w.deposit,
        w.check_type AS checkType,
        w.praise_rate AS praiseRate,
        w.volume,
        w.evaluation_score AS evaluationScore,
        w.is_crowned AS isCrowned,
        w.smscode,
        w.paycode,
        w.referrals,
        w.remarks,
        w.real_name_state as realNameState,
        w.real_name_describe as realNameDescribe,
        w.check_describe as checkDescribe,
        w.create_date AS createDate,
        w.data_status AS dataStatus,
        w.modify_date AS modifyDate
	</sql>

    <!-- 工匠列表 -->
    <select id="artisanList" resultType="com.dangjia.acg.modle.member.Member">
        SELECT
        <include refid="all_columns"/>
        FROM dj_member w
        INNER JOIN dj_member_info mi on mi.member_id = w.id and mi.policy_id='2'
        WHERE w.data_status = 0
        <if test="name!=null and name!=''">
            and
            w.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="workerTypeId!=null and workerTypeId!=''">
            and
            w.worker_type_id = #{workerTypeId}
        </if>
        and
        w.worker_type_id is not null
        ORDER by
        w.create_date
        desc
    </select>

    <select id="getSupervisor" resultType="com.dangjia.acg.modle.member.Member">
        SELECT
        <include refid="all_columns"/>
        FROM dj_member w
        where
        w.id = (select hw.worker_id from dj_core_house_worker hw
        where hw.house_id = #{houseId}
        and hw.worker_type = 3
        and hw.work_type = 6)
    </select>

    <select id="getUser" parameterType="com.dangjia.acg.modle.member.Member"
            resultType="com.dangjia.acg.modle.member.Member">
        SELECT
        <include refid="all_columns"/>
        FROM dj_member w
        where w.data_status = 0
        <if test="password!=null">
            AND password=#{password}
        </if>
        <if test="mobile!=null">
            AND mobile=#{mobile}
        </if>

        <if test="smscode>0">
            AND smscode=#{smscode}
        </if>
        LIMIT 1
    </select>

    <select id="getMemberList" resultType="map">
        SELECT
            id,
            user_name AS userName,
            name,
            mobile,
            visit_state AS visitState,
            create_date AS createDate
        FROM dj_member
        WHERE
          data_status = 0
        ORDER by
            create_date
    </select>

    <select id="getMemberListByName" resultType="com.dangjia.acg.modle.member.Member">
        SELECT
        w.id,
        w.user_name AS userName ,
        w.password,
        w.nick_name AS nickName ,
        w.name,
        w.mobile,
        w.qrcode,
        w.superiorId,
        w.invite_num AS inviteNum,
        w.gift,
        w.invitation_code AS invitationCode,
        w.others_invitation_code AS othersInvitationCode,
        w.head,
        w.idcaoda,
        w.idcaodb,
        w.idcaodall,
        w.worker_type AS workerType,
        w.worker_type_id AS workerTypeId,
        w.idnumber,
        w.worker_price AS workerPrice,
        w.have_money AS haveMoney,
        w.surplus_money AS surplusMoney,
        w.retention_money AS retentionMoney,
        w.deposit,
        w.check_type AS checkType,
        w.praise_rate AS praiseRate,
        w.volume,
        w.evaluation_score AS evaluationScore,
        w.is_crowned AS isCrowned,
        w.smscode,
        w.paycode,
        w.referrals,
        w.remarks,
        w.create_date AS createDate,
        w.data_status AS dataStatus,
        w.modify_date AS modifyDate,
        mc.stage,
        mc.label_id_arr,
        mc.remind_record_id,
        mcr.remind_time
        FROM dj_member w
        INNER JOIN dj_member_info mi on mi.member_id = w.id and mi.policy_id=#{userRole}
        LEFT JOIN dj_member_customer mc on mc.member_id = w.id
        LEFT JOIN dj_member_customer_record mcr on mc.remind_record_id = mcr.id
        WHERE w.data_status = 0
        <if test="searchKey!=null and searchKey!=''">
            AND (w.nick_name LIKE CONCAT('%',#{searchKey},'%')
            or w.mobile LIKE CONCAT('%',#{searchKey},'%'))
        </if>


        <if test="stage >= 0">
            and ifnull(mc.stage,0)=#{stage}
        </if>
        <!--<if test="stage == -1">-->
            <!--and ifnull(mc.stage,0) !=3-->
            <!--and ifnull(mc.stage,0) !=2-->
        <!--</if>-->
        <if test="childsLabelIdArr!=null and childsLabelIdArr!=''">
            <foreach collection="childsLabelIdArr" item="lableId" index="index">
                and FIND_IN_SET(#{lableId},mc.label_id_arr)
            </foreach>
        </if>
        ORDER by  mcr.remind_time desc,w.create_date
        <if test="orderBy!=null and orderBy!=''and orderBy=='desc'">
            desc
        </if>


    </select>

    <select id="getByPhone" parameterType="String" resultType="com.dangjia.acg.modle.member.Member">
        select  *
        from dj_member where mobile=#{mobile}
    </select>

</mapper>

