<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.sale.ResidentialBuildingMapper">

    <select id="selectSingleResidentialBuilding" resultType="com.dangjia.acg.modle.sale.residential.ResidentialBuilding">
        select
            id,
            create_date as createDate,
            modify_date as modifyDate,
            data_status as dataStatus,
            village_id as villageId,
            building,
            store_id as storeId
        from dj_sale_residential_building
        WHERE store_id=#{storeId}
        and building LIKE CONCAT('%',#{building},'%')
        and village_id=#{villageId}
    </select>

    <select id="getvillageIdGroupBy" resultType="com.dangjia.acg.modle.sale.residential.ResidentialBuilding">
        select
            id,
            create_date as createDate,
            modify_date as modifyDate,
            data_status as dataStatus,
            village_id as villageId,
            building,
            store_id as storeId
        from dj_sale_residential_building
        WHERE id in
        <foreach collection="buildingId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        Group by village_id
    </select>

</mapper>