<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.supplier.DjSupApplicationProductMapper">

    <update id="setCommodityPricing">
        UPDATE dj_adjust_record ar
        INNER JOIN dj_sup_application_product sap ON ar.application_product_id = sap.id
        SET sap.price = ar.adjust_price
        WHERE
            DATE_FORMAT(SYSDATE(), '%Y-%m-%d') = date_format(ar.adjust_time, '%Y-%m-%d');
    </update>


    <select id="querySupplierProduct" resultType="com.dangjia.acg.modle.supplier.DjSupApplicationProduct">
		select
		sp.id,
		sp.product_id AS productId,
		sp.sup_id AS supId,
		sp.price,
		sp.stock,
		sp.supply_relationship AS supplyRelationShip,
		sp.goods_id AS goodsId,
		sp.create_date AS createDate,
		sp.modify_date AS modifyDate,
		sp.data_status AS dataStatus
		FROM
		dj_sup_application_product  sp
		WHERE  sp.supply_relationship = 0
		<if test="productId!=null and productId!=''">
			and sp.product_id =#{productId}
		</if>
		ORDER BY
		sp.price DESC


    </select>

</mapper>