<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.delivery.IBillDjDeliverOrderMapper">


    <select id="queryApplyDec" resultType="com.dangjia.acg.dto.delivery.HouseFlowDataDTO">
        select apply_dec as applyDec,create_date AS createDate
        from dj_core_house_flow_apply
        order by create_date DESC limit 4
    </select>

    <select id="queryApplyPayState" resultType="com.dangjia.acg.dto.delivery.HouseFlowDataDTO">
        select apply_dec as applyDec,create_date AS createDate
        from dj_core_house_flow_apply WHERE is_read_type = 0 and house_id = #{houseId}
    </select>

    <select id="queryDjDeliverOrderStorefront" resultType="com.dangjia.acg.dto.delivery.OrderStorefrontDTO">
        SELECT
            t1.storefont_id storefrontId,
            t1.id orderId,
            t1.address_id addressId,
            t1.house_id houseId,
            t1.business_order_number businessOrderNumber,
            t1.order_number orderNumber,
            t4.storefront_name storefrontName,
            t4.storefront_logo storefrontLogo
        FROM
            dj_deliver_order t1,
            dj_pay_business_order t3,
            dj_basics_storefront t4
        WHERE
            t1.business_order_number = t3.number
        AND t1.storefont_id = t4.id
        AND t1.payment IS NOT NULL
        AND t3.state = 3
        AND t1.house_id = #{houseId}
        AND EXISTS (
            SELECT
                1
            FROM
                dj_deliver_order_item t2
            WHERE
                t1.id = t2.order_id
            AND t2.shop_count > (
                IFNULL(t2.ask_count, 0) + IFNULL(t2.return_count, 0)
            )
            AND t2.data_status = 0
            AND t2.is_reservation_deliver=1
            AND (t2.reservation_deliver_time IS NULL OR t2.reservation_deliver_time='')
        )
    </select>


    <select id="queryAppointment" resultType="com.dangjia.acg.dto.delivery.AppointmentDTO">
        SELECT
            t.product_id productId,
            t.id orderItemId,
            t.storefont_id storefrontId,
            t.product_name productName,
            t.product_sn productSn,
            t.product_type productType,
            t.price price,
            t.order_id as orderId,
            IFNULL(t.image,t1.image) image,
            t.shop_count shopCount,
            IFNULL(t.ask_count,0) askCount,
            IFNULL(t.return_count,0) returnCount,
            (t.shop_count - (IFNULL(t.ask_count, 0)+IFNULL(t.return_count,0))) surplusCount,
            t1.prod_template_id productTemplateId,
            t.reservation_deliver_time as reservationDeliverTime,
            IFNULL(t.total_price,0) as totalPrice,
            t2.value_name_arr as valueNameArr,
            t2.value_id_arr as valueIdArr
        FROM
            dj_deliver_order_item t,
            dj_basics_storefront_product t1,
            dj_basics_product_template t2
        WHERE t.product_id =t1.id
        AND t1.prod_template_id=t2.id
        AND t.order_id =  #{orderId}
        AND t.shop_count > (IFNULL(t.ask_count, 0)+IFNULL(t.return_count,0))
        AND t.data_status = 0
        AND t.is_reservation_deliver = 1
        AND (
            t.reservation_deliver_time IS NULL
            OR t.reservation_deliver_time = ''
        )
        ORDER BY t.create_date
    </select>


    <select id="queryReservedStorefront" resultType="com.dangjia.acg.dto.delivery.OrderStorefrontDTO">
        SELECT
            t1.storefront_id storefrontId,
            t1.id orderSplitId,
            t1.address_id addressId,
            t1.house_id houseId,
            t4.storefront_name storefrontName,
            t1.order_id orderId,
            t1.id as orderSplitId
        FROM
            dj_deliver_order_split t1,
            dj_basics_storefront t4
        WHERE
            t1.storefront_id = t4.id
        AND t1.house_id=#{houseId}
        AND EXISTS (
            SELECT
                1
            FROM
                dj_deliver_order_split_item t2
            WHERE
                t1.id = t2.order_split_id
            AND t2.data_status = 0
            AND t2.is_reservation_deliver = 1
            AND t2.reservation_deliver_time IS NOT NULL
        )
    </select>


    <select id="queryReserved" resultType="com.dangjia.acg.dto.delivery.AppointmentDTO">
        SELECT
            t.product_id productId,
            t.id as orderSplitItemId,
            t.storefront_id storefrontId,
            t.product_name productName,
            t.product_sn productSn,
            t.product_type productType,
            t.price price,
            IFNULL(t.image, t1.image) image,
            IFNULL(t.ask_count, 0) askCount,
            t1.prod_template_id productTemplateId,
            t.reservation_deliver_time AS reservationDeliverTime,
            t.unit_name as unitName,
            t.order_split_id as orderSplitId,
            IFNULL(t.total_price,0) as totalPrice,
            t2.value_name_arr as valueNameArr,
            t2.value_id_arr as valueIdArr,
            t.num as shopCount
        FROM
            dj_deliver_order_split_item t,
            dj_basics_storefront_product t1,
            dj_basics_product_template t2
        WHERE
            t.product_id = t1.id
        AND t1.prod_template_id=t2.id
        AND t.data_status = 0
        AND t.order_split_id =  #{orderSplitId}
    </select>

    <!--取消预约-->
    <delete id="cancelBooking">
        DELETE dj_deliver_order_split a,
         dj_deliver_order_split_item b
        FROM
            dj_deliver_order_split a,
            dj_deliver_order_split_item b
        WHERE
            a.id = b.order_split_id
        AND a.id = #{orderSplitId}
    </delete>


    <select id="queryType" resultType="com.dangjia.acg.dto.member.WorkerTypeDTO" parameterType="java.lang.String">
        select
            cwt.type as type,
            chf.worker_type_id as workerTypeId,
            chf.work_steta as workSteta
        from
        dj_core_house_flow chf INNER JOIN
        dj_core_worker_type cwt on chf.worker_type_id = cwt.id
        where chf.house_id = #{houseId}
        ORDER BY chf.modify_date desc
    </select>

    <!--searchDecorationTotalCost查询全部花费-->
    <select id="searchDecorationTotalCost" resultType="com.dangjia.acg.dto.order.DecorationCostDTO">
       SELECT
            sum(actualPaymentPrice) actualPaymentPrice,
            sum(purchaseTotalPrice) purchaseTotalPrice
        FROM
            (
                SELECT
                    sum(IFNULL(
                        t2.actual_payment_price,
                        IFNULL(
                            t2.total_price,
                            t2.price * t2.shop_count
                        )
                    )) actualPaymentPrice,
                    0 purchaseTotalPrice
                FROM
                    dj_deliver_order t1,
                    dj_deliver_order_item t2
                WHERE
                    t1.id = t2.order_id
                AND t1.house_id = #{houseId}
                UNION ALL
                    SELECT
                        sum(IFNULL(t1.total_price, 0)) actualPaymentPrice,
                        sum(IFNULL(t1.total_price, 0)) purchaseTotalPrice
                    FROM
                        dj_actuary_budget_material t1
                    WHERE
                        t1.steta = 2
                    AND t1.delete_state != 1
                    AND t1.product_id IS NULL
                    AND t1.house_id = #{houseId}
            ) m

    </select>
    <!--  查询当前用户的花费，根据类别汇总 -->
    <select id="searchDecorationCostList" resultType="com.dangjia.acg.dto.order.DecorationCostDTO">
        SELECT
            m.categoryId,
            m.categoryName,
            sum(actualPaymentPrice) actualPaymentPrice,
            sum(purchaseTotalPrice) purchaseTotalPrice
        FROM
            (
                SELECT
                    t5.id categoryId,
                    t5. NAME categoryName,
                    IFNULL(
                        t2.actual_payment_price,
                        IFNULL(
                            t2.total_price,
                            t2.price * t2.shop_count
                        )
                    ) actualPaymentPrice,
              0 purchaseTotalPrice
                FROM
                    dj_deliver_order t1,
                    dj_deliver_order_item t2,
                    dj_basics_storefront_product t3,
                    dj_basics_product_template t4,
                    dj_basics_goods_category t5
                WHERE
                    t1.id = t2.order_id
                AND t2.product_id = t3.id
                AND t3.prod_template_id = t4.id
                AND t4.category_id = t5.id
                AND t1.house_id = #{houseId}
                <if test="null!=labelValId and ''!=labelValId">
                    and FIND_IN_SET(#{labelValId} ,t5.category_label_ids)
                </if>
                UNION ALL
                    SELECT
                        t3.id categoryId,
                        t3.`name` categoryName,
                        IFNULL(t1.total_price, 0) actualPaymentPrice,
                IFNULL(t1.total_price, 0) purchaseTotalPrice
                    FROM
                        dj_actuary_budget_material t1,
                        dj_basics_goods t2,
                        dj_basics_goods_category t3
                    WHERE
                        t1.steta = 2
                    AND t1.goods_id = t2.id
                    AND t2.category_id = t3.id
                    AND t1.delete_state != 1
                    AND t1.product_id IS NULL
                    AND t1.house_id = #{houseId}
                    <if test="null!=labelValId and ''!=labelValId">
                        and FIND_IN_SET(#{labelValId} ,t3.category_label_ids)
                    </if>
                    AND EXISTS (
                        SELECT
                            1
                        FROM
                            dj_deliver_order t4
                        WHERE
                            t1.house_id = t4.house_id
                        AND t1.worker_type_id = t4.worker_type_id
                    )
            ) m
        group by m.categoryId,
            m.categoryName

    </select>
    <!--  查询当前用户的花费，具体详情花费 -->
    <select id="searchDecorationCostDetailList" resultType="com.dangjia.acg.dto.order.DecorationCostItemDTO">

        SELECT
          t5.category_id categoryId,
          t4.goods_id goodsId,
          t5.name goodsName,
          t2.product_id productId,
          t4.id productTemplateId,
          t2.product_name productName,
          t4.product_sn productSn,
          t4.image,
          t2.price price,
          t2.shop_count shopCount,
          IFNULL(t2.actual_payment_price,IFNULL(t2.total_price,t2.price*t2.shop_count)) actualPaymentPrice,
          1 steta,
          '' actuaryBudgetId
        FROM
            dj_deliver_order t1,
            dj_deliver_order_item t2,
            dj_basics_storefront_product t3,
            dj_basics_product_template t4,
            dj_basics_goods t5,
            dj_basics_goods_category t6
        WHERE
            t1.id = t2.order_id
        and t2.product_id=t3.id
        and t3.prod_template_id=t4.id
        and t4.goods_id=t5.id
        and t5.category_id = t6.id
        and t1.house_id=#{houseId}
        and t5.category_id=#{categoryId}
        <if test="null!=labelValId and ''!=labelValId">
            and FIND_IN_SET(#{labelValId} ,t6.category_label_ids)
        </if>
        union all
        SELECT
                t2.category_id categoryId,
                t2.id goodsId,
                t2.name goodsName,
                '' productId,
                '' productTemplateId,
                '' productName,
                '' productSn,
                '' image,
                t1.price,
                t1.shop_count shopCount,
                t1.total_price actualPaymentPrice,
                2 steta,
                t1.id actuaryBudgetId
            FROM
                dj_actuary_budget_material t1,
                dj_basics_goods t2,
                dj_basics_goods_category t3
            WHERE
                t1.steta = 2
            AND t1.goods_id = t2.id
            AND t2.category_id = t3.id
            AND t1.delete_state != 1
            AND t1.product_id IS NULL
            AND t1.house_id = #{houseId}
            and t2.category_id=#{categoryId}
            <if test="null!=labelValId and ''!=labelValId">
                and FIND_IN_SET(#{labelValId} ,t3.category_label_ids)
            </if>
            AND EXISTS (
                SELECT
                    1
                FROM
                    dj_deliver_order t4
                WHERE
                    t1.house_id = t4.house_id
                AND t1.worker_type_id = t4.worker_type_id
            )
    </select>

    <!--按类别标签汇总花费信息-->
    <select id="searchDecorationCategoryLabelList" resultType="com.dangjia.acg.dto.order.DecorationCostDTO">
        SELECT
            m1.id labelValId,
            m1.name labelValName,
            sum(actualPaymentPrice) actualPaymentPrice,
            sum(purchaseTotalPrice) purchaseTotalPrice
        FROM
            (
                SELECT t5.category_label_ids,
                    IFNULL(
                        t2.actual_payment_price,
                        IFNULL(
                            t2.total_price,
                            t2.price * t2.shop_count
                        )
                    ) actualPaymentPrice,
                    0 purchaseTotalPrice
                FROM
                    dj_deliver_order t1,
                    dj_deliver_order_item t2,
                    dj_basics_storefront_product t3,
                    dj_basics_product_template t4,
                    dj_basics_goods_category t5
                WHERE
                    t1.id = t2.order_id
                AND t2.product_id = t3.id
                AND t3.prod_template_id = t4.id
                AND t4.category_id = t5.id
                AND t1.house_id = #{houseId}
                UNION ALL
                    SELECT
                        t3.category_label_ids,
                        IFNULL(t1.total_price, 0) actualPaymentPrice,
                        IFNULL(t1.total_price, 0) purchaseTotalPrice
                    FROM
                        dj_actuary_budget_material t1,
                        dj_basics_goods t2,
                        dj_basics_goods_category t3,
                        dj_basics_category_label t4
                    WHERE
                        t1.steta = 2
                    AND t1.goods_id = t2.id
                    AND t2.category_id = t3.id
                    AND t1.delete_state != 1
                    AND t1.product_id IS NULL
                    AND t1.house_id = #{houseId}
            ) m,dj_basics_category_label m1 where FIND_IN_SET(m1.id,m.category_label_ids)
        GROUP BY
            m1.id,
            m1.name
    </select>
    <select id="selectDeliverOrderByHouse" resultType="com.dangjia.acg.dto.delivery.DjDeliverOrderDTO">
        SELECT
        ddo.id,
        IFNULL(ddo.house_id,'') as houseId,
        IFNULL(ddo.business_order_number,'') as businessOrderNumber,
        IFNULL(ddo.total_amount,'') as totalAmount,
        IFNULL(ddo.member_id,'') as memberId,
        IFNULL(ddo.address_id,'') as addressId,
        IFNULL(ddo.worker_id,'') as workerId,
        IFNULL(ddo.worker_type_name,'') as workerTypeName,
        IFNULL(ddo.worker_type_id,'') as workerTypeId,
        IFNULL(ddo.style_name,'') as styleName,
        IFNULL(ddo.style_price,'') as stylePrice,
        IFNULL(ddo.budget_cost,'') as budgetCost,
        ddo.type,
        ddo.payment,
        IFNULL(dbs.system_logo,'') as storefrontIcon,
        IFNULL(ddo.storefont_id,'') as storefrontId,
        IFNULL(ddo.city_id,'') as cityId,
        IFNULL(ddo.total_discount_price,'') as totalDiscountPrice,
        IFNULL(ddo.total_stevedorage_cost,'') as totalStevedorageCost,
        IFNULL(ddo.total_transportation_cost,'') as totalTransportationCost,
        IFNULL(ddo.order_type,'')  as orderType,
        IFNULL(ddo.actual_payment_price,'') as actualPaymentPrice,
        IFNULL(ddo.is_pay_money,'')  as isPayMoney,
        IFNULL(ddo.is_show_order,'') as isShowOrder,
        IFNULL(ddo.order_status,'') as orderStatus,
        IFNULL(ddo.order_generation_time,null )  as orderGenerationTime,
        IFNULL(ddo.order_source,'') as orderSource,
        IFNULL(ddo.create_date,null) as createDate,
        IFNULL(ddo.modify_date,null) as modifyDate,
        IFNULL(ddo.data_status,'') as dataStatus,
        IFNULL(dbs.storefront_name,'') as storefrontName
        from dj_deliver_order ddo left join  dj_basics_storefront dbs on ddo.storefont_id=dbs.id
        where
        ddo.house_id = #{houseId}
        <if test="cityId!=null and cityId!=''">
            and  ddo.city_id = #{cityId}
        </if>
        <if test="orderStatus!=null and orderStatus!=''">
            and  ddo.order_status = #{orderStatus}
        </if>
    </select>

    <!-- 查询订单首页 -->
    <select id="queryOrderInfo" resultType="com.dangjia.acg.dto.order.DOrderInfoDTO">
        select
        ddo.id as id,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        IFNULL(CONCAT(h.unit, '单元'),'' ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName,
        m.mobile as mobile,
        m.id as memberId,
        bs.storefront_name as storefrontName,
        IFNULL(ddo.total_amount,0) as totalAmount,
        IFNULL(ddo.actual_payment_price,0) as actualPaymentPrice,
        ddo.order_number AS orderNumber,
        ddo.create_date as createDate,
        ddo.payment AS payment,
        ddo.order_generation_time as orderGenerationTime,
        ddo.order_pay_time AS orderPayTime,
        pbo.state as state,
        pbo.pay_order_number AS payOrderNumber,
        pbo.type AS type,
        pbo.id as pboId,
        pbo.image as pboImage,
        ddo.cancellation_time as cancellationTime
        from dj_deliver_order ddo
        INNER JOIN dj_pay_business_order pbo on ddo.business_order_number = pbo.number
        INNER JOIN dj_basics_storefront bs on bs.id = ddo.storefont_id
        INNER JOIN dj_house h on ddo.house_id = h.id
        INNER JOIN dj_member m on h.member_id = m.id
        where 1=1
        <if test="null != storefontId  and '' != storefontId">
            and  ddo.storefont_id = #{storefontId}
        </if>
        <if test="null != state and state == 2">
            and (pbo.state = 1 or pbo.state = 2)
        </if>
        <if test="null != state and state == 3">
            and pbo.state = 3
        </if>
        <if test="null != state and state == 4">
            and pbo.state = 4
        </if>
        <if test="null != id  and '' != id">
            and ddo.id = #{id}
        </if>
        <if test="null != orderKey and '' != orderKey">
            and (
            m.mobile like CONCAT('%',#{orderKey},'%')
            or
            CONCAT(
            h.residential,
            IFNULL(h.building, '*'),
            '栋',
            IFNULL(CONCAT(h.unit, '单元'),'' ),
            IFNULL(h.number, '*'),
            '号'
            ) LIKE CONCAT('%',#{orderKey},'%')
            or
            ddo.order_number LIKE CONCAT('%',#{orderKey},'%')
            or
            pbo.pay_order_number LIKE CONCAT('%',#{orderKey},'%')
            )
        </if>
        order by  ddo.order_generation_time desc
    </select>



    <select id="queryOrderFineInfo" resultType="com.dangjia.acg.dto.order.DOrderFineInfoDTO">
        select
            bsp.image as image,
            bpt.name as name,
            bpt.product_sn as productSn,
            doi.price as price,
            doi.shop_count AS shopCount,
            doi.ask_count as askCount,
            doi.return_count as returnCount,
            (IFNULL(doi.shop_count,0) - IFNULL(doi.ask_count,0) - IFNULL(doi.return_count,0)) AS remnantCount,
            (IFNULL(doi.shop_count,0) * IFNULL(doi.price,0)) AS remember
            from
            dj_deliver_order_item doi
            INNER JOIN dj_basics_storefront_product bsp on doi.product_id = bsp.id
            INNER JOIN dj_basics_product_template bpt on bsp.prod_template_id = bpt.id
            where doi.order_id = #{orderId}
    </select>


    <select id="selectOrderDetailById" resultType="com.dangjia.acg.dto.delivery.AppOrderDetailDTO">
        select
        ddo.house_id as houseId,-- 房子id
        ddo.id as orderId,-- 订单编号
        IFNULL(ddo.order_status,'') as orderStatus,
        IFNULL(ddo.order_generation_time,'') as orderGenerationTime,-- 创建时间
        IFNULL(ddo.total_amount,'') as totalAmount,-- 商品总额
        IFNULL(ddo.total_transportation_cost,'') as totalTransportationCost,-- 运费
        IFNULL(ddo.total_stevedorage_cost,'') as totalStevedorageCost,-- 搬运费
        IFNULL(ddo.total_discount_price,'') as totalDiscountPrice-- 优惠卷名称
        from  dj_deliver_order ddo where ddo.id=#{orderId}
    </select>

    <select id="selectOrderItemDetailById" resultType="com.dangjia.acg.dto.delivery.AppOrderItemDetailDTO">
        select
        IFNULL(ddoi.product_id,'') as productId,
        IFNULL(dbs.storefront_name,'') as storefrontName ,-- 店铺名称
        IFNULL(ddoi.product_name,'') as productName,-- 商品名称
        IFNULL(ddoi.shop_count,'') as shopCount,-- 购买数量
        -- 规格
        IFNULL(ddoi.price,'') as price ,-- 价格
        IFNULL(dbs.mobile,'') as mobile,-- 电话
        ddoi.image as image
        from dj_deliver_order_item ddoi inner join dj_basics_storefront dbs
        on ddoi.storefont_id=dbs.id  inner join dj_basics_product_template dbpt
        on dbpt.id=ddoi.product_id  where ddoi.order_id=#{orderId} and ddoi.order_status=#{orderStatus}
    </select>
</mapper>