<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.delivery.IBillDjDeliverOrderItemMapper">

    <select id="queryMaterialNumber" resultType="com.dangjia.acg.dto.delivery.MaterialNumberDTO">
        select
        cwt.type,
        doi.house_id as houseId,
        doi.shop_count as shopCount,
        doi.ask_count as askCount,
        doi.return_count as returnCount
        from dj_deliver_order doa
        INNER JOIN dj_deliver_order_item doi on doa.id = doi.order_id
        INNER JOIN dj_core_worker_type cwt on doa.worker_type_id = cwt.id
        where doa.house_id = #{houseId}
    </select>



    <select id="queryNodeNumber" resultType="com.dangjia.acg.dto.delivery.NodeNumberDTO">
        select
        mtr.state,
        mtr.house_id as houseId,
        chf.type
        from
        dj_matter_technology_record mtr
        INNER  JOIN dj_core_worker_type chf on mtr.worker_type_id = chf.id
        where mtr.house_id = #{houseId}
    </select>



    <update id="updateDjDeliverOrderItemByOrderId">
        UPDATE dj_deliver_order_item
        SET reservation_deliver_time = NULL
        WHERE
            order_id = #{orderId}
    </update>

    <update id="updateReserved">
        UPDATE dj_deliver_order_item
        SET reservation_deliver_time=NULL
        WHERE
            order_id =#{orderId}
        AND product_id=#{productId}
    </update>




    <select id="orderItemList" parameterType="java.lang.String" resultType="com.dangjia.acg.dto.delivery.DjDeliverOrderItemDTO">
        SELECT
        id,
        order_id as orderId,
        house_id as houseId,
        product_id as productId,
        product_sn as productSn,
        product_name as productName,
        product_nick_name as productNickName,
        price,
        cost,
        shop_count as shopCount,
        ask_count as askCount,
        unit_name as unitName,
        total_price as totalPrice,
        product_type as productType,
        category_id as categoryId,
        worker_goods_name as workerGoodsName,
        worker_goods_sn as workerGoodsSn,
        worker_goods_id as workerGoodsId,
        image,
        data_status as dataStatus,
        create_date as createDate,
        modify_date as modifyDate
        FROM dj_deliver_order_item
        where
        house_id = #{houseId}
        <if test = "orderId!=null and orderId!=''">
            and
            order_id = #{orderId}
        </if>
        ORDER BY create_date desc
    </select>

</mapper>