<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.basics.IAttributeValueMapper">

    <sql id="all_columns">
		id,
		name,
		attribute_id,
		introduction,
		image,
        create_date,
        modify_date
	</sql>

    <resultMap type="com.dangjia.acg.dto.actuary.AttributeDTO" id="attributeResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="valueDTOList" ofType="com.dangjia.acg.dto.actuary.AttributeValueDTO">
            <id property="attributeValueId" column="attributeValueId"/>
            <result property="name" column="attributeValueName"/>
            <result property="type" column="type"/>
            <result property="state" column="state"/>
        </collection>
    </resultMap>

    <!-- 根据货品id查询所有属性选项以及值 -->
    <select id="queryAttributeResult" resultMap="attributeResult">
       SELECT
            a.id,
            a.`name`,
            v.id attributeValueId,
            v.`name` attributeValueName,
            2 state,
            0 type
        FROM
            dj_basics_product_template t
        INNER JOIN dj_basics_attribute_value v ON FIND_IN_SET(v.id, t.value_id_arr)
        INNER JOIN dj_basics_attribute a ON a.id = v.attribute_id
        WHERE
            t.goods_id =  #{goodsId}
        GROUP BY
            v.id
    </select>

    <!-- 根据属性id查询所有属性选项 -->
    <select id="queryPOByAttributeId" resultType="com.dangjia.acg.modle.attribute.AttributeValue">
		SELECT
        <include refid="all_columns" />
		FROM dj_basics_attribute_value
		where attribute_id= #{attributeId}
		ORDER BY create_date desc
	</select>

    <!-- 删除对象 -->
    <delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM dj_basics_attribute_value 
		WHERE id=#{id}
	</delete>
    <!-- 查询所有 -->
    <select id="query" resultType="com.dangjia.acg.modle.attribute.AttributeValue">
		SELECT
        <include refid="all_columns" />
		FROM dj_basics_attribute_value
		ORDER BY create_date desc
	</select>

    <!-- 根据属性id查询所有属性选项 -->
    <select id="queryByAttributeId" resultType="com.dangjia.acg.modle.attribute.AttributeValue">
		SELECT
        <include refid="all_columns" />
		FROM dj_basics_attribute_value
		where attribute_id= #{attributeId}
		ORDER BY create_date desc
	</select>

    <!-- 根据id查询属性选项对象 -->
    <select id="queryById" resultType="com.dangjia.acg.modle.attribute.AttributeValue">
		SELECT
        <include refid="all_columns" />
		FROM dj_basics_attribute_value
		where
		     id =#{id}
		ORDER BY create_date desc
	</select>

    <!-- 根据属性id删除所有属性选项 -->
    <delete id="deleteByAttributeId" parameterType="java.lang.String">
		delete FROM dj_basics_attribute_value
		where attribute_id= #{attributeId}
	</delete>
</mapper>