<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.basics.IBrandSeriesMapper">

	<sql id="all_columns">
		id,
		name,
		brand_id,
		content,
		image,
		create_date,
		modify_date
	</sql>
	<!--根据货品id查询品牌系列名-->
	<select id="getAttributesName" resultType="java.lang.String">
        select CONCAT(bs.name,'  ',p.value_name_arr)
		From dj_basics_brand_series bs, dj_basics_product p
		where
		    p.brand_series_id = bs.id
		and
		    p.id = #{productId}
	</select>
	<!--根据货品id查询品牌系列名-->
	<select id="brandSeriesName" resultType="java.lang.String">
        select bs.name
		From dj_basics_brand_series bs, dj_basics_product p
		where
		    p.brand_series_id = bs.id
		and
		    p.id = #{productId}
	</select>
	<select id="brandName" resultType="java.lang.String">
        select bs.name
		From dj_basics_brand bs, dj_basics_product p
		where
		    p.brand_id = bs.id
		and
		    p.id = #{productId}
	</select>
	<!--根据货品id查询品牌系列-->
	<select id="brandSeriesByPid" resultType="com.dangjia.acg.modle.brand.BrandSeries">
        select bs.*
		From dj_basics_brand_series bs, dj_basics_product p
		where
		    p.brand_series_id = bs.id
		and
		    p.id = #{productId}
	</select>

	<!-- 查询所有 -->
	<select id="queryBrandSeries" resultType="com.dangjia.acg.modle.brand.BrandSeries">
		SELECT
			id,
			name,
		    brand_id as brandId,
			content,
		    image,
			create_date as createDate,
			modify_date as modifyDate
		FROM dj_basics_brand_series
		<if test="brandId!=null">
		where
			brand_id=#{brandId}
		</if>
		ORDER BY create_date desc
	</select>
	<!-- 删除对象 -->
	<delete id="deleteById" parameterType="String">
		DELETE FROM dj_basics_brand_series
		WHERE id=#{id}
	</delete>


</mapper>

