<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.basics.IGoodsCategoryMapper">

    <sql id="all_columns">
         id,
        NAME,
        parent_id AS parentId,
        parent_top AS parentTop,
        image,
        create_date AS createDate,
        modify_date AS modifyDate,
        is_last_category AS isLastCategory,
        purchase_restrictions AS purchaseRestrictions,
        cover_image AS coverImage,
        category_label_ids categoryLabelId,
        owner_display ownerDisplay
	</sql>
    <!-- 删除对象 -->
    <delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM dj_basics_goods_category 
		WHERE id=#{id}
	</delete>


    <!-- 根据父id查询下属商品类别 -->
    <select id="queryCategoryByParentId" resultType="com.dangjia.acg.modle.product.BasicsGoodsCategory">
        SELECT
        <include refid="all_columns"/>
        FROM dj_basics_goods_category where parent_id =#{parentId}
        ORDER BY sort,create_date asc
    </select>

    <!-- 根据父id查询下属商品类别 -->
    <select id="queryCategoryByName" resultType="com.dangjia.acg.modle.product.BasicsGoodsCategory">
        SELECT
        <include refid="all_columns"/>
        FROM dj_basics_goods_category where name =#{name}
        ORDER BY sort,create_date asc
    </select>
    <select id="getProductList" resultType="com.dangjia.acg.modle.basics.HomeProductDTO">
        SELECT
        p.id AS id,
        p.image AS image,
        p.price AS price,
        u. NAME AS unitName,
        g.type AS goodsType,
        0 AS type,
        p. NAME AS NAME
        FROM
        dj_basics_product_template p,
        dj_basics_goods_category c,
        dj_basics_goods g,
        dj_basics_unit u
        WHERE c.id = p.category_id
        AND p.goods_id=g.id
        and g.category_id=c.id
        AND u.id = p.convert_unit
        AND p.maket = 1
        AND p.type = 1
        and p.maket = 1
        AND g.type &lt;4
        <if test="categoryId!=null and categoryId!=''">
            AND c.parent_top = #{categoryId}
        </if>
        ORDER BY p.istop DESC,
        p.create_date DESC
    </select>


</mapper>