<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.basics.IGoodsMapper">

	<sql id="all_columns">
		id,
		name,
		category_id,
		type,
		buy,
		sales,
		unit_id,
		create_date,
		modify_date
	</sql>

	<sql id="new_columns">
		id,
		name,
		category_id as categoryId,
		type,
		buy,
		sales,
		unit_id as unitId,
		create_date as createDate,
		modify_date as modifyDate
	</sql>
	<!-- 删除对象 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM dj_basics_goods
		WHERE id=#{id}
	</delete>
    <!-- 查询所有 -->
	<select id="query" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		<if test="category_id!=null">
		where
			category_id=#{categoryId}
		</if>
		ORDER BY create_date desc
	</select>
	 <!-- 根据id查询属性对象 -->
	<select id="queryById" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		where 
		     id =#{id}
		ORDER BY create_date desc
	</select>

	<!-- 根据name查询属性对象 -->
	<select id="queryByName" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		where  data_status = 0
		AND name  LIKE CONCAT('%',#{name},'%')
		ORDER BY create_date desc
	</select>

	<sql id="all_GSColumns">
		id,
		goods_id,
		brand_id,
		series_id,
		create_date,
		modify_date
	</sql>
	<!-- 新增商品和系列关系 -->
	<insert id="insertGoodsSeries" parameterType="com.dangjia.acg.modle.brand.GoodsSeries">
		INSERT INTO dj_basics_goods_series(
		    <include refid="all_GSColumns" />
		) 
		VALUES (#{id}, #{goodsId},#{brandId},#{seriesId},SYSDATE(),SYSDATE())
	</insert>
	<!-- 删除商品和系列关系 -->
	<delete id="deleteGoodsSeries" parameterType="java.lang.String">
		DELETE FROM dj_basics_goods_series
		WHERE goods_id=#{goodsId}
	</delete>
	<sql id="all_Bcolumns">
		id,
		name,
		create_date,
		modify_date
	</sql>
	<!-- 根据商品id查询关联品牌 -->
	<select id="queryBrandByGid" resultType="com.dangjia.acg.modle.brand.Brand">
		SELECT
			id,
			name,
			create_date as createDate,
			modify_date as modifyDate
		FROM dj_basics_brand
		where 
		     id in(
		        select 
		              brand_id
		        from dj_basics_goods_series
		        where 
		             goods_id =#{goodsId}
		        group by brand_id
		     )
		ORDER BY create_date desc
	</select>
	<sql id="all_BScolumns">
		id,
		name,
		brand_id,
		content,
		create_date,
		modify_date
	</sql>
	<!-- 根据商品id和品牌id查询关联品牌系列 -->
	<select id="queryBrandByGidAndBid" resultType="com.dangjia.acg.modle.brand.BrandSeries">
		SELECT
			id,
			name,
			brand_id as brandId,
			content,
			create_date as createDate,
			modify_date as modifyDate
		FROM dj_basics_brand_series
		where 
		     id in(
		        select 
		              series_id
		        from dj_basics_goods_series
		        where
		        1=1
				<if test="goodsId!=null">
					and goods_id=#{goodsId}
				</if>
				<if test="brandId!=null">
					and brand_id=#{brandId}
				</if>
		     )
		ORDER BY create_date desc
	</select>
	 <!-- 根据类别id查询商品对象 -->
	<select id="queryByCategoryId" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		<if test="categoryId!=null">
			where
			category_id=#{categoryId}
		</if>
		ORDER BY create_date desc
	</select>

	<!-- 根据条件查询商品集合 -->
	<select id="queryGoodsList" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and category_id=#{categoryId}
		</if>
		<if test="name!=null and name!=''">
			and name=#{name}
		</if>
		ORDER BY create_date desc
	</select>

	<!-- 查询某个分类的商品 模糊name -->
	<select id="queryGoodsListByCategoryLikeName" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
			bg.id as id,
			bg.`NAME` as name,
			bg.category_id AS categoryId,
			bg.type as type,
			bg.buy as buy,
			bg.sales as sales,
			bg.unit_id AS unitId,
			bg.create_date AS createDate,
			bg.modify_date AS modifyDate
		FROM dj_basics_goods bg
		INNER JOIN dj_basics_product bp ON bp.goods_id = bg.id
		INNER JOIN dj_basics_brand bb ON bb.id = bp.brand_id
		INNER JOIN dj_basics_brand_series bbs ON bbs.id = bp.brand_series_id
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and bg.category_id=#{categoryId}
		</if>
		<if test="name!=null and name!=''">
			AND (
			bp.`name` LIKE CONCAT('%',#{name}, '%' )
			OR bb.`name` LIKE CONCAT('%',#{name}, '%' )
			OR bbs.`name` LIKE CONCAT( '%', #{name}, '%' )
			OR bp.`other_name` LIKE CONCAT( '%', #{name}, '%' )
			)
		</if>
		GROUP BY bg.id
		ORDER BY bg.create_date desc
	</select>

	<!-- 查询某个分类的商品 模糊name -->
	<select id="queryGoodsGroupListByCategoryLikeName" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		bg.id as id,
		bg.`NAME` as name,
		bg.category_id AS categoryId,
		bg.type as type,
		bg.buy as buy,
		bg.sales as sales,
		bg.unit_id AS unitId,
		bg.create_date AS createDate,
		bg.modify_date AS modifyDate
		FROM dj_basics_goods bg
		INNER JOIN dj_basics_product bp ON bp.goods_id = bg.id
		INNER JOIN dj_basics_brand bb ON bb.id = bp.brand_id
		INNER JOIN dj_basics_brand_series bbs ON bbs.id = bp.brand_series_id
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and bg.category_id=#{categoryId}
		</if>
		<if test="type!=null and type!=''">
			and bg.type =#{type}
		</if>
		<if test="buy!=null and buy!=''">
			and bg.buy !=#{buy}
		</if>
		<if test="buy!=null and buy!=''">
			and (SELECT COUNT(*) > 0 as num FROM dj_basics_product p WHERE p.goods_id = bg.id and p.type =1)
		</if>
		<if test="name!=null and name!=''">
			AND (
			bp.`name` LIKE CONCAT('%',#{name}, '%' )
			OR bb.`name` LIKE CONCAT('%',#{name}, '%' )
			OR bbs.`name` LIKE CONCAT( '%', #{name}, '%' )
			OR bp.`other_name` LIKE CONCAT( '%', #{name}, '%' )
			)
		</if>
		GROUP BY bg.id
		ORDER BY bg.create_date desc
	</select>
	<!-- 补货查询商品库- -->
	<select id="queryRepairGoods" resultType="com.dangjia.acg.modle.basics.Goods">
		SELECT
		<include refid="new_columns"/>
		FROM dj_basics_goods
		WHERE
		1=1
		<if test="name!=null and name!=''">
			AND
			name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="categoryId!=null and categoryId!=''">
			AND
			category_id =#{categoryId}
		</if>
	</select>
</mapper>