<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.basics.ILabelMapper">
    <sql id="Base_Column_List">
    id, name, create_date, modify_date
    </sql>

    <resultMap type="com.dangjia.acg.pojo.basics.LabelPO" id="labelPOPOMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="createDate" column="createDate"/>
        <result property="modifyDate" column="modifyDate"/>
        <collection property="productPOLists" javaType="ArrayList"
                    column="id" ofType="com.dangjia.acg.pojo.basics.LabelPO"
                    select="com.dangjia.acg.mapper.basics.IProductMapper.queryPOByLabelId"
                    fetchType="lazy">
            <association property="productPO" javaType="com.dangjia.acg.pojo.basics.ProductPO">
                <id property="id" column="id"/>
                <result property="goodsId" column="goods_id"/>
            </association>
        </collection>
    </resultMap>


    <select id="getLabel" resultType="com.dangjia.acg.modle.basics.Label">
        SELECT
           id, name, create_date as createDate, modify_date as modifyDate
        from dj_basics_label
        ORDER BY createDate desc
    </select>

    <!-- 根据标签名称查询 -->
    <select id="getLabelByName" parameterType="String" resultType="com.dangjia.acg.modle.basics.Label">
		SELECT
			id, name, create_date as createDate, modify_date as modifyDate
		FROM dj_basics_label WHERE name=#{name}
		ORDER BY create_date desc
	</select>

</mapper>