<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.basics.IWorkerGoodsMapper">
    <!--每工种未删除 或 已支付工钱-->
    <select id="getWorkertoCheck" resultType="java.lang.Double">
        select sum(wg.price*abw.shop_count)
        from dj_basics_product wg,dj_actuary_budget_worker abw
        where wg.data_status = 0
        and wg.id = abw.worker_goods_id
        and abw.house_id=#{houseId}
        and abw.delete_state!=1
        and abw.delete_state!=2
        and abw.house_flow_id=#{houseFlowId}
    </select>
    <!--从精算表查每工种已支付工钱-->
    <select id="getPayedWorker" resultType="java.lang.Double">
        select sum(wg.price*abw.shop_count)
        from dj_basics_product wg,dj_actuary_budget_worker abw
        where wg.data_status = 0
        and wg.id = abw.worker_goods_id
        and abw.house_id=#{houseId}
        and abw.delete_state =3
        and abw.house_flow_id=#{houseFlowId}
    </select>
    <!-- 从精算表查代购商品支付工钱 -->
    <select id="getAgencyPurchaseMoney" resultType="java.lang.Double">
        SELECT
            sum(t.total_price)
        FROM
            dj_actuary_budget_worker t, dj_basics_product_worker t1
        WHERE t.worker_goods_id = t1.product_id
        and t.house_id = #{houseId}
        AND t.house_flow_id = #{houseFlowId}
        AND t1.is_agency_purchase = 1
        AND t.delete_state = 3
    </select>

    <!--更新单位-->
    <update id="updateWorkerGoodsByUnitId" parameterType="java.lang.String">
        update dj_basics_product
        set unit_name=#{unitName}
        where unit_id=#{unitId}
    </update>
    <select id="getHomeProductList" resultType="com.dangjia.acg.modle.basics.HomeProductDTO">

( SELECT
            p.id AS id,
            p.image AS image,
            p.price AS price,
            p.unit_name AS unitName,
            g.type AS goodsType,
            0 AS type,
            p.NAME AS NAME
            FROM
                dj_basics_product p
                INNER JOIN dj_basics_goods g ON g.id = p.goods_id
            WHERE
                p.data_status = 0
                AND p.type = 1
                AND p.maket = 1
                AND p.image !='qrcode/moren.png'
            ORDER BY
                rand( )
                LIMIT 6
                ) UNION ALL
                (
            SELECT
                p.id AS id,
                image AS image,
                price AS price,
                unit_name AS unitName,
                NULL AS goodsType,
                1 AS type,
            NAME AS NAME
            FROM
                dj_basics_product p,dj_basics_product_worker p1
            WHERE p.id = p1.product_id
                and p.data_status = 0
                AND p.maket = 1
                AND image !='qrcode/moren.png'
                AND p1.worker_dec !=''
                AND p1.worker_dec is not null
            ORDER BY
                rand( )
                LIMIT 6
                )
    </select>
</mapper>