<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.pay.IBusinessOrderMapper">
    <sql id="all_columns">
		id,
		member_id as memberId,
		number,
		pay_order_number as payOrderNumber,
		house_id as houseId,
		task_id as taskId,
		state,
		total_price as totalPrice,
		discounts_price as discountsPrice,
		pay_price as payPrice,
		type,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>

    <!-- 根据memberId查询 -->
    <select id="byMemberId" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.pay.BusinessOrder">
        SELECT
        bo.id,
        bo.member_id as memberId,
        bo.number,
        bo.pay_order_number as payOrderNumber,
        bo.house_id as houseId,
        bo.task_id as taskId,
        bo.state,
        bo.total_price as totalPrice,
        bo.discounts_price as discountsPrice,
        bo.pay_price as payPrice,
        bo.type,
        bo.data_status as dataStatus,
        bo.create_date as createDate,
        bo.modify_date as modifyDate
        FROM dj_pay_business_order bo
        LEFT JOIN dj_deliver_order AS o ON o.business_order_number = bo.number
        LEFT JOIN dj_deliver_order_item AS oi ON oi.order_id = o.id
        where bo.member_id = #{memberId} and bo.state !=1
        <if test="houseId!=null and houseId!=''">
            and o.house_id = #{houseId})
        </if>
        <if test="queryId!=null and queryId!=''">
            and (oi.product_id = #{queryId} or oi.worker_goods_id = #{queryId})
        </if>
        GROUP BY
        bo.id
        ORDER BY bo.create_date desc
    </select>

    <!-- 根据taskId查询 -->
    <select id="byTaskId" resultType="com.dangjia.acg.modle.pay.BusinessOrder">
        SELECT
        <include refid="all_columns"/>
        FROM dj_pay_business_order
        where task_id = #{taskId}
        and type = #{type}
    </select>

    <select id="getWebOrderList" resultType="com.dangjia.acg.dto.deliver.WebOrderDTO">
        SELECT
        a.id AS id,
        a.number AS orderId,
        CONCAT(
        c.residential,
        IFNULL(c.building, '*'),
        '栋',
        IFNULL(CONCAT(c.unit, '单元'),'' ),
        IFNULL(c.number, '*'),
        '号'
        ) AS houseName,
        c.member_id AS memberId,
        d.mobile AS mobile,
        a.pay_order_number AS payOrderNumber,
        a.total_price AS totalAmount,
        a.discounts_price AS redPackAmount,
        a.pay_price AS actualPayment,
        b.create_date AS createDate,
        a.type AS type,
        a.state AS state,
        a.task_id AS taskId,
        b.pay_state AS payType,
        s.store_name storeName
        FROM
        dj_pay_business_order AS a
        LEFT JOIN dj_pay_pay_order AS b ON b.number = a.pay_order_number
        LEFT JOIN dj_house AS c ON a.house_id = c.id
        LEFT JOIN dj_member AS d ON d.id = c.member_id
        LEFT JOIN dj_store s ON FIND_IN_SET(
        c.village_id,
        s.villages
        )
        WHERE
        a.data_status = 0
        <if test="state != -1">
            and a.state = #{state}
        </if>
        <if test="searchKey!=null and searchKey!=''">
            and ( d.mobile like CONCAT('%',#{searchKey},'%')
            or CONCAT(
            c.residential,
            IFNULL(c.building, '*'),
            '栋',
            IFNULL(CONCAT(c.unit, '单元'),'' ),
            IFNULL(c.number, '*'),
            '号'
            ) LIKE CONCAT('%',#{searchKey},'%')
            or a.pay_order_number like CONCAT('%',#{searchKey},'%')
            or a.number like CONCAT('%',#{searchKey},'%'))
        </if>
        ORDER BY
        b.create_date DESC
    </select>

    <select id="getOrderItem" resultType="com.dangjia.acg.dto.deliver.OrderItemByDTO">
     SELECT
	it.product_sn AS productSn,
	it.product_name AS productName,
	it.image AS image,
	it.price AS price,
	it.shop_count AS shopCount,
	it.total_price AS totalPrice,
	it.worker_goods_sn AS goodsSn,
	it.worker_goods_name AS goodsName,
	it.unit_name AS unitName,
	IFNULL( it.product_type, 2 ) AS type
	FROM
		dj_deliver_order AS o
	INNER JOIN dj_deliver_order_item AS it ON o.id = it.order_id
    WHERE
		o.business_order_number  = #{number}
	GROUP BY
		o.business_order_number,
		it.product_sn,
		it.worker_goods_sn
    ORDER BY 	it.product_sn DESC,it.worker_goods_sn DESC
	</select>
</mapper>

