<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.pay.IBusinessOrderMapper">
    <sql id="all_columns">
		id,
		member_id as memberId,
		number,
		pay_order_number as payOrderNumber,
		house_id as houseId,
		task_id as taskId,
		state,
		total_price as totalPrice,
		discounts_price as discountsPrice,
		pay_price as payPrice,
		type,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>

	<!-- 根据memberId查询 -->
	<select id="byMemberId" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.pay.BusinessOrder">
		SELECT
		<include refid="all_columns"/>
		FROM dj_pay_business_order
		where member_id = #{memberId}
		ORDER BY create_date desc
	</select>

	<!-- 根据所有订单查询 -->
	<select id="getAllBusinessOrder" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.pay.BusinessOrder">
		SELECT
		pbo.id,
		pbo.member_id as memberId,
		pbo.number,
		pbo.pay_order_number as payOrderNumber,
		pbo.house_id as houseId,
		pbo.task_id as taskId,
		pbo.state,
		pbo.total_price as totalPrice,
		pbo.discounts_price as discountsPrice,
		pbo.pay_price as payPrice,
		pbo.type,
		pbo.data_status as dataStatus,
		pay.create_date AS createDate,
		pay.modify_date AS modifyDate,
		house.id,
		house.residential,
		house.building,
		house.unit,
		house.number,
		house.member_id,
		member.mobile
		FROM dj_pay_business_order as pbo
		LEFT JOIN dj_pay_pay_order AS pay ON pay.number = pbo.pay_order_number
		INNER JOIN dj_house AS house ON pbo.house_id = house.id
		INNER JOIN dj_member AS member ON member.id = house.member_id
		where pbo.data_status=0
		<if test="likeAddress!=null and likeAddress!=''">
			AND (
			house.residential LIKE CONCAT('%',#{likeAddress},'%')
			OR house.building LIKE CONCAT('%',#{likeAddress},'%')
			OR house.unit LIKE CONCAT('%',#{likeAddress},'%')
			OR house.number LIKE CONCAT('%',#{likeAddress},'%')
			)
		</if>
		<if test="likeMobile!=null and likeMobile!=''">
			AND member.mobile LIKE CONCAT('%',#{likeMobile},'%')
		</if>
		ORDER BY pbo.create_date desc

	</select>

    <!-- 根据taskId查询 -->
    <select id="byTaskId" resultType="com.dangjia.acg.modle.pay.BusinessOrder">
        SELECT
            <include refid="all_columns"/>
        FROM dj_pay_business_order
        where task_id = #{taskId}
		and type = #{type}
    </select>

</mapper>

