<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.house.IHouseMapper">
    <sql id="basic_columns">
        id,
        building,
        city_name as cityName,
        residential,
        type,
        unit,
        member_id as memberId,
        task_number as taskNumber,
        square,
        number,
        style,
        designer_ok as designerOk,
        budget_ok as budgetOk,
        image,
        decoration_type as decorationType,
        city_id as cityId,
        modeling_layout_id as modelingLayoutId,
        money,
        pause,
        show_house as showHouse,
        village_id as villageId,
        refer_house_id as referHouseId,
        have_complete as haveComplete,
        record_type as recordType,
        build_square as buildSquare,
        again,
        house_type as houseType,
        drawings,
        work_deposit_id as workDepositId,
        custom_sort as customSort,
        is_select as isSelect,
        visit_state as visitState,
        data_status as dataStatus,
        create_date as createDate,
        modify_date as modifyDate
    </sql>
    <select id="getDesignList" resultType="com.dangjia.acg.dto.house.DesignDTO">
        SELECT
        house.id as houseId,
        house.designer_ok as designerOk,
        house.residential as residential,
        house.building as building,
        house.unit as unit,
        house.number as number,
        member.nick_name as nickName,
        member.name as name,
        member.mobile as mobile
        FROM dj_house house ,dj_member member
        <where>
            house.data_status=0
            AND house.designer_ok=#{designerOk}
            AND house.visit_state=1
            AND member.id = house.member_id
            <if test="residential!=null and residential!=''">
                AND CONCAT(
                house.residential,
                IFNULL(house.building, '*'),
                '栋',
                (case house.unit when (null or '') then ''  else  CONCAT(house.unit,'单元') end ),
                IFNULL(house.number, '*'),
                '号'
                )  LIKE
                CONCAT('%',#{residential},'%')
            </if>
            <if test="mobile!=null and mobile!=''">
                AND member.mobile like #{mobile}
            </if>
        </where>
        ORDER BY house.create_date DESC
    </select>

    <select id="startWorkPage" resultType="com.dangjia.acg.dto.house.HouseDTO">
        SELECT id                 as houseId,
               city_id            as cityId,
               city_name          as cityName,
               village_id         as villageId,
               residential,
               modeling_layout_id as modelingLayoutId,
               building,
               unit,
               number,
               square,
               work_deposit_id    as workDepositId,
               refer_house_id     as referHouseId,
               style,
               house_type         as houseType,
               drawings,
               decoration_type    as decorationType
        FROM dj_house
        WHERE data_status = 0
          AND id = #{houseId}
    </select>

    <!--查询所有的房子 指定房子 装修状态-->
    <select id="getAllHouseByVisitState" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        <include refid="basic_columns"/>
        FROM dj_house
        WHERE
        data_status=0
        AND visit_state=#{visitState}
    </select>


    <!--查询所有的房子 指定房子 装修状态-->
    <select id="getByLikeAddress" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        house.id,
        house.member_id as memberId,
        house.residential,
        house.building,
        house.unit,
        house.number,
        house.data_status as dataStatus,
        house.create_date as createDate,
        house.modify_date as modifyDate,
        (SELECT COUNT(*) from dj_deliver_order_split where apply_status = 1 and house_id = house.id) as waitCount,
        (SELECT COUNT(*) from dj_deliver_order_split where apply_status = 2 and house_id = house.id) as sendCount
        FROM dj_house as house
        WHERE 1=1
        <if test="likeAddress!=null and likeAddress!=''">
            AND CONCAT(
            house.residential,
            IFNULL(house.building, '*'),
            '栋',
            (case house.unit when (null or '') then ''  else  CONCAT(house.unit,'单元') end ),
            IFNULL(house.number, '*'),
            '号'
            )  LIKE
            CONCAT('%',#{likeAddress},'%')

        </if>
        ORDER BY waitCount DESC,sendCount DESC,house.create_date DESC
    </select>

    <select id="getStatisticsByDate" resultType="com.dangjia.acg.modle.house.House">
        SELECT id, budget_ok as budgetOk
        FROM dj_house
        WHERE designer_ok = 3
          AND data_status = 0
          AND modify_date BETWEEN #{start} AND #{end}
        ORDER BY create_date ASC
    </select>
    <!--根据城市、小区，最大最小面积搜索-->
    <select id="getSameLayout" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        <include refid="basic_columns"/>
        from dj_house h
        INNER JOIN (SELECT a.house_id,COUNT(a.id) num FROM dj_core_house_flow_apply a GROUP BY a.house_id ) b ON
        b.house_id=h.id
        where
        data_status=0
        <if test="cityId!=null and cityId!=''">
            and city_id = #{cityId}
        </if>
        <if test="villageId!=null and villageId!=''">
            and village_id = #{villageId}
        </if>
        <if test="minSquare!=null and minSquare!=''">
            and build_square &gt;= #{minSquare}
        </if>
        <if test="maxSquare!=null and maxSquare!=''">
            and build_square &lt;= #{maxSquare}
        </if>
        <if test="houseType!=null and houseType!=''">
            and house_type = #{houseType}
        </if>
        and ((decoration_type in (1,2) and budget_ok=3) or (decoration_type=3 and visit_state=1))
        and site_display=0
        order by num desc
    </select>

    <!--参考报价-->
    <select id="getReferenceBudget" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        <include refid="basic_columns"/>
        from dj_house
        where
        data_status=0
        <if test="cityId!=null and cityId!=''">
            and city_id = #{cityId}
        </if>
        <if test="villageId!=null and villageId!=''">
            and village_id = #{villageId}
        </if>
        and build_square &gt;= #{minSquare}
        and build_square &lt;= #{maxSquare}
        and house_type = #{houseType}
        and budget_ok = 3
    </select>

    <select id="getHouseList" resultType="com.dangjia.acg.dto.house.HouseListDTO">
        SELECT
        h.id as houseId,
        h.city_name as cityName,
        m.id as memberId,
        m.nick_name as memberName,
        m.mobile as mobile,
        h.visit_state as visitState,
        h.show_house as showHouse,
        h.style as style,
        h.square as square,
        h.build_square as buildSquare,
        h.decoration_type as decorationType,
        h.house_type as houseType,
        h.residential as residential,
        h.building as building,
        h.unit as unit,
        h.work_deposit_id as workDepositId,
        h.create_date AS createDate,
        h.modify_date AS modifyDate,
        h.city_id as cityId,
        h.modeling_layout_id as modelingLayoutId,
        h.village_id as villageId,
        h.number as number,
        h.site_display as siteDisplay
        FROM
        dj_house h
        INNER JOIN dj_member m ON h.member_id = m.id
        WHERE
        h.data_status =0
        <if test="memberId!=null and memberId!=''">
            and m.id = #{memberId}
        </if>
        <if test="visitState!=null">
            and h.visit_state=#{visitState}
        </if>
        <if test="startDate!=null and endDate!=null and startDate!='' and endDate!=''">
            and h.create_date BETWEEN #{startDate} and #{endDate}
        </if>
        <if test="searchKey!=null and searchKey!=''">
            AND (
            m.mobile like CONCAT('%',#{searchKey},'%')
            or
            CONCAT(
            h.residential,
            IFNULL(h.building, '*'),
            '栋',
            (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
            IFNULL(h.number, '*'),
            '号'
            ) LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        ORDER by
        h.create_date
        <if test="orderBy!=null and orderBy!=''and orderBy=='desc'">
            desc
        </if>

    </select>
    <select id="getActuaryAll" resultType="com.dangjia.acg.dto.house.HouseListDTO">
        SELECT
        h.id as houseId,
        CONCAT(
        h.residential,
        IFNULL(h.building, '*'),
        '栋',
        (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
        IFNULL(h.number, '*'),
        '号'
        ) houseName,
        h.city_name as cityName,
        h.budget_ok as budgetOk,
        h.custom_sort as customSort,
        m.nick_name as name,
        m.id as memberId,
        m.name as memberName,
        m.mobile as mobile,
        h.visit_state as visitState,
        h.show_house as showHouse,
        h.style as style,
        h.square as square,
        h.build_square as buildSquare,
        h.decoration_type as decorationType,
        h.house_type as houseType,
        h.residential as residential,
        h.building as building,
        h.unit as unit,
        h.work_deposit_id as workDepositId,
        h.create_date AS createDate,
        h.modify_date AS modifyDate,
        h.number as number
        FROM
        dj_house h
        INNER JOIN dj_member m ON h.member_id = m.id
        WHERE
        h.data_status =0 and h.designer_ok=3
        <if test="budgetOk!=null and budgetOk!=''">
            <if test="budgetOk=='2' or budgetOk=='4'">
                and  (budget_ok =2 || budget_ok = 4)
            </if>
            <if test="!(budgetOk=='2' or budgetOk=='4')">
                and  budget_ok =#{budgetOk}
            </if>
        </if>

        <if test="searchKey!=null and searchKey!=''">
            AND (
            m.mobile like CONCAT('%',#{searchKey},'%')
            or
            CONCAT(
            h.residential,
            IFNULL(h.building, '*'),
            '栋',
            (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
            IFNULL(h.number, '*'),
            '号'
            ) LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        ORDER by  h.create_date  desc

    </select>

    <select id="getHouseListLikeSearchKey" resultType="com.dangjia.acg.modle.house.House">
        SELECT
        m.id as memberId,
        m.nick_name as memberNickName,
        m.name as memberName,
        m.mobile as mobile,
        h.id as id,
        h.building,
        h.city_name as cityName,
        h.residential,
        h.type,
        h.unit,
        h.member_id as memberId,
        h.task_number as taskNumber,
        h.square,
        h.number,
        h.style,
        h.designer_ok as designerOk,
        h.budget_ok as budgetOk,
        h.image,
        h.decoration_type as decorationType,
        h.city_id as cityId,
        h.modeling_layout_id as modelingLayoutId,
        h.money,
        h.pause,
        h.show_house as showHouse,
        h.village_id as villageId,
        h.refer_house_id as referHouseId,
        h.have_complete as haveComplete,
        h.record_type as recordType,
        h.build_square as buildSquare,
        h.again,
        h.house_type as houseType,
        h.drawings,
        h.work_deposit_id as workDepositId,
        h.custom_sort as customSort,
        h.is_select as isSelect,
        h.visit_state as visitState,
        h.data_status as dataStatus,
        h.create_date as createDate,
        h.modify_date as modifyDate
        FROM
        dj_house h
        INNER JOIN dj_member m ON h.member_id = m.id
        WHERE
        h.data_status =0
        <if test="visitState!=-1">
            and h.visit_state = #{visitState}
        </if>

        <if test="searchKey!=null and searchKey!=''">
            and ( m.mobile like CONCAT('%',#{searchKey},'%')
            or CONCAT(
            h.residential,
            IFNULL(h.building, '*'),
            '栋',
            (case h.unit when (null or '') then ''  else  CONCAT(h.unit,'单元') end ),
            IFNULL(h.number, '*'),
            '号'
            ) LIKE CONCAT('%',#{searchKey},'%')
            or m.nick_name like CONCAT('%',#{searchKey},'%')
            or m.name like CONCAT('%',#{searchKey},'%')
            )
        </if>
        ORDER by h.create_date desc
    </select>

    <select id="getHouseDateByMemberId" parameterType="String" resultType="date">
        SELECT
         h.create_date
         from dj_member m
         INNER join dj_house h on m.id=h.member_id where m.id=#{memberId} and h.data_status =0 and h.visit_state =1
         ORDER BY create_date DESC limit 1
    </select>
</mapper>

