<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.house.IMaterialRecordMapper">

    <sql id="all_columns">
		id,
		product_id as productId,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>
	<!--更新商品名称-->
	<update id="updateMaterialRecordById" parameterType="java.lang.String">
		UPDATE dj_house_material_record p1
		SET p1.product_name =
		<foreach collection="lists" item="item" index="index"
				 separator=" " open="case id" close="end">
			when id then #{item.name}
		</foreach>
		where product_id in
		<foreach collection="lists" index="index" item="item"
				 separator="," open="(" close=")">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>


</mapper>

