<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.house.ISurplusWareHouseItemMapper">

    <sql id="all_columns">
		id,
		surplus_ware_house_id as surplusWareHouseId,
		product_id as productId,
		product_count as productCount,
		product_name as productName,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate
	</sql>

	<!-- 获取某个临时仓库 的所有剩余材料 -->
	<select id="getAllSurplusWareHouseItemById" parameterType="String" resultType="com.dangjia.acg.modle.house.SurplusWareHouseItem">
		SELECT
		<include refid="all_columns"/>
		FROM dj_house_surplus_ware_house_item
		where 1=1
		<if test="surplusWareHouseId!=null and surplusWareHouseId!=''">
			and surplus_ware_house_id = #{surplusWareHouseId}
		</if>
		ORDER BY create_date desc
	</select>


	<!-- 获取某个临时仓库 的所有剩余材料 的某个 材料-->
	<select id="getAllSurplusWareHouseItemByProductId" parameterType="String" resultType="com.dangjia.acg.modle.house.SurplusWareHouseItem">
		SELECT
		<include refid="all_columns"/>
		FROM dj_house_surplus_ware_house_item
		where 1=1
		<if test="surplusWareHouseId!=null and surplusWareHouseId!=''">
			and surplus_ware_house_id = #{surplusWareHouseId}
		</if>
		<if test="productId!=null and productId!=''">
			and product_id = #{productId}
		</if>
		ORDER BY create_date desc
	</select>

    <!-- 查询所有商品的库存 ，按照address 或 商品名字模糊查询-->
    <select id="getAllProductsLikeAddressOrPName" parameterType="String" resultType="com.dangjia.acg.dto.house.SurplusWareHouseProductDTO">
        SELECT
        whi.id,
        whi.surplus_ware_house_id as surplusWareHouseId,
        whi.product_id as productId,
        whi.product_count as productCount,
        whi.product_name as productName,
        wh.address as address
        FROM dj_house_surplus_ware_house_item as whi
        left JOIN dj_house_surplus_ware_house as wh on (wh.id = whi.surplus_ware_house_id )
        WHERE 1=1
        <if test="address!=null and address!=''">
            and address LIKE CONCAT('%',#{address},'%')
        </if>
        <if test="productName!=null and productName!='' ">
            and product_name LIKE CONCAT('%',#{productName},'%')
        </if>
        GROUP BY whi.product_id
        ORDER BY wh.type and  whi.create_date desc
    </select>


    <!-- 查询指定productId的所有仓库 -->
    <select id="getAllSurplusWareHouseListByPId" parameterType="String" resultType="map">
       	SELECT
		wh.address,
		whi.product_name as productName,
		whi.product_count as productCount
		FROM dj_house_surplus_ware_house as wh
		INNER JOIN dj_house_surplus_ware_house_item as whi on (wh.id = whi.surplus_ware_house_id )
		WHERE wh.data_status=0
        <if test="productId!=null and productId!=''">
            and product_id = #{productId}
        </if>
        ORDER BY whi.category_id desc
    </select>



</mapper>

