<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.house.IWarehouseMapper">

    <sql id="all_columns">
		id,
		house_id as houseId,
		shop_count as shopCount,
		repair_count as repairCount,
		stay_count as stayCount,
		rob_count as robCount,
		ask_count as askCount,
		work_back as workBack,
		owner_back as ownerBack,
		receive,
		back_count as backCount,
		product_id as productId,
		product_sn as productSn,
		product_name as productName,
		price,
		cost,
		unit_name as unitName,
		product_type as productType,
		category_id as categoryId,
		image,
		pay_time as payTime,
		ask_time as askTime,
		rep_time as repTime,
		back_time as backTime,
		create_date as createDate,
		modify_date as modifyDate
	</sql>
	<!--查询精算分类-->
	<select id="categoryIdList" resultType="java.lang.String">
		select DISTINCT bm.category_id
		from dj_house_warehouse bm
 		where bm.house_id = #{houseId}
 		and bm.category_id !=''
 		and bm.category_id is not null;
	</select>
	<select id="getByProductId" resultType="com.dangjia.acg.modle.house.Warehouse" >
        SELECT
		<include refid="all_columns"/>
        FROM dj_house_warehouse
        WHERE
		    product_id=#{productId}
		and
		    house_id=#{houseId}
		LIMIT 1
    </select>

	<!-- 模糊查询材料类商品 -->
	<select id="materialsList" resultType="com.dangjia.acg.modle.house.Warehouse">
		SELECT
		<include refid="all_columns"/>
		FROM dj_house_warehouse
		where
			house_id = #{houseId}
		and
			product_type = 0
		<if test = "name!=null and name!=''">
			and
			product_name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test = "categoryId!=null and categoryId!=''">
			and
			category_id = #{categoryId}
		</if>
		ORDER BY create_date desc
	</select>

	<!-- 模糊查询服务类商品 -->
	<select id="serverList" resultType="com.dangjia.acg.modle.house.Warehouse">
		SELECT
		<include refid="all_columns"/>
		FROM dj_house_warehouse
		where
		    house_id = #{houseId}
		and
			product_type = 1
		<if test = "name!=null and name!=''">
			and
			product_name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test = "categoryId!=null and categoryId!=''">
			and
			category_id = #{categoryId}
		</if>
		ORDER BY create_date desc
	</select>

	<!-- 模糊查询服务类商品 -->
	<select id="warehouseList" parameterType="String"  resultType="com.dangjia.acg.modle.house.Warehouse">
		SELECT
		<include refid="all_columns"/>
		FROM dj_house_warehouse
		where house_id = #{houseId}
		<if test = "name!=null and name!=''">
			and
			product_name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test = "categoryId!=null and categoryId!=''">
			and
			category_id = #{categoryId}
		</if>
		ORDER BY create_date desc
	</select>

	<!--房子商品总价-->
	<select id="getHouseGoodsPrice" resultType="java.lang.Double">
		SELECT
		IFNULL(sum(price * (shop_count-back_count)),0) tolPrice
		FROM
			dj_house_warehouse
		WHERE  house_id = #{houseId}
		<if test = "name!=null and name!=''">
			and
			product_name LIKE CONCAT('%',#{name},'%')
		</if>
	</select>
	<!--更新商品名称-->
	<update id="updateWareHouseById" parameterType="java.lang.String">
		UPDATE dj_house_warehouse p1
		SET p1.product_name =
		<foreach collection="lists" item="item" index="index"
				 separator=" " open="case id" close="end">
			when id then #{item.name}
		</foreach>
		,p1.unit_name=
		<foreach collection="lists" item="item" index="index"
				 separator=" " open="case id" close="end">
			when id then #{item.unitName}
		</foreach>
		,p1.image=
		<foreach collection="lists" item="item" index="index"
				 separator=" " open="case id" close="end">
			when id then #{item.image}
		</foreach>
		where product_id in
		<foreach collection="lists" index="index" item="item"
				 separator="," open="(" close=")">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>

</mapper>

