<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.ICartMapper">

    <sql id="all_columns">
		id,
		create_date as createDate,
		modify_date as modifyDate,
		data_status as dataStatus,
		house_id as houseId,
		worker_type_id as workerTypeId,
		type,
		product_id as productId,
		product_sn as productSn,
		product_name as productName,
		product_type as productType,
		price,
		shop_count as shopCount,
		unit_name as unitName,
		member_id as memberId,
		category_id as categoryId
	</sql>
    <!-- 查询工种订单 -->
    <select id="cartList" resultType="com.dangjia.acg.modle.deliver.Cart">
        SELECT
          <include refid="all_columns"/>
        from dj_deliver_cart
        where
        house_id = #{houseId}
        and
        worker_type_id = #{workerTypeId}
        and
        member_id = #{memberId}
        GROUP BY product_id
    </select>
    <!--更新商品名称各项信息-->
    <update id="updateCartById" parameterType="java.lang.String">
        UPDATE dj_deliver_cart p1
        SET p1.product_name =
        <foreach collection="lists" item="item" index="index"
                 separator=" " open="case id" close="end">
            when id then #{item.name}
        </foreach>
        ,p1.price=
        <foreach collection="lists" item="item" index="index"
                 separator=" " open="case id" close="end">
            when id then #{item.price}
        </foreach>
        ,p1.category_id=
        <foreach collection="lists" item="item" index="index"
                 separator=" " open="case id" close="end">
            when id then #{item.categoryId}
        </foreach>
        where product_id in
        <foreach collection="lists" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

</mapper>

