<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.IOrderSplitMapper">


    <update id="cancelOrderSplit" >
        update dj_deliver_order_split
        set apply_status = 3
        where id = #{orderSplitId}
    </update>

    <!--查询订单所有商品ID-->
    <select id="getOrderProduct" resultType="java.lang.String">
	    SELECT
            s.product_id productId
        FROM
            (
                SELECT
                    oi.product_id
                FROM
                    `dj_deliver_order` o
                INNER JOIN dj_deliver_order_item oi ON o.id = oi.order_id
                WHERE
                    o.house_id = #{houseId}
                <if test="workerTypeId!=null and workerTypeId!=''">
                    AND o.worker_type_id =#{workerTypeId}
                </if>
                AND oi.product_type =#{productType}
                AND o.payment > 0
                AND o.type = 2
                <if test="memberId!=null and memberId!=''">
                    UNION ALL
                    SELECT
                    product_id
                    FROM
                    dj_deliver_cart
                    WHERE
                    house_id = #{houseId}
                    AND worker_type_id = #{workerTypeId}
                    AND product_type =#{productType}
                    AND member_id = #{memberId}
                </if>
                UNION ALL
                select
                DISTINCT dest_product_id as product_id
                from dj_deliver_product_change pc
                where pc.house_id = #{houseId}
                and pc.product_type = #{productType}
            ) s
        GROUP BY
            s.product_id
	</select>

    <select id="getOrderCategory" resultType="java.lang.String">
        SELECT
        s.category_id categoryId
        FROM
        (
        SELECT
        oi.category_id
        FROM
        `dj_deliver_order` o
        INNER JOIN dj_deliver_order_item oi ON o.id = oi.order_id
        WHERE
        o.house_id = #{houseId}
        AND oi.product_type =#{productType}
        AND o.worker_type_id =#{workerTypeId}
        AND o.payment > 0
        AND o.type = 2
        <if test="memberId!=null and memberId!=''">
            UNION ALL
            SELECT
            category_id
            FROM
            dj_deliver_cart
            WHERE
            house_id = #{houseId}
            AND worker_type_id = #{workerTypeId}
            AND product_type =#{productType}
            AND member_id = #{memberId}
        </if>
        UNION ALL
        select
        DISTINCT dest_product_id as product_id
        from dj_deliver_product_change pc
        where pc.house_id = #{houseId}
        and pc.product_type = #{productType}
        ) s
        GROUP BY
        s.category_id
    </select>
</mapper>

