<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.delivery.IOrderSplitItemMapper">


    <!--查询要货单总价-->
    <select id="getOrderSplitPrice" resultType="java.lang.Double">
	    select
		    IFNULL(sum(price*num),0)
		from dj_deliver_order_split_item
		where
	        order_split_id = #{orderSplitId}
	</select>
    <select id="getSplitDeliverSellPrice" resultType="java.lang.Double">
	    select
		    IFNULL(sum(price*receive),0)
		from dj_deliver_order_split_item
		where
	        split_deliver_id = #{splitDeliverId}
	</select>

    <update id="setSupplierId" >
        update dj_deliver_order_split_item
        set split_deliver_id = #{splitDeliverId}
        where id = #{id}
    </update>

    <!--确认收货更新收货数量-->
    <update id="affirmSplitDeliver" >
        update dj_deliver_order_split_item
        set receive = num
        where split_deliver_id = #{splitDeliverId}
    </update>


    <!--********************查看统计 开始**********************-->
    <!--getReportAdressSuppliers指定地址的所有发货的供应商-->
    <select id="getReportAdressSuppliers" resultType="com.dangjia.acg.dto.deliver.SplitReportSupplierDTO">

            SELECT
                sd.supplier_id supplierId,
                sd.supplier_name supplierName,
                sd.supplier_telephone supplierTelephone,
                si.house_id houseId,
                sum(si.price * si.num)  totalPrice,
                sum(
                    (si.price * si.num) - (si.sup_cost * si.num)
                )  totalProfit
            FROM
                `dj_deliver_order_split_item` si
            INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
            INNER JOIN dj_member_address ma on sd.address_id=ma.id
            WHERE sd.supplier_id IS NOT NULL
             and sd.storefront_id =#{storefrontId}
             and ma.id=#{addressId}
            GROUP BY
                sd.supplier_id
            order by sd.modify_date desc
    </select>

    <!--指定房子所有发货的供应商-->
    <select id="getSplitReportSuppliers" resultType="com.dangjia.acg.dto.deliver.SplitReportSupplierDTO">
	   SELECT
           	sd.supplier_id supplierId,
            sd.supplier_name supplierName,
            sd.supplier_telephone supplierTelephone,
            si.house_id houseId,
            sum(si.sup_cost * si.num)  totalPrice,
            sum(
                (si.price * si.num) - (si.sup_cost * si.num)
            )  totalProfit
        FROM
            `dj_deliver_order_split_item` si
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        AND sd.supplier_id IS NOT NULL

        <if test="storefrontId!=null and storefrontId!=''">
            and sd.storefront_id =#{storefrontId}
        </if>

        WHERE si.house_id= #{houseId}
        GROUP BY
            sd.supplier_id,
            si.house_id
	</select>


    <!--指定供应商所有的要货订单-->
    <select id="getSplitReportDeliverOrders" resultType="com.dangjia.acg.dto.deliver.SplitReportDeliverOrderDTO">
	   SELECT
	        s.supervisor_id supervisorId,
            s.supervisor_name supervisorName,
            s.supervisor_tel supervisorTel,
            s.number,
            s.create_date createDate,
            sum(si.price * si.num)  totalPrice,
            sum(
                (si.price * si.num) - (si.sup_cost * si.num)
            ) totalProfit
        FROM
            `dj_deliver_order_split` s
        INNER JOIN dj_deliver_order_split_item si ON si.order_split_id = s.id
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        AND sd.supplier_id IS NOT NULL
        WHERE sd.supplier_id =#{supplierId} and s.house_id =#{houseId}
        GROUP BY
            sd.number
        ORDER BY
            s.create_date DESC
	</select>

    <!--指定供应商所有发货的房子-->
    <select id="getSplitReportHouse" resultType="com.dangjia.acg.dto.deliver.SplitReportSupplierDTO">
        SELECT
            sd.ship_name shipName,
            sd.supplier_id supplierId,
            sd.supplier_name supplierName,
            sd.supplier_telephone supplierTelephone,
            si.house_id houseId,
            sd.id,
            sd.ship_address,
            sum(si.sup_cost * si.num)  totalPrice,
            sum(
                    (si.price * si.num) - (si.sup_cost * si.num)
            )  totalProfit
            FROM
            `dj_deliver_order_split_item` si
            INNER JOIN dj_deliver_split_deliver sd
            ON si.split_deliver_id = sd.id
            AND sd.supplier_id IS NOT NULL
            WHERE  sd.supplier_id= #{supplierId}
            GROUP BY
            sd.supplier_id,
            si.house_id
    </select>


    <!--要货订单明细-->
    <select id="getSplitReportDeliverOrderItems" resultType="com.dangjia.acg.dto.deliver.SplitReportDeliverOrderItemDTO">
        SELECT
            si.image,
            si.product_name productName,
            si.product_sn productSn,
            si.sup_cost supCost,
            si.num,
            si.price,
            (si.price * si.num) totalPrice,
            (
                (si.price * si.num) - (si.sup_cost * si.num)
            ) totalProfit
        FROM
            `dj_deliver_order_split` s
        INNER JOIN dj_deliver_order_split_item si ON si.order_split_id = s.id
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        WHERE
            s.number = #{number}
       ORDER BY
            si.category_id DESC
	</select>


    <!--要货订单商品列表-->
    <select id="getSplitReportGoodsOrderItems" resultType="com.dangjia.acg.dto.deliver.SplitReportDeliverOrderItemDTO">
       SELECT
            si.image,
            si.product_name productName,
            si.product_sn productSn,
            si.product_id productId,
            sum(si.num) num,
            sum(si.shop_count) shopcount,
            sum(si.ask_count) askCount,
            sum(si.receive) receive,
            (si.price * si.num) totalPrice
        FROM
            `dj_deliver_order_split` s
        INNER JOIN dj_deliver_order_split_item si ON si.order_split_id = s.id
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        WHERE
            s.house_id = #{houseId}
        GROUP BY
            si.product_sn
        ORDER BY
            si.category_id DESC
	</select>


    <!--指定房子所有发货的供应商-->
    <select id="getSplitReportGoodsSuppliers" resultType="com.dangjia.acg.dto.deliver.SplitReportSupplierDTO">
        SELECT
            sd.supplier_id supplierId,
            sd.supplier_name supplierName,
            sd.supplier_telephone supplierTelephone,
            si.house_id houseId,
            sum(si.shop_count) shopcount,
            sum(si.ask_count) askCount,
            sum(si.receive) receive,
            sum(si.num) num,
            sd.send_time sendTime,
            si.create_date createDate,
            sd.number,
            si.price,
            sum(si.price * si.num) totalPrice
        FROM
            `dj_deliver_order_split_item` si
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        AND sd.supplier_id IS NOT NULL
        WHERE
            si.house_id =  #{houseId}
        AND si.product_sn =  #{productSn}
        GROUP BY
            sd.supplier_id,
            si.house_id
        ORDER BY
            si.house_id
	</select>
   <!--********************查看统计 结束**********************-->

    <select id="getOrderItemListByhouseMemberId" resultType="com.dangjia.acg.dto.deliver.OrderSplitItemDTO">
        SELECT
            t.order_split_id orderSplitId,
            t.product_id productId,
            t.id orderSplitItemId,
            t3.id orderItemId,
            t.storefront_id storefrontId,
            t.product_name productName,
            t.product_sn productSn,
            t.product_type productType,
            t.price price,
            t.unit_name unitName,
            IFNULL(t.image, t1.image) image,
            t.shop_count shopCount,
            IFNULL(t.ask_count, 0) askCount,
            IFNULL(t.receive, 0) receive,
            IFNULL(t.receive, 0)-IFNULL(t.return_count,0)  surplusCount,
            IFNULL(t3.stevedorage_cost, 0) stevedorageCost,
            IFNULL(t3.transportation_cost, 0) transportationCost,
            t1.prod_template_id productTemplateId,
            t1.is_upstairs_cost isUpstairsCost,
            IFNULL(t1.move_cost, 0) moveCost
        FROM
            dj_deliver_order_split_item t
        INNER JOIN dj_deliver_order_split ds on t.order_split_id=ds.id
        LEFT JOIN  dj_deliver_order_item t3 on t.order_item_id=t3.id
        INNER JOIN dj_basics_storefront_product t1 on t.product_id=t1.id
        INNER JOIN dj_deliver_split_deliver t2 on t.split_deliver_id=t2.id
        WHERE  t.receive>IFNULL(t.return_count,0)
        and t2.shipping_state in(2,4,5,7,8)
        and ds.house_id=#{houseId}
        and ds.member_id=#{workerId}
        <if test="null!=searchKey and ''!=searchKey">
          AND t.product_name LIKE CONCAT('%',#{searchKey},'%')
        </if>
    </select>

    <select id="getSplitOrderItemBySplitOrderId" resultType="com.dangjia.acg.dto.deliver.OrderSplitItemDTO">
        SELECT
                t.order_split_id orderSplitId,
                t.product_id productId,
                t.id orderSplitItemId,
                t.storefront_id storefrontId,
                t.product_name productName,
                t.product_sn productSn,
                t.product_type productType,
                t.price price,
                t.unit_name unitName,
                IFNULL(t.image, t1.image) image,
                t.shop_count shopCount,
                IFNULL(t.ask_count, 0) askCount,
                t.num num,
                t1.prod_template_id productTemplateId,
                t1.is_upstairs_cost isUpstairsCost,
                IFNULL(t1.move_cost, 0) moveCost
        FROM
                dj_deliver_order_split_item t
        INNER JOIN dj_basics_storefront_product t1 on t.product_id=t1.id
        WHERE  t.order_split_id=#{orderSplitId}

    </select>
</mapper>

