<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.delivery.IOrderItemMapper">

	<sql id="all_columns">
		id,
		order_id as orderId,
		house_id as houseId,
		product_id as productId,
		product_sn as productSn,
		product_name as productName,
		product_nick_name as productNickName,
		price,
		cost,
		shop_count as shopCount,
		ask_count as askCount,
		unit_name as unitName,
		total_price as totalPrice,
		product_type as productType,
		category_id as categoryId,
		worker_goods_name as workerGoodsName,
		worker_goods_sn as workerGoodsSn,
		worker_goods_id as workerGoodsId,
		image,
		data_status as dataStatus,
		create_date as createDate,
		modify_date as modifyDate,
		storefont_id as storefontId,
		activity_red_pack_id as activityRedPackId,
		discount_price as discountPrice,
		actual_payment_price as actualPaymentPrice,
		stevedorage_cost as stevedorageCost,
		transportation_cost as transportationCost,
		return_count as returnCount,
		receive_count as receiveCount,
		is_reservation_deliver as isReservationDeliver,
		reservation_deliver_time as reservationDeliverTime,
		order_status as orderStatus,
		worker_type_id as workerTypeId,
		cancellation_time as cancellationTime
	</sql>
	<sql id="all_m_columns">
		m.id,
		m.order_id as orderId,
		m.house_id as houseId,
		m.product_id as productId,
		m.product_sn as productSn,
		m.product_name as productName,
		m.product_nick_name as productNickName,
		m.price,
		m.cost,
		m.shop_count as shopCount,
		m.ask_count as askCount,
		m.unit_name as unitName,
		m.total_price as totalPrice,
		m.product_type as productType,
		m.category_id as categoryId,
		m.worker_goods_name as workerGoodsName,
		m.worker_goods_sn as workerGoodsSn,
		m.worker_goods_id as workerGoodsId,
		m.image,
		m.data_status as dataStatus,
		m.create_date as createDate,
		m.modify_date as modifyDate,
		m.storefont_id as storefontId,
		m.activity_red_pack_id as activityRedPackId,
		m.discount_price as discountPrice,
		m.actual_payment_price as actualPaymentPrice,
		m.stevedorage_cost as stevedorageCost,
		m.transportation_cost as transportationCost,
		m.return_count as returnCount,
		m.receive_count as receiveCount,
		m.is_reservation_deliver as isReservationDeliver,
		m.reservation_deliver_time as reservationDeliverTime,
		m.order_status as orderStatus,
		m.worker_type_id as workerTypeId,
		m.cancellation_time as cancellationTime
	</sql>
	<select id="queryShopGoods" resultType="com.dangjia.acg.dto.actuary.ShopGoodsDTO">
		SELECT
			l.id shopId,
			l.storefront_name shopName,
			oi.product_type productType
		FROM
			dj_basics_storefront l
		INNER JOIN dj_deliver_order_item oi on oi.storefont_id = l.id
		WHERE
				oi.order_id = #{orderId}
		GROUP BY
			l.id,oi.product_type
		ORDER BY
			l.id DESC
	</select>
	<!--查询工种材料未支付所有商品的标签-->
	<select id="queryBudgetLabel" resultType="com.dangjia.acg.dto.actuary.BudgetLabelDTO">
		SELECT
			IFNULL(l.id,'-1') labelId,
			IFNULL(l.name,'其他') labelName,
			GROUP_CONCAT(c.id) categoryIds
		FROM
			dj_basics_goods_category c
		LEFT JOIN dj_basics_goods_category l ON l.id=c.parent_id
		WHERE
			c.id IN (
				SELECT
					m.category_id
				FROM
					dj_deliver_order_item m
				WHERE
					m.order_id =  #{orderId}
					and m.storefont_id = #{storefontId}
					<if test = "productType!=null and productType!=''">
						and m.product_type = #{productType}
					</if>
				GROUP BY
					m.category_id
			  )
		GROUP BY l.id
		ORDER BY l.id desc
	</select>
	<select id="queryBudgetLabelGoods" resultType="com.dangjia.acg.dto.actuary.BudgetLabelGoodsDTO">
		SELECT
			m.id,
			p.is_agency_purchase steta,
			m.product_id productId,
			m.product_sn productSn,
			m.product_name productName,
			m.price,
			m.shop_count shopCount,
			m.unit_name unitName,
			(m.price * m.shop_count) totalPrice,
			m.create_date createDate,
			m.create_date createDate,
			m.product_type productType,
			m.data_status dataStatus,
			p.category_id categoryId,
			m.image,
			m.storefont_id storefontId,
			p.goods_id goodsId,
			p.value_name_arr attributeName
		FROM
			dj_deliver_order o
		INNER JOIN dj_deliver_order_item m ON o.id = m.order_id
		INNER JOIN dj_basics_storefront_product sp ON sp.id = m.product_id
		INNER JOIN dj_basics_product_template p ON sp.prod_template_id = p.id
		WHERE ( o.id = #{orderId} OR o.parent_order_id =  #{orderId} )
		<if test = "storefontId!=null and storefontId!=''">
			and m.storefont_id = #{storefontId}
		</if>
		<if test = "productType!=null and productType!=''">
			and m.product_type = #{productType}
		</if>
	</select>
    <!-- 模糊查询 -->
    <select id="orderItemList" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.deliver.OrderItem">
        SELECT
            <include refid="all_columns"/>
        FROM dj_deliver_order_item
        where
            house_id = #{houseId}
		<if test = "orderId!=null and orderId!=''">
			and
			order_id = #{orderId}
		</if>
        <if test = "name!=null and name!=''">
            and
            product_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test = "categoryId!=null and categoryId!=''">
            and
            category_id = #{categoryId}
        </if>
        ORDER BY create_date desc
    </select>



	<!-- 根据orderId查询 -->
	<select id="byOrderIdList" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.deliver.OrderItem">
		SELECT
		<include refid="all_m_columns"/>,p.value_id_arr valueIdArr,p.value_name_arr valueNameArr
		FROM dj_deliver_order_item m
		INNER JOIN dj_basics_storefront_product sp ON sp.id = m.product_id
		INNER JOIN dj_basics_product_template p ON sp.prod_template_id = p.id
		where
		m.order_id = #{orderId}
		ORDER BY m.create_date desc
	</select>
	<!--更新名称-->

	<select id="queryDeliverOrderItemDetail" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.deliver.OrderItem">
		SELECT
		<include refid="all_columns"/>
		FROM dj_deliver_order_item
		where
		order_id = #{orderId}
		ORDER BY create_date desc
	</select>


	<select id="searchCountItemByInfo" resultType="java.util.Map">
		SELECT
			IFNULL(sum(t2.shop_count),0) shopCount,
			IFNULL(sum(t2.ask_count),0) askCount
		FROM
			dj_deliver_order t1,
			dj_deliver_order_item t2
		WHERE
			t1.id = t2.order_id
		AND t1.storefont_id = #{storefrontId}
		AND (
			t1.address_id = #{addressId}
			OR t1.house_id = #{houseId}
		)
		AND t2.product_id = #{productId}

	</select>
	<!--查询是否存在预约商品-->
	<select id="getReservationDeliverState" resultType="com.dangjia.acg.modle.deliver.OrderItem">
		SELECT
		<include refid="all_m_columns"/>
		FROM
			dj_deliver_order t1
		INNER JOIN dj_deliver_order_item m ON t1.id = m.order_id
		AND m.is_reservation_deliver = '1'
		WHERE
			t1.id = #{orderId}
		AND t1.data_status = 0
		AND m.is_reservation_deliver = '1'
		AND (
			m.reservation_deliver_time IS NULL
			OR m.reservation_deliver_time = ''
		)
    </select>

	<select id="queryNodeNumber" resultType="com.dangjia.acg.dto.delivery.NodeNumberDTO">
        select
        mtr.state,
        mtr.house_id as houseId,
        chf.type
        from
        dj_matter_technology_record mtr
        INNER  JOIN dj_core_worker_type chf on mtr.worker_type_id = chf.id
        where mtr.house_id = #{houseId}
    </select>

	<select id="queryMaterialNumber" resultType="com.dangjia.acg.dto.delivery.MaterialNumberDTO">
        select
        cwt.type,
        doi.house_id as houseId,
        doi.shop_count as shopCount,
        doi.ask_count as askCount,
        doi.return_count as returnCount
        from dj_deliver_order doa
        INNER JOIN dj_deliver_order_item doi on doa.id = doi.order_id
        INNER JOIN dj_core_worker_type cwt on doa.worker_type_id = cwt.id
        where doa.house_id = #{houseId}
    </select>
</mapper>

