<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.IOrderSplitItemMapper">


    <!--查询要货单总价-->
    <select id="getOrderSplitPrice" resultType="java.lang.Double">
	    select
		    IFNULL(sum(price*num),0)
		from dj_deliver_order_split_item
		where
	        order_split_id = #{orderSplitId}
	</select>

    <update id="setSupplierId" >
        update dj_deliver_order_split_item
        set split_deliver_id = #{splitDeliverId}
        where id = #{id}
    </update>

    <!--确认收货更新收货数量-->
    <update id="affirmSplitDeliver" >
        update dj_deliver_order_split_item
        set receive = num
        where split_deliver_id = #{splitDeliverId}
    </update>


    <!--********************查看统计 开始**********************-->

    <!--指定房子所有发货的供应商-->
    <select id="getSplitReportSuppliers" resultType="com.dangjia.acg.dto.deliver.SplitReportSupplierDTO">
	   SELECT
           	sd.supplier_id supplierId,
            sd.supplier_name supplierName,
            sd.supplier_telephone supplierTelephone,
            si.house_id houseId,
            sum(si.sup_cost * si.num)  totalPrice,
            sum(
                (si.price * si.num) - (si.sup_cost * si.num)
            )  totalProfit
        FROM
            `dj_deliver_order_split_item` si
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        AND sd.supplier_id IS NOT NULL
        WHERE si.house_id= #{houseId}
        GROUP BY
            sd.supplier_id,
            si.house_id
	</select>


    <!--指定供应商所有的要货订单-->
    <select id="getSplitReportDeliverOrders" resultType="com.dangjia.acg.dto.deliver.SplitReportDeliverOrderDTO">
	   SELECT
            s.number,
            s.create_date createDate,
            sum(si.price * si.num)  totalPrice,
            sum(
                (si.price * si.num) - (si.sup_cost * si.num)
            ) totalProfit
        FROM
            `dj_deliver_order_split` s
        INNER JOIN dj_deliver_order_split_item si ON si.order_split_id = s.id
        INNER JOIN dj_deliver_split_deliver sd ON si.split_deliver_id = sd.id
        AND sd.supplier_id IS NOT NULL
        WHERE sd.supplier_id =#{supplierId}
        GROUP BY
            sd.number
        ORDER BY
            create_date DESC
	</select>


    <!--要货订单明细-->
    <select id="getSplitReportDeliverOrderItems" resultType="com.dangjia.acg.dto.deliver.SplitReportDeliverOrderItemDTO">
        SELECT
            si.image,
            si.product_name productName,
            si.product_sn productSn,
            si.sup_cost supCost,
            si.num,
            si.price,
            (si.price * si.num) totalPrice,
            (
                (si.price * si.num) - (si.sup_cost * si.num)
            ) totalProfit
        FROM
            `dj_deliver_order_split` s
        INNER JOIN dj_deliver_order_split_item si ON si.order_split_id = s.id
        WHERE
            s.number = #{number}
        ORDER BY
            si.create_date DESC;
	</select>
    <!--********************查看统计 结束**********************-->
</mapper>

