<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.IOrderSplitMapper">


    <update id="cancelOrderSplit" >
        update dj_deliver_order_split
        set apply_status = 3
        where id = #{orderSplitId}
    </update>

    <!--查询订单所有商品ID-->
    <select id="getOrderProduct" resultType="java.lang.String">
	    SELECT
            s.product_id productId
        FROM
            (
                SELECT
                  o.product_id
                FROM
                `dj_house_warehouse`  o
                WHERE
                o.house_id = #{houseId}
                AND o.product_type =#{productType}
                <if test="memberId!=null and memberId!=''">
                UNION ALL
                    SELECT
                      product_id
                    FROM
                      dj_deliver_cart
                    WHERE
                        house_id = #{houseId}
                        AND worker_type_id = #{workerTypeId}
                    AND product_type =#{productType}
                    AND member_id = #{memberId}
                </if>
            ) s
        GROUP BY
            s.product_id
	</select>

    <select id="getOrderCategory" resultType="java.lang.String">
        SELECT
        s.category_id categoryId
        FROM
        (
            SELECT
              o.category_id
            FROM
              `dj_house_warehouse`  o
            WHERE
              o.house_id = #{houseId}
            AND o.product_type =#{productType}
        <if test="memberId!=null and memberId!=''">
            UNION ALL
            SELECT
            category_id
            FROM
            dj_deliver_cart
            WHERE
            house_id = #{houseId}
            AND worker_type_id = #{workerTypeId}
            AND product_type =#{productType}
            AND member_id = #{memberId}
        </if>
        ) s
        GROUP BY
        s.category_id
    </select>
</mapper>

