<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.IOrderMapper">
    <sql id="all_columns">
        id,
        house_id as houseId,
        business_order_number as businessOrderNumber,
        total_amount as totalAmount,
        worker_type_name as workerTypeName,
        worker_type_id as workerTypeId,
        style_name as styleName,
        style_price as stylePrice,
        budget_cost as budgetCost,
        type,
        payment,
        create_date as createDate,
        modify_date as modifyDate,
        data_status as dataStatus
    </sql>

    <!-- 查询工种订单 -->
    <select id="getWorkerOrder" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
            house_id = #{houseId}
        and
            worker_type_id = #{workerTypeId}
        and
            type = 1
    </select>

    <!-- 根据订单号查询订单 -->
    <select id="byBusinessOrderNumber" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
            business_order_number = #{businessOrderNumber}
        ORDER BY create_date desc
    </select>

    <!-- 根据所有的订单 -->
    <select id="getAllOrders" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        ORDER BY create_date desc
    </select>

</mapper>

