<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.delivery.IOrderMapper">
    <sql id="all_columns">
        id
        create_date	as 	createDate
        house_id	as 	houseId
        business_order_number	as 	businessOrderNumber
        total_amount	as 	totalAmount
        style_price	as 	stylePrice
        budget_cost	as 	budgetCost
        worker_type_name	as 	workerTypeName
        payment
        worker_type_id	as 	workerTypeId
        style_name	as 	styleName
        type
        modify_date	as 	modifyDate
        data_status	as 	dataStatus
        parent_order_id	as 	parentOrderId
        order_number	as 	orderNumber
        member_id	as 	memberId
        worker_id	as 	workerId
        address_id	as 	addressId
        storefont_id	as 	storefontId
        city_id	as 	cityId
        total_discount_price	as 	totalDiscountPrice
        total_stevedorage_cost	as 	totalStevedorageCost
        total_transportation_cost	as 	totalTransportationCost
        order_type	as 	orderType
        actual_payment_price	as 	actualPaymentPrice
        is_pay_money	as 	isPayMoney
        is_show_order	as 	isShowOrder
        order_status	as 	orderStatus
        order_generation_time	as 	orderGenerationTime
        order_pay_time	as 	orderPayTime
        order_source	as 	orderSource
        create_by	as 	createBy
        update_by	as 	updateBy
    </sql>

    <!-- 查询工种订单 -->
    <select id="getStorefontOrder" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
            storefont_id = #{storefontId}
        and
          parent_order_id = #{parentOrderId}
        and
          parent_order_id!=id
        LIMIT 1
    </select>
    <select id="getWorkerOrder" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
        house_id = #{houseId}
        and
        worker_type_id = #{workerTypeId}
        and
        type = 1
        LIMIT 1
    </select>
    <!-- 根据订单号查询订单 -->
    <select id="byBusinessOrderNumber" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
            business_order_number = #{businessOrderNumber}
        ORDER BY create_date desc
    </select>

    <!-- 根据订单号查询订单 -->
    <select id="byBusinessOrderNumberAndOrderStatus" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
        <include refid="all_columns"/>
        from dj_deliver_order
        where
        business_order_number = #{businessOrderNumber}
        <if test="orderStatus!=null and orderStatus!=''">
            and orderStatus = #{orderStatus}
        </if>
        ORDER BY create_date desc
    </select>

    <!-- 根据所有的订单 -->
    <select id="getAllOrders" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
            house_id houseId,SUM(total_amount) totalAmount,worker_type_id workerTypeId,type
        FROM
            dj_deliver_order
        WHERE
         house_id = #{houseId}
        and
            worker_type_id = #{workerTypeId}
        GROUP BY house_id,worker_type_id,type
        ORDER BY
            create_date DESC
    </select>

    <select id="getOrderInfo" resultType="com.dangjia.acg.modle.deliver.Order">
        SELECT
            id,
            order_number orderNumber,
            order_status orderStatus,
            order_generation_time orderGenerationTime
        FROM
            dj_deliver_order
        WHERE
            house_id = #{houseId}
        AND order_type = '1'
        AND (parent_order_id = '0' or parent_order_id is null)
        limit 1

    </select>

    <select id="getOrderDetailInfoList" resultType="com.dangjia.acg.modle.deliver.OrderItem">
       SELECT
            t1.id,
            t1.order_id orderId,
            t1.storefont_id storefontId,
            t1.product_id productId,
            t1.price price,
            t1.shop_count shopCount,
            t1.total_price totalPrice,
            t1.order_type orderType
        FROM
            dj_deliver_order t,
            dj_deliver_order_item t1
        WHERE
            t.id = t1.order_id
        AND t.house_id = #{houseId}
        AND t.order_type = '1'

    </select>

    <update id="updateOrderDetail" parameterType="com.dangjia.acg.modle.deliver.OrderItem">
        UPDATE dj_deliver_order_item
        SET  product_id = #{productId},
             price = #{price},
             shop_count = #{shopCount},
             total_price = #{totalPrice},
             update_by = #{updateBy},
             modify_date = now()
        WHERE
            id = #{id}
    </update>

    <update id="updateOrder" >
         update dj_deliver_order
         set is_pay_money=1,
         total_amount=(select sum(t.total_price) from dj_deliver_order_item t where t.order_id=#{orderId})
         where id=#{orderId}
    </update>



</mapper>

