<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.deliver.IProductChangeOrderMapper">

	<sql id="all_columns">
		id,
		house_id as houseId,
		number,
		type,
		difference_price as differencePrice,
		create_date as createDate,
		modify_date as modifyDate
	</sql>
	<!-- 根据houseId查询商品换货订单对象 -->
	<select id="queryOrderByHouseId" parameterType="java.lang.String" resultType="com.dangjia.acg.modle.deliver.ProductChangeOrder">
		SELECT
		<include refid="all_columns"/>
		FROM dj_deliver_product_change_order
		where 1=1
		<if test="houseId!=null and houseId!=''">
			and house_id=#{houseId}
		</if>
		<if test="type!=null and type!=''">
			and type=#{type}
		</if>
		ORDER BY create_date desc
	</select>
	<!-- 按state 和 收货地址 搜索 -->
	<select id="queryOrderByStateAndLikeAddress" resultType="com.dangjia.acg.modle.deliver.ProductChangeOrder">
		SELECT
		prco.id,
		prco.number,
		type,
		prco.data_status as dataStatus,
		prco.create_date as createDate,
		prco.modify_date as modifyDate,
		house.id as houseId
		FROM dj_deliver_product_change_order as prco
		left  JOIN dj_house as house
		on (prco.house_id = house.id  )
		where 1=1
		and prco.type > 0
		<if test = "houseId!=null and houseId!=''">
			and prco.house_id = #{houseId}
		</if>
		<if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
			and prco.create_date between  #{beginDate}  and #{endDate}
		</if>

		<if test="likeAddress!=null and likeAddress!=''">
			AND CONCAT(
			house.residential,
			IFNULL(house.building, '*'),
			'栋',
			IFNULL(CONCAT(house.unit, '单元'),'' ),
			IFNULL(house.number, '*'),
			'号'
			)  LIKE CONCAT('%',#{likeAddress},'%')

		</if>

		ORDER BY prco.create_date desc
	</select>

</mapper>