<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.delivery.ISplitDeliverMapper">

    <!--授权大管家收货-->
    <update id="supState">
        update dj_deliver_split_deliver
        set supState = 1
        where id = #{splitDeliverId}
    </update>

    <select id="getWebSplitDeliverList" resultType="com.dangjia.acg.dto.finance.WebSplitDeliverItemDTO">
        SELECT
        a.shipAddress,
        a.supplierId,
        a.supMobile,
        a.supName,
        SUM(a.sent) sent,
        SUM(a.wait) wait
        FROM
        (
        (
        SELECT
        m.ship_address AS shipAddress,
        m.supplier_id AS supplierId,
        m.supplier_telephone AS supMobile,
        m.supplier_name AS supName,
        (
        SELECT
        COUNT(d.id)
        FROM
        dj_repair_mend_deliver d
        WHERE
        d.supplier_id = m.supplier_id
        AND d.apply_state = 1
        ) sent,
        (
        SELECT
        COUNT(d.id)
        FROM
        dj_repair_mend_deliver d
        WHERE
        d.supplier_id = m.supplier_id
        AND d.apply_state = 0
        ) wait
        FROM
        dj_repair_mend_deliver m
        inner join dj_house h on h.id = m.house_id and h.city_id = #{cityId}
        WHERE
        m.data_status = 0
        AND m.apply_state IS NOT NULL
        AND m.apply_state != 3
        <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
            and m.modify_date between #{beginDate} and #{endDate}
        </if>
        <if test="searchKey!=null and searchKey!=''">
            and (m.supplier_name like CONCAT('%',#{searchKey},'%'))
        </if>
        <if test="storefrontId!=null and storefrontId!=''">
            and m.storefront_id = #{storefrontId}
        </if>
        GROUP BY
        m.supplier_id
        )
        UNION ALL
        (
        SELECT
        s.ship_address AS shipAddress,
        s.supplier_id AS supplierId,
        s.supplier_telephone AS supMobile,
        s.supplier_name AS supName,
        (
        SELECT
        COUNT(d.id)
        FROM
        dj_deliver_split_deliver d
        WHERE
        d.supplier_id = s.supplier_id
        AND (
        d.apply_state = 1
        OR d.apply_state = 2
        )
        ) sent,
        (
        SELECT
        COUNT(d.id)
        FROM
        dj_deliver_split_deliver d
        WHERE
        d.supplier_id = s.supplier_id
        AND d.apply_state = 0
        ) wait
        FROM
        dj_deliver_split_deliver s
        inner join dj_house h on h.id = s.house_id and h.city_id = #{cityId}
        WHERE
        s.data_status = 0
        AND s.apply_state IS NOT NULL
        AND s.apply_state != 3
        <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
            and s.modify_date between #{beginDate} and #{endDate}
        </if>
        <if test="searchKey!=null and searchKey!=''">
            and (s.supplier_name like CONCAT('%',#{searchKey},'%'))
        </if>
        <if test="storefrontId!=null and storefrontId!=''">
            and s.storefront_id = #{storefrontId}
        </if>
        GROUP BY
        s.supplier_id
        )
        ) a
        GROUP BY
        a.supplierId
        ORDER BY
        a.wait DESC
    </select>

    <select id="queryNonPlatformSupplier" resultType="java.util.Map">
        SELECT
        distinct  IFNULL(ds.id ,'' )  as supplierId,IFNULL(ds.name,'') as name
        FROM dj_supplier ds where ds.is_non_platform_supplier='1'
    </select>


    <select id="getSupplierGoodsId" resultType="java.util.Map">
        SELECT
        distinct  IFNULL(d.sup_id ,'' )  as supplierId,IFNULL(ds.name,'') as name
        FROM
        `dj_deliver_order_split_item` si
        INNER JOIN dj_sup_application_product d ON si.product_id = d.product_id
        INNER join dj_supplier ds on ds.id=d.sup_id
        WHERE si.house_id = #{houseId}
        AND si.product_id =  #{productSn}
        ORDER BY d.price asc
    </select>

    <select id="getMendMaterialSupplierId" resultType="java.util.Map">

        select
       DISTINCT IFNULL(d.sup_id ,'' )  as supplierId,IFNULL(ds.name,'') as name
        from
        dj_deliver_split_deliver  ddsd
        inner join dj_deliver_order_split_item ddosi
        on ddosi.split_deliver_id=ddsd.id
        INNER JOIN dj_sup_application_product d ON ddosi.product_id = d.product_id
        INNER join dj_supplier ds on ds.id=d.sup_id
        WHERE ddsd.house_id = #{houseId}
        AND ddosi.product_id =  #{productId}
        ORDER BY d.price asc

    </select>


    <!--根据供应商id查询要货列表-->
    <select id="getOrderSplitList" resultType="com.dangjia.acg.dto.finance.WebSplitDeliverItemDTO">
        SELECT
        b.id AS splitDeliverId,
        a.id AS orderSplitId,
        a.number,
        b.apply_state AS applyState,
        a.create_date AS createDate,
        b.supplier_id AS supplierId,
        a.house_id AS houseId,
        b.shipping_state AS shipState,
        b.ship_address AS shipAddress
        FROM dangjia_master.dj_deliver_order_split a
        INNER JOIN dangjia_master.dj_deliver_split_deliver b
        ON a.id=b.order_split_id
        WHERE b.data_status = 0
        AND b.apply_state IS NOT NULL
        AND b.apply_state != 3
        AND supplier_id=#{supplierId}
        <if test="searchKey!=null and searchKey!=''">
            AND ( b.ship_address like CONCAT('%',#{searchKey},'%')
            OR a.number like CONCAT('%',#{searchKey},'%'))
        </if>
        <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
            and a.create_date between #{beginDate} and #{endDate}
        </if>
        ORDER BY a.create_date DESC
    </select>

    <!--供应商查看货单详情-->
    <select id="splitDeliverList" resultType="com.dangjia.acg.dto.finance.WebSplitDeliverItemDTO">
        SELECT
        id AS splitDeliverId,
        number AS number,
        total_amount AS totalAmount,
        apply_money AS applyMoney,
        apply_state AS applyState,
        ship_address AS shipAddress,
        supplier_id AS supplierId,
        supplier_telephone AS supMobile,
        supplier_name AS supName,
        operator_id AS operatorId,
        rec_time AS recTime,
        modify_date AS modifyDate,
        create_date AS createDate
        FROM
        dj_deliver_split_deliver
        WHERE
        data_status = 0
        and apply_state IS not NULL
        and apply_state != 3
        and id=#{splitDeliverId}
        ORDER BY
        create_date DESC
    </select>

    <select id="mendDeliverList" resultType="com.dangjia.acg.dto.deliver.SupplierDeliverDTO">
        SELECT
        id,
        number AS number,
        rec_time AS createDate,
        total_amount AS totalAmount,
        apply_money AS applyMoney,
        apply_state AS applyState,
        ship_address AS shipAddress,
        supplier_id AS supplierId
        FROM
        dj_deliver_split_deliver
        WHERE
        data_status = 0
        and apply_state IS not NULL
        AND supplier_id=#{supplierId}
        AND apply_state = #{applyState}

        <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
            and modify_date between #{beginDate} and #{endDate}
        </if>
        <if test="shipAddress!=null and shipAddress!=''">
            and ship_address like CONCAT('%',#{shipAddress},'%')
        </if>
        ORDER BY
        rec_time DESC
    </select>

    <select id="selectClsd" resultType="com.dangjia.acg.modle.deliver.SplitDeliver">
        SELECT
        id,
        number AS number,
        create_date AS createDate,
        total_amount AS totalAmount,
        apply_money AS applyMoney,
        apply_state AS applyState,
        ship_address AS shipAddress,
        supplier_id AS supplierId
        FROM
        dj_deliver_split_deliver
        WHERE
        id=#{id}
        <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
            and modify_date between #{beginDate} and #{endDate}
        </if>
        <if test="shipAddress!=null and shipAddress!=''">
            and ship_address like CONCAT('%',#{shipAddress},'%')
        </if>
    </select>


</mapper>

