<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dangjia.acg.mapper.storefront.IStorefrontWithdrawDepositMapper">

    <select id="queryBankCard" resultType="com.dangjia.acg.modle.other.BankCard">
        SELECT
            obc.*
        FROM
            dj_worker_worker_bank_card wwbc,
            dj_other_bank_card obc
        WHERE
            wwbc.bank_card_id = obc.id
        AND wwbc.bank_card_number = #{bankCardNumber}
        AND wwbc.worker_id = #{workerId}
    </select>

</mapper>