<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.storefront.IStorefrontConfigMapper">
    <sql id="all_columns">
        id,
        storefront_id storefrontId,
        param_key paramKey,
        param_value paramValue,
        param_desc paramDesc,
        city_id cityId,
        create_date createDate,
        modify_date modifyDate,
        data_status dataStatus
    </sql>


    <select id="getConfig" resultType="com.dangjia.acg.modle.storefront.StorefrontConfig">
        SELECT
        <include refid="all_columns"/>
        FROM dj_basics_storefront_config
        where data_status =0
        <if test="null!=storefrontId and ''!=storefrontId">
            AND storefront_id=#{storefrontId}
        </if>
        <if test="null!=paramKey and ''!=paramKey">
            AND param_key =#{paramKey}
        </if>
        ORDER BY create_date DESC LIMIT 1
    </select>


</mapper>