<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.storefront.IStorefrontMapper">
    <sql id="all_column">
          `id`,
          `user_id` AS userId,
          `city_id` AS cityId,
          `storefront_name` AS storefrontName,
          `storefront_address` AS storefrontAddress,
          `storefront_desc` AS storefrontDesc,
          `storefront_logo` AS storefrontLogo,
          `storekeeper_name` AS storekeeperName,
          `mobile`,
          `email`,
          `create_date` AS createDate,
          `modify_date` AS modifyDate,
          `data_status` AS dataStatus
    </sql>


    <select id="querySupplierApplicationShopList" resultType="com.dangjia.acg.dto.storefront.StorefrontListDTO">
        SELECT
            b.`id`,
            b.`sup_id` AS supId,
            a.`id` AS shopId,
            a.`user_id` AS userId,
            a.`city_id` AS cityId,
            a.`storefront_name` AS storefrontName,
            a.`storefront_address` AS storefrontAddress,
            a.`storefront_desc` AS storefrontDesc,
            a.`storefront_logo` AS storefrontLogo,
            a.`storekeeper_name` AS storekeeperName,
            a.`mobile`,
            a.`email`,
            a.`create_date` AS createDate,
            a.`modify_date` AS modifyDate,
            a.`data_status` AS dataStatus,
            if(b.application_status is not null and b.application_status!="",b.application_status,-1) AS applicationStatus,
            b.fail_reason AS failReason,
            b.contract,
            a.freight,
            a.below_unit_price
        FROM
          dj_basics_storefront a
        LEFT JOIN (SELECT * FROM dj_sup_application WHERE sup_id = #{supId})b
        ON a.id = b.shop_id
        where 1=1
        <if test="null!=searchKey and ''!=searchKey">
            and (
            a.storefront_name LIKE CONCAT('%',#{searchKey},'%') or
            a.mobile LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        <if test="applicationStatus=='-1'.toString()">
            AND( application_status is null or application_status NOT IN(0, 1, 2))
        </if>
        <if test="null!=applicationStatus and ''!=applicationStatus and applicationStatus!='-1'.toString()">
            and application_status=#{applicationStatus}
        </if>
        and a.`city_id`=#{cityId}
        and exists (select 1 from dj_basics_storefront_product t where a.id=t.storefront_id and t.is_shelf_status=1)
    </select>


    <select id="queryLikeSingleStorefront" resultType="com.dangjia.acg.modle.storefront.Storefront">
        select
          <include refid="all_column"/>
        from dj_basics_storefront
        where 1=1
        <if test="null!=searchKey and ''!=searchKey">
            and (
            storefront_name LIKE CONCgouAT('%',#{searchKey},'%') or
            mobile LIKE CONCAT('%',#{searchKey},'%') or
            storekeeper_name LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
    </select>


    <select id="querySupplierSelectionSupply" resultType="com.dangjia.acg.dto.storefront.StorefrontListDTO">
        SELECT
            b.`id`,
            b.`sup_id` AS supId,
            a.`id` AS shopId,
            a.`user_id` AS userId,
            a.`city_id` AS cityId,
            a.`storefront_name` AS storefrontName,
            a.`storefront_address` AS storefrontAddress,
            a.`storefront_desc` AS storefrontDesc,
            a.`storefront_logo` AS storefrontLogo,
            a.`storekeeper_name` AS storekeeperName,
            a.`mobile`,
            a.`email`,
            a.`create_date` AS createDate,
            a.`modify_date` AS modifyDate,
            a.`data_status` AS dataStatus,
            b.application_status  AS applicationStatus,
            b.fail_reason AS failReason,
            b.contract,
            a.freight,
            a.below_unit_price
        FROM
            dj_basics_storefront a
        LEFT JOIN (SELECT * FROM dj_sup_application WHERE sup_id = #{supId}) b
        ON a.id = b.shop_id
        where 1=1
        <if test="null!=searchKey and ''!=searchKey">
            and (
            a.storefront_name LIKE CONCAT('%',#{searchKey},'%') or
            a.mobile LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>
        and b.application_status=1
        and b.contract is not null
        and a.`city_id`=#{cityId}
    </select>


    <select id="queryStoreSupplierSettlement" resultType="com.dangjia.acg.dto.finance.WebSplitDeliverItemDTO">
        SELECT
            a.shipAddress,
            a.supplierId,
            a.supMobile,
            a.supName,
            SUM(a.sent) sent,
            SUM(a.wait) wait
        FROM
            (
                (
                    SELECT
                        m.ship_address AS shipAddress,
                        m.supplier_id AS supplierId,
                        m.supplier_telephone AS supMobile,
                        m.supplier_name AS supName,
                        (
                            SELECT
                                COUNT(d.id)
                            FROM
                                dj_repair_mend_deliver d
                            WHERE
                                d.supplier_id = m.supplier_id
                            AND d.apply_state = 1
                        ) sent,
                        (
                            SELECT
                                COUNT(d.id)
                            FROM
                                dj_repair_mend_deliver d
                            WHERE
                                d.supplier_id = m.supplier_id
                            AND d.apply_state = 0
                        ) wait
                    FROM
                        dj_repair_mend_deliver m
                    WHERE
                        m.data_status = 0
                    AND m.apply_state IS NOT NULL
                    AND m.apply_state != 3
                    <if test="searchKey!=null and searchKey!=''">
                        and (m.supplier_name like CONCAT('%',#{searchKey},'%'))
                    </if>
                    AND EXISTS (
                        SELECT
                            1
                        FROM
                            dj_sup_application sa
                        WHERE
                            sa.sup_id = m.supplier_id
                        AND sa.shop_id = #{storefrontId}
                        AND application_status = 1
                    )
                    GROUP BY
                        m.supplier_id
                )
                UNION ALL
                    (
                        SELECT
                            s.ship_address AS shipAddress,
                            s.supplier_id AS supplierId,
                            s.supplier_telephone AS supMobile,
                            s.supplier_name AS supName,
                            (
                                SELECT
                                    COUNT(d.id)
                                FROM
                                    dj_deliver_split_deliver d
                                WHERE
                                    d.supplier_id = s.supplier_id
                                AND (
                                    d.apply_state = 1
                                    OR d.apply_state = 2
                                )
                            ) sent,
                            (
                                SELECT
                                    COUNT(d.id)
                                FROM
                                    dj_deliver_split_deliver d
                                WHERE
                                    d.supplier_id = s.supplier_id
                                AND d.apply_state = 0
                            ) wait
                        FROM
                            dj_deliver_split_deliver s
                        WHERE
                            s.data_status = 0
                        AND s.apply_state IS NOT NULL
                        AND s.apply_state != 3
                        <if test="searchKey!=null and searchKey!=''">
                            and (s.supplier_name like CONCAT('%',#{searchKey},'%'))
                        </if>
                        AND EXISTS (
                            SELECT
                                1
                            FROM
                                dj_sup_application sa
                            WHERE
                                sa.sup_id = s.supplier_id
                            AND sa.shop_id = #{storefrontId}
                            AND application_status = 1
                        )
                        GROUP BY
                            s.supplier_id
                    )
            ) a
        GROUP BY
            a.supplierId
        ORDER BY
            a.wait DESC
    </select>

    <select id="myWallet" resultType="java.lang.Double">
        SELECT
        IFNULL(sum(total_amount),0)
        FROM
        dj_deliver_split_deliver
        WHERE
        storefront_id =#{storefrontId}
        AND shipping_state IN (1, 2, 4, 5, 7, 8)
        <if test="null!=date">
            AND TIMESTAMPDIFF(DAY,send_time,SYSDATE())>=7
        </if>
    </select>

    <select id="selectStoreExpenseRecord" resultType="com.dangjia.acg.dto.storefront.StoreExpenseRecordDTO">
        select
        IFNULL(dfr.house_order_id,'')  as houseOrderId,-- 要货单号
        IFNULL(dfr.money,'')  as money,-- 实际收入金额
        IFNULL(ddo.total_amount,'')  as totalAmount -- 订单金额
        from dj_account_flow_record dfr
        inner join dj_deliver_order  ddo on dfr.house_order_id=ddo.id
        where 1=1 and flow_type=1 and state in (0,2)
        <if test="houseOrderId!=null and houseOrderId!=''">
            and dfr.house_order_id     LIKE CONCAT('%',#{houseOrderId},'%')
        </if>
        <if test="storefrontId!=null and storefrontId!=''">
            and ddo.storefont_id=#{storefrontId}
        </if>
    </select>
</mapper>