<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjia.acg.mapper.storefront.IStorefrontProductMapper">

    <select id="querySingleStorefrontProductById" resultType="com.dangjia.acg.dto.storefront.StorefrontProductListDTO">
          SELECT
            bsp.product_name AS productName,
            bpt.product_sn AS productSn,
            bsp.image,
            bpt.id AS productId
        FROM
            dj_basics_storefront_product bsp
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id
        WHERE
            bsp.id = #{id}
    </select>

    <select id="selectProductByGoodsType" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM dj_basics_storefront_product dbsp
        INNER JOIN dj_basics_product_template dbpt ON dbsp.prod_template_id=dbpt.id
        INNER JOIN dj_basics_goods dbg ON dbpt.goods_id=dbg.id AND dbg.type=2
        WHERE dbsp.id =#{id}
    </select>

    <select id="queryStorefrontProductViewDTOList" resultType="com.dangjia.acg.dto.storefront.BasicsStorefrontProductViewDTO">

        SELECT
        bsp.id,
        bg. NAME AS goodsName,
        -- 货品名称
        bsp.product_name AS productName,
        -- 商品名称
        bg.attribute_id_arr AS attributeIdArr,
        -- 属性
        IFNULL(bsp.is_shelf_status,null )   AS isShelfStatus ,-- 是否上下架
        prod_template_id as prodTemplateId -- 商品模板id
        FROM
        dj_basics_storefront_product bsp
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id
        INNER JOIN dj_basics_goods bg ON bsp.goods_id = bg.id
        where 1=1 and   bsp.data_status=0 and bsp.storefront_id=#{storefrontId}
        <if test="null!=cityId and ''!=cityId">
            and  bsp.city_id=#{cityId}
        </if>
        <if test="null!=keyWord and ''!=keyWord">
            and (
            bg. NAME LIKE CONCAT('%',#{keyWord},'%') or
            bsp.product_name LIKE CONCAT('%',#{keyWord},'%')
            )
        </if>
    </select>

    <select id="queryCartList" resultType="com.dangjia.acg.dto.product.ShoppingCartProductDTO">
          SELECT
            bsp.prod_template_id AS productId,
            bsp.product_name AS productName,
            bsp.sell_price AS sellPrice,
            bsp.image,
            CONCAT_WS(
                " ",
                bb.`name`,
                bpt.value_name_arr
            ) AS specificationAttributes
        FROM
            dj_basics_storefront_product bsp
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id
        INNER JOIN dj_basics_goods bg ON bg.id = bpt.goods_id
        INNER JOIN dj_basics_brand bb ON bb.id = bg.brand_id
        WHERE
            bsp.storefront_id =#{storefrontId}
        AND bsp.prod_template_id =#{productId}
    </select>


    <select id="queryCollectGood" resultType="com.dangjia.acg.dto.product.MemberCollectDTO">
        SELECT
            bsp.prod_template_id AS productId,
            bsp.product_name AS productName,
            bsp.image,
            bpt.unit_name AS unitName
        FROM
            dj_basics_storefront_product bsp
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id
        WHERE
            bsp.prod_template_id =#{productId}
            and bsp.storefront_id=#{storefrontId}
    </select>

<!--根据店铺id查询供应的商品-->
    <select id="queryStorefrontListByStorefrontId" resultType="com.dangjia.acg.dto.storefront.StorefrontDTO">

        SELECT
            bsp.prod_template_id AS productId,
            bsp.product_name AS productName,
            bsp.image,
            bpt.unit_name AS unitName
        FROM
            dj_basics_storefront_product bsp
        INNER JOIN dj_basics_product_template bpt ON bsp.prod_template_id = bpt.id
        WHERE
            bsp.prod_template_id =#{productId}
            and bsp.storefront_id=#{storefrontId}

        SELECT
        bpt.image, -- 商品图片
        bpt.name as productName, -- 商品名称
        bpt.product_sn as productSn, -- 商品编号
        ssp.stock, -- 总购买数
        ssp.price, -- 供货数
        ssp.supplier_id as supId, -- 成本价格
        ssp.product_id as productId , -- 销售价格
        lirun -- 利润
        FROM
        dj_sup_supplier_product ssp
        INNER JOIN dj_basics_product_template bpt ON ssp.product_id=bpt.id
        WHERE 1=1 and ssp.data_status=0 and
        ssp.supplier_id =#{supId}
        <if test="null!=searchKey and ''!=searchKey">
            AND (
            bpt.name LIKE CONCAT('%',#{searchKey},'%') or
            bpt.product_sn LIKE CONCAT('%',#{searchKey},'%')
            )
        </if>

    </select>

</mapper>